Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: create DR in deploy script (#420)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

feat: add v2.2.0 functions
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/orchestration/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/index.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
  packages/core-sdk/src/voucher/subgraph.ts
Due: core-sdk

fix: build
  packages/core-sdk/src/voucher/handler.ts
Due: core-sdk

fix: build
  packages/core-sdk/src/offers/handler.ts
Due: core-sdk

revert: protocolDiamond in staging
  packages/common/src/configs.ts
Due: common

test: add first premint test
  contracts/accounts.js
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/voucher/interface.ts
Due: core-sdk

tests: more tests
  e2e/tests/core-sdk-premint.test.ts
  packages/common/src/types/index.ts
  packages/common/src/types/vouchers.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/mixin.ts
Due: common, core-sdk

tests: more tests
  contracts/accounts.js
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
Due: core-sdk

fix: pr requested changes
  e2e/docker-compose.yml
  packages/core-sdk/src/voucher/index.ts
  packages/core-sdk/src/voucher/subgraph.ts
Due: core-sdk

tests: add e2e for signMetaTxReserveRange and signMetaTxPreMint
  e2e/run-e2e-services.sh
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
Due: core-sdk

tests: skip failing test
  e2e/tests/meta-tx.test.ts
Due: none

feat: add v2.2.0 functions (#421)
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/run-e2e-services.sh
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/index.ts
  packages/common/src/types/vouchers.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/orchestration/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/index.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
Due: common, core-sdk

wip
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: core-sdk

wip
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy.js
  docs/contracts-update.md
  e2e/docker-compose.yml
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/meta-tx.test.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/types/vouchers.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
Due: common, core-sdk

wip to add meta-tx relay via forwarder
  contracts/hardhat.config.js
  e2e/meta-tx-gateway/src/app.ts
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/MockForwarder.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: common, core-sdk

meta-tx todos
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

get nonce in test
  e2e/tests/meta-tx.test.ts
Due: none

wip
  e2e/tests/meta-tx.test.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
Due: common, core-sdk

fix: tests
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/core-sdk/src/utils/signature.ts
Due: common, core-sdk

test: remove .only
  e2e/tests/core-sdk-premint.test.ts
Due: none

chore: minor changes
  contracts/scripts/deploy.js
Due: none

fix: contributor docs
  docs/README.md
Due: none

fix: broken twitter
  README.md
Due: none

update protocol-contracts
  e2e/docker-compose.yml
Due: none

fix: preMint with forwarder (#422)
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy.js
  docs/contracts-update.md
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/src/app.ts
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/MockForwarder.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/src/types/vouchers.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
Due: common, core-sdk

chore: move forwarder logic inside function
  e2e/run-e2e-services.sh
  e2e/tests/meta-tx.test.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
Due: common, core-sdk

refactor: getNonce logic
  packages/common/src/types/web3-lib-adapter.ts
  packages/core-sdk/src/forwarder/handler.ts
  packages/core-sdk/src/forwarder/index.ts
  packages/core-sdk/src/forwarder/interface.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
Due: common, core-sdk

minor changes
  packages/common/src/configs.ts
  packages/common/tests/mocks.ts
Due: common

chore: move forwarder logic inside function (#426)
  e2e/run-e2e-services.sh
  e2e/tests/meta-tx.test.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/forwarder/handler.ts
  packages/core-sdk/src/forwarder/index.ts
  packages/core-sdk/src/forwarder/interface.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: common, core-sdk

wip
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  packages/common/src/abis/BiconomyForwarderABI.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/forwarder/biconomy-interface.ts
  packages/core-sdk/src/forwarder/handler.ts
  packages/core-sdk/src/forwarder/mock-interface.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/utils/signature.ts
  packages/subgraph/package.json
Due: common, core-sdk

minor things wip
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

chore: add reservedRange in explore-offer script
  packages/core-sdk/src/index.ts
  scripts/explore-offer.ts
Due: core-sdk

chore: add verifying the signature for Biconomy Forwarder
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/forwarder/biconomy-interface.ts
  packages/core-sdk/src/forwarder/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

fix: set the gas value for preMint meta-transaction
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix linter
  packages/core-sdk/src/forwarder/biconomy-interface.ts
Due: core-sdk

fix e2e test
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: contributor docs (#423)
  docs/README.md
Due: none

fix: broken twitter (#425)
  README.md
Due: none
