Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: allow IPFS get to return string (not only JSON) (#201)
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none

fix: rollup compatibility
  package-lock.json
  packages/common/package.json
  packages/core-sdk/package.json
  packages/core-sdk/src/accounts/index.ts
  packages/core-sdk/src/offers/index.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

build: remove top-level yup dep
  package.json
Due: none

revert yup beta update
  package-lock.json
  packages/common/package.json
  packages/core-sdk/package.json
Due: none

fix: fill voucherRedeemableUntil OR voucherValid with correct values when creating an offer (exactly one of them must be non zero). Adapt validation rules accordingly
  e2e/tests/core-sdk.test.ts
  packages/common/src/utils/validation.ts
  packages/common/tests/mocks.ts
  packages/common/tests/utils/validation.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: common, core-sdk

code linting
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: fill voucherRedeemableUntil OR voucherValid with correct values … (#203)
  e2e/tests/core-sdk.test.ts
  packages/common/src/utils/validation.ts
  packages/common/tests/mocks.ts
  packages/common/tests/utils/validation.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: common, core-sdk

prevent circular deps in rollup build
  packages/core-sdk/src/offers/getOfferStatus.ts
Due: core-sdk

chore: update contracts submodule, addresses and ABI
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/ProtocolDiamond.json
  packages/common/src/configs.ts
Due: common

fix: make commitToOffer compatible to eth-connect-sdk
  packages/core-sdk/src/exchanges/handler.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: core-sdk

fix: rollup bundle compatibility (#202)
  package-lock.json
  package.json
  packages/core-sdk/package.json
  packages/core-sdk/src/accounts/index.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/offers/getOfferStatus.ts
  packages/core-sdk/src/offers/index.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: core-sdk

adapt subgraph
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/mocks.ts
Due: none

fix: add cta button variant option
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

fix: export button props
  packages/react-kit/src/components/buttons/Button.tsx
Due: none

fix: add cta button variant option (#205)
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

chore: restore staging env on ropsten
  docs/releases.md
  e2e/docker-compose.yml
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
Due: common

update typechain bindings (ethers-sdk)
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/ProtocolDiamond.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/ProtocolDiamond__factory.ts
Due: none

update core-sdk
  apps/widgets/src/views/create-offer/index.tsx
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/interface.ts
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
Due: common, core-sdk

lint code
  packages/common/src/configs.ts
Due: common

fix contracts deployment
  contracts/scripts/deploy.js
  packages/common/src/configs.ts
Due: common

chore: restore staging env on ropsten (#206)
  docs/releases.md
  e2e/docker-compose.yml
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
Due: common

feat: fix e2e test issue
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  packages/common/src/configs.ts
Due: common

refactor: method to create dispute resolution signature
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

fixup
  e2e/tests/core-sdk.test.ts
Due: none

feat: sign dispute resolution proposal (#207)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

fix: change subgraph URL on staging
  docs/releases.md
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
Due: common

fix: change subgraph URL on staging (#208)
  docs/releases.md
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
Due: common

link to contracts on mumbai
  docs/releases.md
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

chore: semantic commit
  README.md
Due: none

chore: link staging env to contracts on mumbai (#209)
  README.md
  docs/releases.md
  packages/common/src/configs.ts
  packages/subgraph/README.md
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

Update subgraph URL
  packages/common/src/configs.ts
Due: common

Update subgraph URL (#210)
  packages/common/src/configs.ts
Due: common

Update package-lock
  package-lock.json
Due: none

chore: update package-lock (#211)
  package-lock.json
Due: none

chore: fix staging IPFS URL in common/config
  packages/common/src/configs.ts
Due: common

chore: fix staging IPFS URL in common/config (#212)
  packages/common/src/configs.ts
Due: common

fix: staging config ipfs metadata url
  packages/common/src/configs.ts
Due: common

fix: staging config ipfs metadata url (#213)
  packages/common/src/configs.ts
Due: common

feat: update nativeCoin properties in subgraph & add nativeCoin info in the defaultConfig
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/subgraph/src/entities/token.ts
Due: common
