Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

chore: add script for complete-exchanges
  package.json
  scripts/complete-exchange.ts
Due: none

meta-transactions support in complete-exchange script
  scripts/.gitignore
  scripts/complete-exchange.ts
Due: none

fix: images metadata
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/animationMetadata.ts
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: core-sdk

fix: tests
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

fix: images metadata (#447)
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/animationMetadata.ts
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: core-sdk

chore(release): publish alpha
  e2e/meta-tx-gateway/package.json
  package-lock.json
  packages/common/package.json
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
  packages/subgraph/package.json
Due: none

chore(release): publish alpha (#448)
  e2e/meta-tx-gateway/package.json
  package-lock.json
  packages/common/package.json
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
  packages/subgraph/package.json
Due: none

PR remarks
  scripts/.gitignore
  scripts/complete-exchange.ts
  scripts/metaTx.example.json
Due: none

chore: add complete exchange script (#446)
  package.json
  scripts/.gitignore
  scripts/complete-exchange.ts
  scripts/metaTx.example.json
Due: none

feat: add OfferExtended and ReservedRange events in subgraph
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

add offer range in subgraph requests
  e2e/tests/core-sdk-premint.test.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

Add methods for extendOffer/extendOfferBatch
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

fix e2e test
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add offer range in subgraph (#449)
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

feat: upgrade to protocol v2.2.0
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  packages/common/src/abis/BiconomyForwarder.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonAccountHandlerLegacy.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/ethers-sdk/src/contracts/BiconomyForwarder.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandlerLegacy.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/MockForwarder.ts
  packages/ethers-sdk/src/contracts/factories/BiconomyForwarder__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandlerLegacy__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockForwarder__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
  scripts/export-abis.ts
Due: common, core-sdk

rename "operator" into "assistant"
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/core-sdk/tests/exchanges/handler.test.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/mocks.ts
  scripts/create-dispute-resolver.ts
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/update-seller.ts
  scripts/utils/account.ts
Due: common, core-sdk

fix e2e tests
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

add e2e tests for reserving offer range for voucher contract
  e2e/tests/meta-tx.test.ts
Due: none

fix subgraph test
  packages/subgraph/tests/mocks.ts
Due: none

add e2e test to approve preminted tokens and validate seaport orders
  contracts/scripts/deploy-mockSeaport.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/seaport/abi.ts
  packages/core-sdk/src/seaport/handler.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
Due: common, core-sdk

lint code
  packages/core-sdk/src/seaport/handler.ts
Due: core-sdk

add e2e tests for calling seaport validate for preminted vouchers with meta-transactions
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/seaport/index.ts
Due: core-sdk

replace MockSeaport with real Seaport contract (from protocol-contracts submodules)
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy-mockSeaport.js
  contracts/scripts/deploy-seaport.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/utils.ts
  packages/common/src/configs.ts
Due: common

point protocol-contracts onto tag v2.2.0-rc.4
  e2e/docker-compose.yml
Due: none

fix issue with meta-tx e2e test
  e2e/tests/meta-tx.test.ts
Due: none

(try to) fix e2e test pipeline
  .github/workflows/ci.yaml
  contracts/hardhat.config.js
  e2e/docker-compose.yml
Due: none

Allow to override the txGas for signMetaTxCallExternalContract and signMetaTxSetApprovalForAllToContract
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

fix: subgraph issue
  packages/subgraph/subgraph.template.yaml
Due: none

fix: missing numeric value in eItemType
  packages/core-sdk/src/seaport/handler.ts
Due: core-sdk

fix: subgraph 2.2.0 (#453)
  packages/core-sdk/src/seaport/handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

chore: add exports
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/index.tsx
  packages/react-kit/src/index.tsx
Due: none

style: import google font at storybook level
  packages/react-kit/.storybook/preview-head.html
  packages/react-kit/src/components/widgets/finance/FinanceWidget.css
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
Due: none

add connect/disconnect button in finance story
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
Due: none

fix: build
  packages/react-kit/src/components/widgets/finance/Finance.tsx
  packages/react-kit/src/components/widgets/finance/useSellerRoles.ts
Due: none

fix: build (#455)
  packages/react-kit/src/components/widgets/finance/Finance.tsx
  packages/react-kit/src/components/widgets/finance/useSellerRoles.ts
Due: none

refactor: move core-sdk getters
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: core-sdk

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
