Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

build: fix lint
  packages/common/src/types/configs.ts
Due: common

fix: tests
  packages/common/src/types/configs.ts
Due: common

feat: update nativeCoin properties in subgraph & add nativeCoin info in the defaultConfig (#214)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/subgraph/src/entities/token.ts
Due: common

feat: button variants and hover effects
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

feat: add ipfs gateway headers
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none

fix: instantiate ipfs storage module from react-kit
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

fix: after cr
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

fix: instantiate ipfs storage module correctly
  apps/widgets/src/lib/useCoreSDK.tsx
  packages/ipfs-storage/tests/ipfs.test.ts
  scripts/explore-offer.ts
Due: none

fix: eslint error
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

fix: test linting/prettier
  packages/ipfs-storage/tests/ipfs.test.ts
Due: none

feat: cta variant styles consistency (#215)
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

feat: add ipfs gateway headers (#216)
  apps/widgets/src/lib/useCoreSDK.tsx
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  scripts/explore-offer.ts
Due: none

chore: update the graph ipfs url
  packages/common/src/configs.ts
Due: common

chore: update the graph ipfs url (#217)
  packages/common/src/configs.ts
Due: common

refactor: remove `fromTheGraphIpfsUrl` factory method
  apps/widgets/src/lib/useCoreSDK.tsx
  packages/common/src/configs.ts
  packages/ipfs-storage/src/constants.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  scripts/explore-offer.ts
Due: common

fixup
  packages/ipfs-storage/src/index.ts
Due: none

fixup
  packages/ipfs-storage/tests/index.test.ts
Due: none

fix: the graph ipfs storage url on staging (#218)
  apps/widgets/src/lib/useCoreSDK.tsx
  packages/common/src/configs.ts
  packages/ipfs-storage/src/constants.ts
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/ipfs-storage/tests/index.test.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  scripts/explore-offer.ts
Due: common

fix: default the graph storage url
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/subgraph/src/entities/token.ts
Due: none

fix: default the graph storage url (#219)
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/subgraph/src/entities/token.ts
Due: none

style: make border transparent instead of removing it in different states
  packages/react-kit/src/components/buttons/Button.styles.ts
Due: none

style: make border transparent instead of removing it in different states (#220)
  packages/react-kit/src/components/buttons/Button.styles.ts
Due: none

feat: extend dates in exchange and dispute entities
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
Due: core-sdk

test(e2e): adjust tests to new date fields
  e2e/tests/core-sdk.test.ts
Due: none

docs: supported coins
  packages/react-kit/src/types/Currencies.ts
Due: none

feat: product card
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

coin icons
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Euro.tsx
  packages/react-kit/src/icons/coins/GBP.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/USD.tsx
  packages/react-kit/src/icons/coins/index.tsx
Due: none

feat: add explicit dispute dates (#221)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
Due: core-sdk

feat: add subgraph handling for voucher transfers
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

fix object deconstruction
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

feat: add subgraph handling for voucher transfers (#222)
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

fix: add voucher transferred handler to manifest
  packages/subgraph/subgraph.template.yaml
Due: none

fix: add voucher transferred handler to manifest (#223)
  packages/subgraph/subgraph.template.yaml
Due: none

fix: function name of voucher transferred handler
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

fix: voucher transferred handler (#224)
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

feat: :construction_worker: new currency display
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/icons/coins/Euro.tsx
  packages/react-kit/src/icons/coins/GBP.tsx
  packages/react-kit/src/icons/coins/USD.tsx
  packages/react-kit/src/icons/coins/index.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/CurrencyDisplay.stories.tsx
Due: none

feat: :monocle_face: add the new svg icons
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/index.tsx
Due: none

feat: :rocket: create and export component
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/types/Currencies.ts
Due: none

build: :art: build the story
  packages/react-kit/src/stories/CurrencyDisplay.stories.tsx
Due: none

feat: currency display component (#225)
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/index.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/CurrencyDisplay.stories.tsx
  packages/react-kit/src/types/Currencies.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
