Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

tests: disable e2e tests
  .github/workflows/ci.yaml
Due: none

finalize signMetaTxRaiseDispute()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: void button metaTx add
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

feat: void batch button metaTx add
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
Due: none

feat: void button default theme update
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

finalize signMetaTxEscalateDispute() and signMetaTxRetractDispute()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: exchange cta updates (#354)
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
Due: none

feat: add new erc tokens
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
Due: none

feat: mock erc tokens
  e2e/tests/utils.ts
Due: none

feat: erc tokens
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: complete handler
  packages/core-sdk/src/groups/handler.ts
  packages/core-sdk/src/orchestration/handler.ts
Due: core-sdk

feat: add tooltip for product card
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/tooltip/Tooltip.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
  packages/react-kit/src/stories/tooltip/tooltip.stories.tsx
Due: none

feat: add tooltip for product card (#359)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/tooltip/Tooltip.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
  packages/react-kit/src/stories/tooltip/tooltip.stories.tsx
Due: none

fix: add wrapper to fix type inside productCard
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat:
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/utils/logs.ts
Due: common, core-sdk

fix: add wrapper to fix type inside productCard (#360)
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat: get offer and group
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: minting erc721
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

feat: create offer cta wip
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
Due: none

add ipfsMetadataStorageHeaders property in the stories for createOffer CTA
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
Due: none

feat: support meta transactions (#348)
  e2e/tests/meta-tx.test.ts
  package.json
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/utils/logs.ts
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  scripts/explore-offer.ts
  scripts/update-seller.ts
  scripts/utils/account.ts
Due: core-sdk

feat: fc
  e2e/tests/core-sdk.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/groups/interface.ts
Due: core-sdk

feat: complete tests
  e2e/tests/core-sdk.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/groups/interface.ts
  packages/core-sdk/src/utils/logs.ts
Due: core-sdk

feat: add more tests
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

fix: remove only
  e2e/tests/core-sdk.test.ts
Due: none

feat: create offer cta update
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
Due: none

feat: conflict solve
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

feat: remove duplicated export
  packages/react-kit/src/index.tsx
Due: none

refactor: add generic `<CtaButton/>` and separate click handler hook
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

feat: add the exchanges returned with the variants
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add the exchanges returned with the variants (#362)
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

test: complete the tests
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix stories
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
Due: none

add support for multiple actions
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

fix: lint code
  packages/common/src/types/groups.ts
Due: common

fix bug when counting numberOfRedemptions
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

fix meta-tx configuration for CommitButton story
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

fix: restore deleted method
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

refactor: add generic `<CtaButton/>` and separate click handler hook (#361)
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
