Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

Update packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
Due: none

fix linter
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

try to fix e2e failure on CI
  .github/workflows/ci.yaml
  e2e/run-e2e-suite.sh
Due: none

set back all e2e test
  e2e/run-e2e-suite.sh
Due: none

feat: redemption widget add handlers (#605)
  .github/workflows/ci.yaml
  package.json
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/hooks/callbacks/useRedemptionCallbacks.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
  scripts/get-buyers.ts
Due: none

fix: typescript compilation warning
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

fix: build
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
Due: none

try remove packageManager from package.json
  package.json
Due: none

fix: token gate commit
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

fix: checkTokenGatedCondition and typescript compilation warning (#608)
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk.test.ts
  package.json
  packages/core-sdk/src/offers/mixin.ts
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
Due: core-sdk

chore; change testing subgraph deployment to Alchemy
  packages/common/src/configs.ts
  packages/subgraph/package.json
Due: common

feat: integrate finance widget
  packages/core-sdk/src/core-sdk.ts
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/signer/useExternalSigner.ts
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
  packages/react-kit/src/hooks/useSignerAddress.tsx
  packages/react-kit/src/stories/helpers/connect-wallet.ts
Due: core-sdk

usecoresdkoverrides'
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/DecideDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/EscalateDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExpireDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExpireEscalationDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExtendDisputeTimeoutButton.tsx
  packages/react-kit/src/components/cta/dispute/RaiseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RefuseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawAllFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useCoreSdkOverrides.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useSignerAddress.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/signer/externalSigner.ts
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

remove logs
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/widgets/finance/Finance.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

refactor
  packages/react-kit/src/components/widgets/finance/Finance.tsx
Due: none

refactor
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: none

refactor
  packages/react-kit/src/components/magicLink/Login.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/widgets/finance/Finance.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/useCurrentSellers.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: none

disconnect wallet in finance widget if it doesnt match the provided sellerid
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/useSellerRoles.ts
  packages/react-kit/src/hooks/connection/useDisconnect.ts
Due: none

fix errors
  packages/react-kit/src/components/wallet/ConnectButton.tsx
  packages/react-kit/src/components/widgets/finance/Finance.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
Due: none

fix errors
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: none

change target origin
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/lib/signer/externalSigner.ts
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

remove unused imports
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
Due: none

fix some lint problems
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/react-kit/src/components/magicLink/Login.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/widgets/finance/convertion-rate/ConvertionRateProvider.tsx
Due: core-sdk

feat: commit widget
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitSuccess.tsx
  packages/react-kit/src/components/modal/components/Commit/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferPolicyView/CommitOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescription.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/Redeem/OfferPolicyView/RedeemOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/BosonFooter.tsx
  packages/react-kit/src/components/modal/components/common/DetailOpenSea.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/style.tsx
  packages/react-kit/src/components/modal/components/common/detail/Detail.style.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailSlider.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailTable.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailTransactions.tsx
  packages/react-kit/src/components/modal/components/common/detail/SellerAndDescription.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
  packages/react-kit/src/components/widgets/commit/CommitModalWithOffer.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/hooks/products/useProductByUuid.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: none

fix: do not create an offer when the seller does not exist
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
Due: none

fix subgraph tests
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

fix subgraph test
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

fix: do not create an offer when the seller does not exist (#614)
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

wip
  packages/react-kit/src/components/modal/ModalComponents.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/DetailTopRightLabel.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/QuantityDisplay.tsx
  packages/react-kit/src/components/modal/components/Commit/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceWithdraw.tsx
  packages/react-kit/src/components/modal/components/Transactions/TransactionFailedModal/TransactionFailedModal.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailDisputeResolver.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGated.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/hooks/core-sdk/types.ts
Due: none

wip
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/react-kit/src/components/modal/components/Commit/DetailView/DetailView.tsx
  packages/react-kit/src/hooks/core-sdk/types.ts
  packages/react-kit/src/hooks/core-sdk/useCoreSdkWithContext.ts
Due: core-sdk

feat: update contract offers no expiration
  data/contractualAgreement.template.md
  data/ipfs.txt
  data/rNFTLicense.template.md
  packages/core-sdk/src/offers/renderContractualAgreement.ts
Due: core-sdk

feat: update exchange policy rules template
  data/exchangePolicies/exchangePolicyRules.template.json
Due: none

chore: update exchage policy rules ipfs
  data/ipfs.txt
Due: none

feat: update contract offers no expiration (#616)
  data/contractualAgreement.template.md
  data/exchangePolicies/exchangePolicyRules.template.json
  data/ipfs.txt
  data/rNFTLicense.template.md
  packages/core-sdk/src/offers/renderContractualAgreement.ts
Due: core-sdk

load by offerId, disable dropdowns, default variant
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/subgraph.ts
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/widgets/commit/CommitModalWithOffer.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/hooks/products/useProductByOfferId.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: core-sdk

cleanup
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
