Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

refresh contracts ABI and fix a few issues
  contracts/scripts/deploy-dRFeeMutualizer.js
  contracts/scripts/deploy-weth.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/DRFeeMutualizer.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeCommitHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
  packages/common/src/abis/IDRFeeMutualizer.json
  packages/ethers-sdk/src/contracts/DRFeeMutualizer.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeCommitHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonFundsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonPriceDiscoveryHandler.ts
  packages/ethers-sdk/src/contracts/IDRFeeMutualizer.ts
  packages/ethers-sdk/src/contracts/factories/DRFeeMutualizer__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeCommitHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonPriceDiscoveryHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IDRFeeMutualizer__factory.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/tests/mocks.ts
Due: common

add voidNonListedOfferBatch() method
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

clean unexpected comment
  e2e/tests/core-sdk.test.ts
Due: none

refresh subgraph generated sdk
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

clean unexpected comment
  packages/core-sdk/src/offers/handler.ts
Due: core-sdk

ci: fix subgraph deployment
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/subgraph/package.json
Due: none

ci: fix subgraph deployment (#978)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/subgraph/package.json
Due: none

fix e2e test
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

add some e2e test case for buyer-initiated offer (similar to those for seller-initiated)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/handler.ts
Due: core-sdk

add getOfferHash() method
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

capture NonListedOfferVoided event in subgraph and use to check if a full offer is voided
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/exchanges/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

fix lint
  packages/core-sdk/src/exchanges/subgraph.ts
Due: core-sdk

improve test coverage
  packages/common/src/utils/validation.ts
  packages/common/tests/utils/validation.test.ts
Due: common

ad some e2e test cases
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

improve e2e test coverage
  e2e/tests/core-sdk.test.ts
Due: none

feat: add create offer and commit (#973)
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/common/tests/utils/validation.test.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/exchanges/subgraph.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/offers/types.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

fix: seller shall not be mandatory in the ProductV1Seller structure
  packages/subgraph/schema.graphql
Due: none

update boson-subgraph image tag
  e2e/docker-compose.yml
Due: none

Seller shall not be mandatory in other OfferMetadata structure types
  packages/subgraph/schema.graphql
Due: none

regenerate core-sdk subgraph layer
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
Due: core-sdk

fix: seller shall not be mandatory in the offer metadata structure (#979)
  e2e/docker-compose.yml
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/subgraph/schema.graphql
Due: core-sdk

feat: change royaltyInfo struct expected to create offer
  package-lock.json
  packages/common/src/types/offers.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/hooks/roblox/context/RobloxProvider.tsx
  packages/react-kit/src/hooks/roblox/useGetRobloxWalletAuth.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxBackendLogin.ts
  packages/react-kit/src/hooks/roblox/useRobloxExchanges.ts
  packages/react-kit/src/hooks/roblox/useRobloxLocalStorage.ts
  packages/react-kit/src/hooks/roblox/useRobloxProducts.ts
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/react-kit/src/lib/roblox/config.ts
  packages/react-kit/src/lib/roblox/constants.ts
  packages/react-kit/src/lib/roblox/getIsOfferRobloxGated.ts
  packages/react-kit/src/lib/roblox/types.ts
  packages/react-kit/src/lib/roblox/utils.ts
Due: common, core-sdk

fix unit test
  e2e/tests/core-sdk-royalties.test.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: none

feat: change royaltyInfo struct expected to create offer (#980)
  e2e/tests/core-sdk-royalties.test.ts
  package-lock.json
  packages/common/src/types/offers.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/interface.test.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/hooks/roblox/context/RobloxProvider.tsx
  packages/react-kit/src/hooks/roblox/useGetRobloxWalletAuth.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxBackendLogin.ts
  packages/react-kit/src/hooks/roblox/useRobloxExchanges.ts
  packages/react-kit/src/hooks/roblox/useRobloxLocalStorage.ts
  packages/react-kit/src/hooks/roblox/useRobloxProducts.ts
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/react-kit/src/lib/roblox/config.ts
  packages/react-kit/src/lib/roblox/constants.ts
  packages/react-kit/src/lib/roblox/getIsOfferRobloxGated.ts
  packages/react-kit/src/lib/roblox/types.ts
  packages/react-kit/src/lib/roblox/utils.ts
Due: common, core-sdk

chore: fix update-protocol-address script following contracts upgrade
  scripts/update-protocol-addresses.ts
Due: none

chore: fix update-protocol-address script following contracts upgrade (#981)
  scripts/update-protocol-addresses.ts
Due: none

fix: hover on commit button when used in vite dapps (#972)
  packages/react-kit/src/components/buttons/commit/CommitView.tsx
  packages/react-kit/src/types/externals.d.ts
Due: none

feat: add ReserveRangeButton component
  packages/react-kit/src/components/cta/offer/ReserveRangeButton.tsx
  packages/react-kit/src/stories/cta/offer/ReserveRangeButton.stories.tsx
Due: none

feat: add PreMintButton and ReserveRangeButton
  packages/react-kit/src/components/cta/offer/PreMintButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/offer/PreMintButton.stories.tsx
Due: none

fix lint
  packages/react-kit/src/stories/cta/offer/ReserveRangeButton.stories.tsx
Due: none

consider price discovery offers in ProductCard and Offer Detail view
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewCore.tsx
  packages/react-kit/src/components/price/Price.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailViewWithPortal.tsx
Due: none

add missing minted property on range object
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

fix e2e tests
  e2e/docker-compose.yml
Due: none

feat: add PreMintButton and ReserveRangeButton (#983)
  e2e/docker-compose.yml
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/cta/offer/PreMintButton.tsx
  packages/react-kit/src/components/cta/offer/ReserveRangeButton.tsx
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailViewWithPortal.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewCore.tsx
  packages/react-kit/src/components/price/Price.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
  packages/react-kit/src/stories/cta/offer/PreMintButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/ReserveRangeButton.stories.tsx
Due: core-sdk

chore: define configuration inputs in JSON files and update the doc about environments
  docs/boson-environments.md
  packages/common/src/configs.ts
  packages/common/src/inputs/ipfsGateways.json
  packages/common/src/inputs/rpcUrls.json
  packages/common/src/inputs/subgraphs.json
Due: common

rework the localhost links in doc file
  docs/boson-environments.md
Due: none

fix lint
  packages/common/src/configs.ts
Due: common

wip
  docs/guides/use-with-react.md
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
