Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: remove unused button styles and fix svg hover styles (#565)
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/ui/styles.ts
Due: none

chore: add documentation for setting up a runnable local env
  .gitignore
  docs/guides/setup-local-env.md
  docs/guides/use-with-ethers-ipfs.md
  scripts/assets/offer_1.metadata.json
  scripts/assets/offer_1.onchain.json
  scripts/assets/small1.png
  scripts/assets/small2.png
  scripts/assets/small3.png
  scripts/pin-to-pinata.ts
Due: none

feat: add forcedAccount property on RedemptionWidget
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

Update packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

feat: add forcedAccount property on RedemptionWidget (#566)
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

chore: allow to create lots of offer in a batch, looping over when needed
  scripts/create-offer-batch.ts
Due: none

fix: force amd64 platform on dockers
  contracts/Dockerfile
  contracts/hardhat.config.js
  e2e/meta-tx-gateway/Dockerfile
Due: none

refresh image tags for dockers, to force them to rebuild
  e2e/docker-compose.yml
Due: none

chore: add documentation for seller account creation
  packages/common/src/types/accounts.ts
Due: common

fix: force amd64 platform on dockers (#569)
  contracts/Dockerfile
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/Dockerfile
  packages/common/src/types/accounts.ts
Due: common

chore: allow to create lots of offer in a batch, looping over when needed (#567)
  scripts/create-offer-batch.ts
Due: none

chore: updates discord and bug bounty links (#472)
  README.md
Due: none

chore: create config for staging configuration on goerli
  .github/workflows/deploy-staging-subgraph.yaml
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

update protocol diamond addesses
  packages/common/src/configs.ts
  packages/subgraph/scripts/render-manifest.ts
Due: common

chore: create config for staging configuration on goerli (#570)
  .github/workflows/deploy-staging-subgraph.yaml
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

chore: docs update and add a new test
  contracts/Dockerfile
  docs/guides/use-with-ethers-ipfs.md
  e2e/tests/accounts.test.ts
Due: none

force hardhat-node image to rebuild
  e2e/docker-compose.yml
Due: none

give up the hardhat node options....
  contracts/Dockerfile
  e2e/docker-compose.yml
Due: none

chore: docs update and add a new test (#572)
  docs/guides/use-with-ethers-ipfs.md
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
Due: none

fix: ensure identification of ProductV1ProductOverrides is correct
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: none

fix: ensure identification of ProductV1ProductOverrides is correct (#574)
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: none

feat:: identify product uniquely at seller level
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/subgraph.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/seller/salesChannels.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata.test.ts
  packages/subgraph/tests/mocks.ts
  scripts/assets/system-hacked.jpg
Due: core-sdk

fix: fix product metadata hack (#575)
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/subgraph.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/seller/salesChannels.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata.test.ts
  packages/subgraph/tests/mocks.ts
  scripts/assets/system-hacked.jpg
Due: core-sdk

feat: add productOverrides to queries
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

fix subgraph test
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/exchange-handler.test.ts
  packages/subgraph/tests/metadata.test.ts
  packages/subgraph/tests/mocks.ts
Due: none

feat: add productOverrides to queries (#576)
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/exchange-handler.test.ts
  packages/subgraph/tests/metadata.test.ts
  packages/subgraph/tests/mocks.ts
Due: core-sdk

fix: ensure pin-to-pinata is working on production
  packages/common/src/mappings.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  scripts/pin-to-pinata.ts
Due: common, core-sdk

fix: ensure pin-to-pinata is working on production (#577)
  packages/common/src/mappings.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  scripts/pin-to-pinata.ts
Due: common, core-sdk

chore: prepare for production/Ethereum deployment
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: none

fix network name for ethereum subgraph
  packages/subgraph/scripts/render-manifest.ts
Due: none

ad USDC/DAI/USDT on Goerli
  packages/common/src/mappings.ts
Due: common

feat: export metadata length limit used in validations
  packages/core-sdk/src/index.ts
  packages/metadata/src/index.ts
Due: core-sdk

feat: export metadata length limit used in validations (#579)
  packages/core-sdk/src/index.ts
  packages/metadata/src/index.ts
Due: core-sdk

fix: fix the escalationPeriod in create dispute resvoler script
  scripts/create-dispute-resolver.ts
Due: none

chore: prepare for production/Ethereum deployment (#578)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  packages/common/src/mappings.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

fix: fix the escalationPeriod in create dispute resvoler script (#580)
  scripts/create-dispute-resolver.ts
Due: none

feat: remove tokensList from Widget properties (read from core-sdk config instead)
  packages/react-kit/src/components/environment/EnvironmentContext.ts
  packages/react-kit/src/components/environment/EnvironmentProvider.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/convertion-rate/ConvertionRateProvider.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fix missing tokens in useEnvContext
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
Due: none

defaultDisputeResolverId should be read from coreSDK configuration, instead of env var
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fix: adapt widget config (#581)
  packages/react-kit/src/components/environment/EnvironmentContext.ts
  packages/react-kit/src/components/environment/EnvironmentProvider.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/convertion-rate/ConvertionRateProvider.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
