Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

fixup
  contracts/scripts/deploy-mock-erc20.js
  packages/subgraph/tests/dispute-handler.test.ts
Due: none

feat(core-sdk): support `voidOfferBatch`
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: core-sdk

feat(core-sdk): support `voidOfferBatch` (#227)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: core-sdk

refactor: :bulb: move the currency types
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/types/Currencies.ts
Due: none

refactor: :bulb: move the currency types (#228)
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/types/Currencies.ts
Due: none

add script to generate and export the ABI signatures
  .gitignore
  package.json
  scripts/abi-signatures.ts
Due: none

chore: add script to generate and export the ABI signatures
  .gitignore
  package.json
  scripts/abi-signatures.ts
Due: none

chore: add a script to generate abi signatures (#229)
  .gitignore
  package.json
  scripts/abi-signatures.ts
Due: none

sync with the contracts version pre-release v2.0.0-rc.1 deployed on Mumbai
  e2e/docker-compose.yml
  packages/common/src/configs.ts
Due: common

feat: build prod card
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/CurrencyDisplay.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: :art: display card button
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

style: :heavy_plus_sign: move styles
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat: build product card (#230)
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/CurrencyDisplay.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: update contracts to pre-release v2.0.0-rc.1 (#204)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/ProtocolDiamond.json
  packages/common/src/configs.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/interface.ts
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/ProtocolDiamond.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/ProtocolDiamond__factory.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/mocks.ts
Due: common, core-sdk

chore: ensure there is always a fee option specified when creating a DR
  scripts/create-dispute-resolver.ts
Due: none

ensure the testing env is targeting the same protocol version than staging
  packages/common/src/configs.ts
Due: common

docs(core-sdk): add missing ts-docs
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: return image data from IPFS without string conversion
  packages/ipfs-storage/src/ipfs/base.ts
Due: none

fix: return image data from IPFS without string conversion (#233)
  packages/ipfs-storage/src/ipfs/base.ts
Due: none

docs(core-sdk): add missing ts-docs (#232)
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

docs: basic for exported classes
  packages/common/src/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: common, core-sdk

docs: basic for exported classes (#234)
  packages/common/src/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: common, core-sdk

feat: exchange card component add
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

feat: code review fixes
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

feat: exchange card component add (#235)
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

feat(subgraph): add dispute field to exchange entity
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
Due: core-sdk

feat(subgraph): add dispute field to exchange entity (#236)
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
Due: core-sdk

feat: image component add, exchange card update
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/Image.stories.tsx
Due: none

feat: webpack storybook stream change to false
  packages/react-kit/.storybook/main.js
Due: none

feat: exchangeCard update
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

feat: create a method to relay meta-transactions through native API
  package-lock.json
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: common, core-sdk

add doc and lint code
  packages/core-sdk/src/core-sdk.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: core-sdk

chore: add script to deposit-funds to the protocol
  package.json
  scripts/deposit-funds.ts
Due: none

chore: lint scripts folder
  package.json
Due: none

feat: exchange card style update
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

Update scripts/deposit-funds.ts
  scripts/deposit-funds.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
