Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

add pendingSeller in subgraph
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

fix contracts deployment
  contracts/scripts/deploy.js
Due: none

ensure non-regression on updateSeller e2e tests
  contracts/scripts/deploy.js
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/types.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

fix update disputeResolver
  e2e/tests/accounts.test.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/types.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
Due: common, core-sdk

call optIn automatically for update that can be done by the same account
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/utils/logs.ts
Due: core-sdk

return pendingSeller and pendingDisputeResolver from the subgraph
  e2e/tests/accounts.test.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

update updateSeller CTA
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
Due: none

update update-seller script
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/utils/logs.ts
  scripts/update-seller.ts
Due: core-sdk

restore previous protocol address for TESTING env
  packages/common/src/configs.ts
Due: common

feat(react-kit): support fallback image src
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/Image.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat(react-kit): support fallback image src (#398)
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/Image.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

chore: upgrade contracts 2.1.0 (#397)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/index.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/erc1155/interface.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/src/utils/logs.ts
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
  scripts/update-seller.ts
Due: common, core-sdk

feat: add name property to useCtaClickHandler
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
Due: none

feat: action name type update
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

feat: add name property to useCtaClickHandler (#399)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
Due: none

feat: cta button types update
  packages/react-kit/src/components/cta/common/types.ts
Due: none

feat: cta button types update (#400)
  packages/react-kit/src/components/cta/common/types.ts
Due: none

chore: upgrade the ipfs hash for contractualAgreement.template.md
  data/ipfs.txt
Due: none

chore: upgrade the ipfs hash for contractualAgreement.template.md (#401)
  data/ipfs.txt
Due: none

fix: remove treasury from getSellerByAddress
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: core-sdk

fix: tests
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: none

feat: change send function so that signers that dont have eth_signTypedData_v4 dont fail
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

refactor: change if condition to check that signer exists
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix: remove treasury from getSellerByAddress (#402)
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: core-sdk

feat: change send function so that signers that dont have eth_signTypedData_v4 dont fail (#403)
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix: remove EIP712Domain from types to avoid 'ambiguous primary types or unused types' error
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix: keep only primary type in types
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix: remove EIP712Domain from types to avoid 'ambiguous primary types or unused types' error (#404)
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

ci: add workflow to pin to pinata
  .github/workflows/pin-to-pinata.yaml
  scripts/pin-to-pinata.ts
Due: none

ci: fix env var assignment
  .github/workflows/pin-to-pinata.yaml
Due: none

ci: run every hour
  .github/workflows/pin-to-pinata.yaml
Due: none

ci: fix script for staging and prod
  scripts/pin-to-pinata.ts
Due: none

fix: urls in metadata need to be reset with the new UUID
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/metadata/tests/productV1.test.ts
Due: none

fix: urls in metadata need to be reset with the new UUID (#406)
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/metadata/tests/productV1.test.ts
Due: none

ensure all types but EIP712Domain are kept in the typedData structure
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix: meta tx signature issue (#407)
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

ci: add workflow to pin to pinata (#405)
  .github/workflows/pin-to-pinata.yaml
  scripts/pin-to-pinata.ts
Due: none

add nonce in TransactionResponse
  packages/common/src/types/web3-lib-adapter.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: common

add transaction params in updateSeller
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/mixin.ts
  scripts/update-seller.ts
Due: core-sdk
