Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

fix: script to pin offers images to pinata
  scripts/pin-to-pinata.ts
Due: none

refactor: remove log
  scripts/pin-to-pinata.ts
Due: none

refactor: change ipfs gateway depending on environment
  scripts/pin-to-pinata.ts
Due: none

fix: script to pin offers images to pinata (#409)
  scripts/pin-to-pinata.ts
Due: none

fix: add action name to handle approval of erc20 token
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

fix: add action name to handle approval of erc20 token (#410)
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

chore: update the pinata url for testing and staging env
  scripts/explore-offer.ts
  scripts/pin-to-pinata.ts
Due: none

chore: update README.md (#392)
  README.md
Due: none

chore: update the pinata url for testing and staging env (#412)
  scripts/explore-offer.ts
  scripts/pin-to-pinata.ts
Due: none

feat: add update seller and opt in with meta transactions
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

feat: add update seller and opt in with meta transactions (#413)
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

feat: add dispute resolver id to filter productv1 metadata entities
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
Due: common, core-sdk

fix: tests
  packages/common/tests/utils/validation.test.ts
Due: none

test: add getProductV1MetadataEntities test
  e2e/tests/productV1.test.ts
Due: none

refactor: remove useless code
  e2e/tests/productV1.test.ts
Due: none

wip
  e2e/docker-compose.yml
  packages/common/src/abis/ERC1155.json
  packages/common/src/abis/ERC20.json
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/MockNativeMetaTransaction.json
  packages/common/src/abis/ProtocolDiamond.json
Due: common

upgrade
  contracts/hardhat.config.js
  contracts/scripts/deploy.js
  e2e/tests/utils.ts
  packages/common/src/abis/ERC1155.json
  packages/common/src/abis/ERC20.json
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/MockNativeMetaTransaction.json
  packages/common/src/abis/ProtocolDiamond.json
  packages/common/src/configs.ts
  packages/ethers-sdk/src/contracts/ERC1155.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonGroupHandler.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/MockNativeMetaTransaction.ts
  packages/ethers-sdk/src/contracts/factories/ERC1155__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonGroupHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockNativeMetaTransaction__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: common

update script
  contracts/scripts/deploy.js
  e2e/tests/utils.ts
Due: none

docs: initial Contributor Covenant Code of Conduct
  docs/code-of-conduct.md
Due: none

fix: some tests
  .gitignore
  contracts/scripts/deploy.js
  e2e/run-e2e-services.sh
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/erc721/handler.ts
  scripts/create-dispute-resolver.ts
Due: common, core-sdk

fix tests
  contracts/accounts.js
  contracts/scripts/deploy.js
  e2e/run-e2e-services.sh
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
Due: common

fix tests
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
Due: none

fix tests
  contracts/scripts/deploy.js
Due: none

update meta-tx-gatewayy image tag
  e2e/docker-compose.yml
Due: none

fix dr
  e2e/tests/utils.ts
Due: none

chore: remove @bosonprotocol/common dependency
  e2e/meta-tx-gateway/package.json
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/meta-tx-gateway/tsconfig.json
  package-lock.json
Due: none

revert: attempt to pinpoint error
  e2e/run-e2e-suite.sh
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
Due: none

Update README.md
  README.md
Due: none

Update README.md
  docs/README.md
Due: none

docs: initial Contributor Covenant Code of Conduct (#417)
  README.md
  docs/README.md
  docs/code-of-conduct.md
Due: none

update commit hash
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
Due: none

minor changes
  e2e/run-e2e-services.sh
  packages/common/src/configs.ts
Due: common

fix common config
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  packages/common/src/configs.ts
Due: common

remove logs
  e2e/tests/utils.ts
Due: none

e2e run all tests
  e2e/run-e2e-suite.sh
Due: none

meta-tx
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
Due: none

docs: minor change
  README.md
Due: none

chore: create DR in deploy script
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
Due: none
