Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

fix local contracts addresses
  packages/common/src/configs.ts
Due: common

fix export ButtonSize in react-kit
  packages/react-kit/src/index.tsx
Due: none

force meta-tx-gateway container rebuild
  e2e/docker-compose.yml
Due: none

pr review remark
  packages/core-sdk/src/accounts/interface.ts
Due: core-sdk

redirect meta-tx commitToOffer to commitToConditionalOffer in case the offer is conditional
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

ci: fix pin to pinata action
  .github/workflows/pin-to-pinata.yaml
Due: none

ci: fix pin to pinata action (#551)
  .github/workflows/pin-to-pinata.yaml
Due: none

feat: get fewer offer fields pinata
  packages/core-sdk/src/subgraph.ts
  scripts/pin-to-pinata.ts
Due: core-sdk

fix: query
  scripts/pin-to-pinata.ts
Due: none

feat: get fewer offer fields pinata (#552)
  packages/core-sdk/src/subgraph.ts
  scripts/pin-to-pinata.ts
Due: core-sdk

chore: remove logs pin pinata
  scripts/pin-to-pinata.ts
Due: none

chore: remove logs pin pinata (#553)
  scripts/pin-to-pinata.ts
Due: none

feat: improve logs pin to pinata script
  scripts/pin-to-pinata.ts
Due: none

refactor: remove replaceAll
  scripts/pin-to-pinata.ts
Due: none

feat: improve logs pin to pinata (#554)
  scripts/pin-to-pinata.ts
Due: none

feat: add goerli to the config setup and ci
  .github/workflows/deploy-testing-subgraph.yaml
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

fix: build
  packages/common/src/configs.ts
Due: common

fix: build
  packages/common/src/types/configs.ts
Due: common

fix: build
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

ci: revert if deploy testing
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

chore: update seller blacklist urls
  packages/common/src/configs.ts
  scripts/create-dispute-resolver.ts
Due: common

feat: add goerli to the config setup and ci (#555)
  .github/workflows/deploy-testing-subgraph.yaml
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
  scripts/create-dispute-resolver.ts
Due: common

feat: remove meta tx from goerli
  packages/common/src/configs.ts
Due: common

feat: remove meta tx from goerli (#556)
  packages/common/src/configs.ts
Due: common

feat: multi chain widget
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
Due: none

feat: multi chain widget (#557)
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
Due: none

fix: type config provider
  packages/react-kit/src/components/config/ConfigProvider.tsx
Due: none

fix: type config provider (#558)
  packages/react-kit/src/components/config/ConfigProvider.tsx
Due: none

feat: change symbol and name of goerli eth default tokens in common configs
  packages/common/src/mappings.ts
Due: common

feat: change symbol and name of goerli eth default tokens in common configs (#559)
  packages/common/src/mappings.ts
Due: common

fix: compilation widgets
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fix: compilation widgets (#560)
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fix: fundsEventLogs shall always contain a fundsEntity reference
  e2e/tests/fundsEventLogs.test.ts
  packages/subgraph/src/mappings/funds-handler.ts
Due: none

fix: fundsEventLogs shall always contain a fundsEntity reference (#561)
  e2e/tests/fundsEventLogs.test.ts
  packages/subgraph/src/mappings/funds-handler.ts
Due: none

chore: upgrade faire exchange policy rules with new agreement hash
  data/exchangePolicies/exchangePolicyRules.template.json
  data/ipfs.txt
Due: none

chore: upgrade faire exchange policy rules with new agreement hash (#562)
  data/exchangePolicies/exchangePolicyRules.template.json
  data/ipfs.txt
Due: none

fix: adapt opensea link wrt chain used in the env
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/detail/DetailOpenSea.tsx
Due: none

fix: adapt opensea link wrt chain used in the env (#564)
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/detail/DetailOpenSea.tsx
Due: none

feat: remove unused button styles and fix svg hover styles
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/ui/styles.ts
Due: none
