Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: add orchestration mixin tests for offer creation and redemption methods
  packages/core-sdk/tests/orchestration/handler.test.ts
  packages/core-sdk/tests/orchestration/mixin.test.ts
Due: none

feat: [protocol upgrade v2.5.1] - add support for ERC3009, ERC2612, and Permit2 token transfers (#1023)
  .claude/settings.json
  contracts/accounts.js
  contracts/hardhat.config.js
  contracts/scripts/deploy-other-tokens.js
  contracts/scripts/deploy-weth.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/MockERC2612Token.json
  packages/common/src/abis/MockERC3009Token.json
  packages/common/src/abis/MockPermit2.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: common, core-sdk

feat: [protocol upgrade v2.5.1] - new Orchestration methods commitToConditionalOfferAndRedeemVoucher, commitToOfferAndRedeemVoucher, createOfferCommitAndRedeem (#1025)
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/orchestration/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/orchestration/handler.test.ts
  packages/core-sdk/tests/orchestration/mixin.test.ts
Due: core-sdk

feat: add peer dependency for @ethersproject/random and update package-lock.json
  package-lock.json
  packages/core-sdk/package.json
Due: none

feat: add peer dependency for @ethersproject/random and update package-lock.json (#1027)
  package-lock.json
  packages/core-sdk/package.json
Due: none

feat: implement executeMetaTransaction and executeMetaTransactionWithTokenTransferAuthorization methods in handler and mixin
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: core-sdk

fix e2e test
  e2e/tests/meta-tx.test.ts
Due: none

feat: add executeNativeMetaTransaction method and related tests for on-chain execution of native meta transactions
  e2e/tests/native-meta-tx.test.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/tests/native-meta-tx/handler.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

Potential fix for pull request finding
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

fix: use hexlify for signature components in executeMetaTransaction methods
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: implement executeMetaTransaction and executeMetaTransactionWith… (#1028)
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/native-meta-tx/handler.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

feat: upgrade protocol to 2.5.1-rc.2 (ee0aaed0)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  package-lock.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/MockERC2612Token.ts
  packages/ethers-sdk/src/contracts/MockERC3009Token.ts
  packages/ethers-sdk/src/contracts/MockPermit2.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockERC2612Token__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockERC3009Token__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockPermit2__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: common

test: skip meta-tx auth queue tests pending bytes[] wrapper drop
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: none

test: skip e2e tests that exercise transferAuthorizations meta-tx
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/meta-tx.test.ts
Due: none

feat: drop encodeTransferAuthorizationQueue wrapper
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: core-sdk

feat: add DAI permit token transfer authorization
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
Due: core-sdk

feat: upgrade protocol to 2.5.1-rc.2 (ee0aaed0) (#1030)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/meta-tx.test.ts
  package-lock.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/MockERC2612Token.ts
  packages/ethers-sdk/src/contracts/MockERC3009Token.ts
  packages/ethers-sdk/src/contracts/MockPermit2.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockERC2612Token__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockERC3009Token__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockPermit2__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: common

ci: bump meta-tx-gateway image to bump-common-alpha-5
  e2e/docker-compose.yml
Due: none

feat: drop transferAuthorizationQueue wrapper and add DAI permit (#1029)
  e2e/docker-compose.yml
  package-lock.json
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: core-sdk

test: unskip e2e meta-tx transferAuthorizations tests
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/meta-tx.test.ts
Due: none

test: unskip e2e meta-tx transferAuthorizations tests (#1031)
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/meta-tx.test.ts
Due: none

fix: skip ensureAllowance in createOfferCommitAndRedeem when returnTxInfo is set
  packages/core-sdk/src/orchestration/handler.ts
Due: core-sdk

refactor: short-circuit ensureAllowance when returnTxInfo is set
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/orchestration/handler.ts
Due: core-sdk

fix: narrow approve overload selection inside ensureAllowance
  packages/core-sdk/src/erc20/handler.ts
Due: core-sdk

fix: short-circuit ensureAllowance when returnTxInfo is set (#1034)
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/orchestration/handler.ts
Due: core-sdk

ci: harden npm ci with timeouts and offline-preferring flags
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
Due: none

ci: disable actions/setup-node npm cache to fix hang
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
Due: none

ci: bump actions/checkout, setup-node, cache to v4
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
Due: none

ci: downgrade Node from 24 to 22 to match volta config
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
Due: none

ci: disable setup-node npm cache + add job timeouts (#1035)
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
Due: none

feat: migrate subgraph provider from Ormi to Goldsky
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/publish-alpha.yaml
  package-lock.json
  packages/common/src/inputs/subgraphs.json
  packages/subgraph/package.json
  packages/subgraph/scripts/deploy-on-goldsky.ts
  packages/subgraph/subgraph.template.yaml
Due: common

feat: support Pinata as IPFS upload provider
  package-lock.json
  packages/common/src/inputs/ipfsGateways.json
  packages/ipfs-storage/package.json
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/upload-to-ipfs.ts
Due: common

fix: update testing subgraph URL from 0xgraph to Goldsky
  packages/common/src/inputs/subgraphs.json
Due: common

feat: migrate subgraph provider from Ormi to Goldsky (#1037)
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/publish-alpha.yaml
  package-lock.json
  packages/common/src/inputs/subgraphs.json
  packages/subgraph/package.json
  packages/subgraph/scripts/deploy-on-goldsky.ts
  packages/subgraph/subgraph.template.yaml
Due: common

ci: pin subgraph deploy workflows to Node 22
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

ci: pin subgraph deploy workflows to Node 22 (#1038)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

fix: reorder entities in subgraph template to generate a new hash (needed to redeploy)
  packages/subgraph/subgraph.template.yaml
Due: none

ci: deploy each subgraph in its own parallel job
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/subgraph/package.json
Due: none

ci: promote subgraphs from a schedule instead of waiting for the sync
  .github/actions/setup-subgraph/action.yml
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/promote-subgraph.yaml
  packages/subgraph/package.json
  packages/subgraph/scripts/deploy-on-goldsky.ts
  packages/subgraph/scripts/goldsky.ts
  packages/subgraph/scripts/promote-on-goldsky.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
