Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: add build step in both staging and production workflows
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: turbo step
  .github/workflows/deploy-prod-subgraph.yaml
Due: none

chore: turbo step
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: add build step in both staging and production workflows (#497)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: manual run of subgraph stg
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: manual run of subgraph stg (#498)
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: change if in deploy job staging subgraph
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

chore: change if in deploy job staging subgraph (#499)
  .github/workflows/deploy-staging-subgraph.yaml
Due: none

feat: contact preference and country select
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemForm.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemFormView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemModal.tsx
  packages/react-kit/src/components/modal/components/Redeem/const.ts
  packages/react-kit/src/hooks/useCurrentSellers.ts
Due: none

chore: upgrade contracts
  e2e/docker-compose.yml
  packages/common/src/configs.ts
Due: common

chore: upgrade contracts (#500)
  e2e/docker-compose.yml
  packages/common/src/configs.ts
Due: common

chore: update view sellers script
  scripts/view-sellers.ts
Due: none

chore: update view sellers script (#501)
  scripts/view-sellers.ts
Due: none

chore: update the subgraph starting block for staging env
  packages/subgraph/scripts/render-manifest.ts
Due: none

fix: complete PR #494
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

chore: update the subgraph starting block for staging env (#502)
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/subgraph/scripts/render-manifest.ts
Due: core-sdk

feat: valid from date can be in the past
  packages/common/src/utils/validation.ts
Due: common

feat: voucherRedeemableFromDateInMS can be in the past
  packages/common/src/utils/validation.ts
Due: common

feat: valid from date can be in the past (#503)
  packages/common/src/utils/validation.ts
Due: common

merge origin/releases/mvfw-2023
  packages/core-sdk/src/native-meta-tx/handler.ts
Due: core-sdk

chore: merge origin/releases/mvfw-2023
  packages/core-sdk/src/native-meta-tx/handler.ts
Due: core-sdk

ensure the token specifics signature config is not case sensitive
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

fix linter
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

fix: merge origin/releases/mvfw-2023 (#504)
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

chore: remove contracts submodule
  .gitmodules
Due: none

add npm dependencies to boson-protocol-contracts and seaport repos
  contracts/.gitignore
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/postinstall.js
  e2e/docker-compose.yml
Due: none

simplify post install script
  contracts/.dockerignore
  contracts/scripts/postinstall.js
  e2e/docker-compose.yml
Due: none

fix e2e test failure on CI pipeline
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

change CI to push all coverage report in the same flow
  .github/workflows/ci.yaml
Due: none

fix typo in CI pipeline
  .github/workflows/ci.yaml
Due: none

ci pipeline : disable cache when re-executing the package tests
  .github/workflows/ci.yaml
Due: none

chore: remove boson-protocol-contracts submodule (#506)
  .github/workflows/ci.yaml
  .gitmodules
  contracts/.dockerignore
  contracts/.gitignore
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/postinstall.js
  e2e/docker-compose.yml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

feat: add saleChannels in seller metadata
  packages/core-sdk/src/accounts/queries.graphql
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/saleChannels.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

fix e2e test
  e2e/tests/utils.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

add link to saleChannelDeployment and saleChannels to product
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/seller/saleChannels.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/seller-updated.json
  packages/subgraph/tests/mocks.ts
Due: core-sdk

rename saleChannel into salesChannel
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/saleChannels.ts
  packages/subgraph/src/entities/metadata/seller/salesChannels.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/seller-updated.json
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

fix typo
  packages/metadata/src/seller/schema.json
Due: none

fix e2e:test
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/metadata/src/index.ts
  packages/subgraph/src/entities/metadata/seller/salesChannels.ts
Due: none

force rebuilding containers
  e2e/docker-compose.yml
Due: none

fix subgraph tests
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/seller-updated-1.json
  packages/subgraph/tests/metadata/seller-updated-2.json
Due: none
