Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: accept returnTypedDataToSign for prepareDataSignatureParameters
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

feat: accept returnTypedDataToSign for prepareDataSignatureParameters (#958)
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

publish 'boson-protocol-node' container
  .dockerignore
  .github/workflows/publish-docker-boson-protocol-node.yml
  contracts/.gitignore
  contracts/Dockerfile
  contracts/package-lock.json
  contracts/scripts/deploy-contracts.sh
  contracts/supervisord.conf
Due: none

publish 'boson-subgraph' container
  packages/subgraph/Dockerfile
  packages/subgraph/docker/deploy.sh
  packages/subgraph/docker/supervisord.conf
Due: none

publish 'boson-subgraph' container
  .github/workflows/publish-docker-boson-subgraph.yaml
Due: none

adapt e2e to new containers
  e2e/docker-compose.yml
  e2e/prepare-e2e-services.cmd
  e2e/prepare-e2e-services.sh
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

delete meta-tx-gateway
  docs/contracts-update.md
  e2e/meta-tx-gateway/.dockerignore
  e2e/meta-tx-gateway/.env.example
  e2e/meta-tx-gateway/.gitignore
  e2e/meta-tx-gateway/CHANGELOG.md
  e2e/meta-tx-gateway/Dockerfile
  e2e/meta-tx-gateway/index.ts
  e2e/meta-tx-gateway/package.json
  e2e/meta-tx-gateway/src/app.ts
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/controllers/health.ts
  e2e/meta-tx-gateway/src/controllers/meta-tx.ts
  e2e/meta-tx-gateway/src/errors/ApiError.ts
  e2e/meta-tx-gateway/src/errors/types.ts
  e2e/meta-tx-gateway/src/middlewares/error.ts
  e2e/meta-tx-gateway/src/middlewares/http-logger.ts
  e2e/meta-tx-gateway/src/routes/health.ts
  e2e/meta-tx-gateway/src/routes/meta-tx.ts
  e2e/meta-tx-gateway/src/routes/root.ts
  e2e/meta-tx-gateway/src/services/health.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/meta-tx-gateway/src/utils/error.ts
  e2e/meta-tx-gateway/src/utils/logger.ts
  e2e/meta-tx-gateway/src/utils/web3.ts
  e2e/meta-tx-gateway/tsconfig.json
  package-lock.json
  package.json
Due: none

Rename the GH workflows
  .github/workflows/publish-docker-boson-protocol-node.yml
  .github/workflows/publish-docker-boson-subgraph.yaml
  .github/workflows/publish-docker-opensea-api-mock.yaml
Due: none

fix linter and issue with docker hub login
  .github/workflows/publish-docker-boson-protocol-node.yml
  .github/workflows/publish-docker-boson-subgraph.yaml
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

fix subgraph docker build
  packages/subgraph/Dockerfile
Due: none

fix e2e tests
  e2e/prepare-e2e-services.cmd
  e2e/prepare-e2e-services.sh
Due: none

regenerate package-lock.json
  package-lock.json
Due: none

fix build storybook
  package-lock.json
Due: none

restore build react-kit package
  packages/react-kit/src/components/buttons/BaseButton.tsx
  packages/react-kit/src/components/chat/ChatProvider/ChatContext.ts
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/chat/ChatProvider/const.ts
  packages/react-kit/src/components/form/ClearButton.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/styles/BaseTagsInput.styles.ts
  packages/react-kit/src/components/styles/ResetStylesForNonWidgets.tsx
  packages/react-kit/src/components/ui/loading/Loading.tsx
Due: none

fix linter
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/form/ClearButton.tsx
  packages/react-kit/src/components/styles/ResetStylesForNonWidgets.tsx
  packages/react-kit/src/components/ui/loading/Loading.tsx
Due: none

fix e2e tests downgrading opensea-js and graphql-request
  package-lock.json
  package.json
Due: none

feat: check if dispute resolver supports fee on create offer
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

wip
  e2e/tests/core-sdk.test.ts
Due: none

wip
  packages/core-sdk/tests/offers/handler.test.ts
Due: none

wip
  e2e/tests/utils.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: none

feat: check if dispute resolver supports fee on create offer (#959)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: core-sdk

fix wrong ignore file
  contracts/.dockerignore
  contracts/.gitignore
Due: none

feat: allow createOfferWithCondition to return tx data
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: core-sdk

wip
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk.test.ts
Due: none

feat: allow createOfferWithCondition to return tx data (#960)
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: core-sdk

feat: add getCurrentTimeMs in web3libadapter for assertCompletableExchange
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/eth-connect-sdk/tests/index.test.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/ethers-sdk/tests/index.test.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common, core-sdk

Update packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

feat: add getCurrentTimeMs in web3libadapter for assertCompletableExc… (#961)
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/eth-connect-sdk/tests/index.test.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/ethers-sdk/tests/index.test.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common, core-sdk

feat: retrieve seller id from seller update in getPendingSellerUpdateFromLogs
  packages/core-sdk/src/accounts/mixin.ts
Due: core-sdk

feat: retrieve seller id from seller update in getPendingSellerUpdateFromLogs (#962)
  packages/core-sdk/src/accounts/mixin.ts
Due: core-sdk

chore: update protocol contracts dependency
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
Due: none

generate new ABIS
  contracts/hardhat.config.js
  packages/common/src/abis/DRFeeMutualizer.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeCommitHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
  packages/common/src/abis/IDRFeeMutualizer.json
  packages/common/src/abis/index.ts
Due: common

adapt subgraph manifest + keep subgraph legacy events
  packages/common/src/abis/IBosonExchangeHandler240.json
  packages/common/src/abis/IBosonOfferHandler240.json
  packages/common/src/abis/index.ts
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common

set container images to force them to rebuild
  e2e/docker-compose.yml
Due: none

upgrade graph-cli version (supports running on ubuntu 24) + requires specifying immutable:true/false for each entity type
  package-lock.json
  package.json
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
  packages/subgraph/src/entities/metadata/animationMetadata.ts
  packages/subgraph/src/entities/metadata/product-v1/variation.ts
  packages/subgraph/src/entities/metadata/seller/links.ts
  packages/subgraph/src/entities/metadata/utils.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
Due: none

upgrade graph-ts dependency
  package-lock.json
  package.json
  packages/subgraph/package.json
Due: none

fix subgraph tests
  package-lock.json
  packages/common/src/types/enums.ts
  packages/common/src/types/index.ts
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/entities/token.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/src/utils/eth.ts
  packages/subgraph/tests/exchange-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: common
