Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

refactor: extract base ipfs class to upload any json file (not just metadata)
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/baseIpfs.ts
  packages/ipfs-storage/src/ipfs/ipfsMetadata.ts
Due: none

refactor: change BaseIpfs add function parameter type from Record to unknown
  packages/ipfs-storage/src/ipfs/baseIpfs.ts
Due: none

refactor: rename ipfs storage classes
  packages/example-parent-app/src/views/create/index.tsx
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/baseIpfsStorage.ts
  packages/ipfs-storage/src/ipfs/ipfsMetadataStorage.ts
  packages/ipfs-storage/tests/index.test.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/widgets/src/lib/useCoreSDK.tsx
Due: none

refactor: refactor ipfs storage file names
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none

refactor: extract base ipfs class to upload any json file or string (not just metadata) (#105)
  packages/example-parent-app/src/views/create/index.tsx
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/ipfs-storage/tests/index.test.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/widgets/src/lib/useCoreSDK.tsx
Due: none

fix: add exchangeId query param in the manage-offer widget if it's truthy only (#104)
  packages/widgets-sdk/src/widgets/manage-offer/index.tsx
Due: none

refactor: make parameter in BaseIpfsStorage class add function more generic
  packages/ipfs-storage/src/ipfs/base.ts
Due: none

fix: compilation
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none

refactor: make parameter in BaseIpfsStorage class add function more generic (#106)
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none

chore: add script for auto updating abis
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  package-lock.json
  package.json
  scripts/export-abis.ts
Due: none

chore: adapt deploy script to new set of contracts
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
Due: none

feat(common): update abis
  packages/common/package.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
Due: common

test(common): update common mocks
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/common/tests/mocks.ts
Due: common

feat(subgraph): adapt to new structs and types
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

feat(core-sdk): adapt to new structs and flows
  packages/core-sdk/package.json
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/subgraph.ts
  packages/core-sdk/src/offers/types.ts
  packages/core-sdk/src/orchestration/interface.ts
Due: core-sdk

feat: adapt create offer flow to new structs
  packages/example-parent-app/src/views/create/index.tsx
  packages/ipfs-storage/package.json
  packages/widgets-sdk/src/widgets/create-offer/index.tsx
  packages/widgets/src/lib/components/details/ExchangeDetails.tsx
  packages/widgets/src/lib/components/details/OfferDetails.tsx
  packages/widgets/src/views/create-offer/index.tsx
  packages/widgets/src/views/create-offer/useCreateOfferData.tsx
  packages/widgets/src/views/manage-offer/index.tsx
Due: none

test: fix offers interface unit tests
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: none

ci: disable npm cache as 503 woraround
  .github/workflows/ci.yaml
Due: none

fixup
  .github/workflows/ci.yaml
Due: none

refactor: review requests
  contracts/scripts/deploy.js
  packages/subgraph/tests/mocks.ts
Due: none

feat(core-sdk): add rudimentary support for funds-handler contract
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/index.ts
  packages/core-sdk/src/funds/interface.ts
  packages/core-sdk/src/funds/subgraph.ts
  packages/core-sdk/src/funds/types.ts
  packages/core-sdk/src/index.ts
Due: core-sdk

feat(subgraph): add new entities `DisputeResolver` and `FundsEntity`
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: none

test(e2e): extend rudimentary create offer e2e test
  e2e/tests/core-sdk.test.ts
Due: none

fix(core-sdk): seller queries
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/subgraph.ts
Due: core-sdk

test(subgraph): fix tests
  packages/subgraph/tests/funds-handler.test.ts
Due: none

refactor: subgraph null comparisons
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1.ts
  packages/subgraph/src/entities/token.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
Due: none

test(e2e): use promise all
  e2e/tests/core-sdk.test.ts
Due: none

feat: rudimentary funds handler support (#108)
  e2e/tests/core-sdk.test.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/index.ts
  packages/core-sdk/src/funds/interface.ts
  packages/core-sdk/src/funds/subgraph.ts
  packages/core-sdk/src/funds/types.ts
  packages/core-sdk/src/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1.ts
  packages/subgraph/src/entities/token.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: core-sdk

feat(ethers-sdk): update auto-generated typechain bindings
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonFundsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: none

feat(core-sdk): extend seller query to support funds
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat(widgets): add rudimentary deposit funds feature
  packages/widgets/src/lib/funds.ts
  packages/widgets/src/views/create-offer/index.tsx
  packages/widgets/src/views/create-offer/useCreateOfferData.tsx
Due: none

test(core-sdk): fix mock
  packages/core-sdk/tests/mocks.ts
Due: none

feat(ethers-sdk): update auto-generated typechain bindings (#109)
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonFundsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: none

fix(subgraph): decrease funds on encumbered event only for seller
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/tests/funds-handler.test.ts
Due: none

fix: change minimal funds amount to sellerDeposit * quantity
  packages/widgets/src/lib/funds.ts
  packages/widgets/src/views/create-offer/index.tsx
Due: none

feat: rudimentary deposit funds in widgets (#110)
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/widgets/src/lib/funds.ts
  packages/widgets/src/views/create-offer/index.tsx
  packages/widgets/src/views/create-offer/useCreateOfferData.tsx
Due: core-sdk

chore: add graphql codegen tool
  .gitignore
  package-lock.json
  package.json
  packages/core-sdk/codegen.yml
  packages/core-sdk/package.json
  tsconfig.base.json
  turbo.json
Due: none

chore: add auto-generated ts file for subgraph
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/funds/queries.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk
