Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

fix: only save funds log for seller (#325)
  packages/core-sdk/src/event-logs/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/src/mappings/funds-handler.ts
Due: core-sdk

order the product variations before serializing for comparison
  e2e/tests/productV1.test.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

feat: insure approve is called when needed before committing to an offer
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

restore all tests (e2e core-sdk)
  e2e/tests/core-sdk.test.ts
Due: none

feat: update polygon network name for correct native token indexing
  packages/subgraph/src/entities/token.ts
Due: none

feat: update polygon network name for correct native token indexing (#327)
  packages/subgraph/src/entities/token.ts
Due: none

feat: add lens profiles contract and abi to config
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: add lens profiles contract and abi to config (#328)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: multi variant products (#317)
  e2e/tests/productV1.test.ts
  package-lock.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/src/utils/logs.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: core-sdk

feat: commit button pas ref add (#315)
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

add support of native metaTx (for ERC20 child tokens approval)
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/NativeMetaTransaction.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/index.ts
  packages/core-sdk/src/native-meta-tx/interface.ts
  packages/core-sdk/src/utils/signature.ts
Due: common, core-sdk

feat: expose `metaTxHandler.getResubmitted`
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: getsignerAddress add to commit button
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

feat: commit button onGetSignerAddress update
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

feat: getsignerAddress add to commit button (#331)
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

export metadata symbols into core-sdk
  packages/core-sdk/src/index.ts
Due: core-sdk

chore: set back contracts submodule version + export metadata symbols (#332)
  packages/core-sdk/src/index.ts
Due: core-sdk

change CommitButton to call approve with meta-tx when needed
  e2e/tests/utils.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/react-kit/.storybook/main.js
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: common, core-sdk

get logs from meta transaction
  packages/common/src/types/web3-lib-adapter.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: common, core-sdk

remove events table from meta transaction receipt (initially used for tests - no longer in use)
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/src/routes/meta-tx.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
Due: core-sdk

feat: Add missing CTAs
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolver.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolver.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolver.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolver.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
Due: none

fix lint
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

fix lint
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
Due: core-sdk

fix test
  packages/common/tests/mocks.ts
Due: none

improve Biconomy error dealing
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: core-sdk

remove test.only
  e2e/tests/core-sdk.test.ts
Due: none

feat: expose `metaTxHandler.getResubmitted` (#330)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix test
  packages/core-sdk/tests/offers/handler.test.ts
Due: none

fix: variations metadata
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

fix: unit tests
  packages/metadata/tests/productV1.test.ts
Due: none

fix: variations metadata (#337)
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

fix: remove margin to prevent overlap on grid
  packages/react-kit/src/components/cta/common/styles.ts
Due: none

feat: add stories
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories..tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
Due: none

fix: remove margin to prevent overlap on grid (#338)
  packages/react-kit/src/components/cta/common/styles.ts
Due: none

fix: remove comment
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
Due: none

fix: fix issue in subgraph when returnPeriod overflows
  e2e/tests/productV1.test.ts
  packages/metadata/src/product-v1/schema.json
  packages/subgraph/src/entities/metadata/product-v1/shipping.ts
Due: none

fix: fix issue in subgraph when returnPeriod overflows (#339)
  e2e/tests/productV1.test.ts
  packages/metadata/src/product-v1/schema.json
  packages/subgraph/src/entities/metadata/product-v1/shipping.ts
Due: none

fix storybook build
  packages/react-kit/.storybook/main.js
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
Due: none

feat: add `isMetaTx` to `onPendingTransaction` hook
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
