Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

chore: externalize validateMetadata from react hook
  packages/react-kit/src/hooks/ipfs/useIpfsStorage.ts
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
  packages/react-kit/src/hooks/useIpfsStorage.ts
Due: none

chore: externalize validateMetadata from react hook (#778)
  packages/react-kit/src/hooks/ipfs/useIpfsStorage.ts
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
  packages/react-kit/src/hooks/useIpfsStorage.ts
Due: none

style: make commit button narrower
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
Due: none

style: make commit button narrower (#779)
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
Due: none

chore: export ipfs utils
  packages/react-kit/src/index.tsx
Due: none

refactor: sort exports
  packages/react-kit/src/index.tsx
Due: none

feat :add protocolFee events in subgraph
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

chore: export ipfs utils (#780)
  packages/react-kit/src/index.tsx
Due: none

fix: type of select component when isMulti is true or false
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/form/types.ts
Due: none

fix: type of select component when isMulti is true or false (#783)
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/form/types.ts
Due: none

feat: add protocolFee events in subgraph (#782)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

chore: migrate subgraph to 0xgraph
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/common/src/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

some adaptation
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/subgraph/package.json
Due: none

chore: migrate to docker compose v2
  .github/workflows/ci.yaml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

chore: migrate to docker compose v2 (#786)
  .github/workflows/ci.yaml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

feat: add asBlob parameter to baseIpfsStorage to retrieve ipfs item as a blob
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/react-kit/src/lib/base64/base64.ts
Due: none

feat: add asBlob parameter to baseIpfsStorage to retrieve ipfs item as a blob (#787)
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/react-kit/src/lib/base64/base64.ts
Due: none

chore: export form styles and types
  packages/react-kit/src/components/form/index.ts
Due: none

chore: export form styles and types (#788)
  packages/react-kit/src/components/form/index.ts
Due: none

chore: a few changes required to run the opensea flow on Fermion protocol
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

chore: a few changes required to run the opensea flow on Fermion protocol (#789)
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

feat: improve opensea wrapper
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/marketplaces/index.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

feat: improve opensea wrapper (#790)
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/marketplaces/index.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

chore: adapt marketplace interface
  e2e/tests/opensea-price-discovery.test.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  scripts/opensea/fulfil-order.ts
Due: core-sdk

revert breaking compatibility for getOrder()/getOrders() methods
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

fix e2e test compilation issue
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

chore: adapt marketplace interface (#791)
  e2e/tests/opensea-price-discovery.test.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  scripts/opensea/fulfil-order.ts
Due: core-sdk

chore: export getOpenSeaUrl function
  packages/react-kit/src/index.tsx
Due: none

chore: export getOpenSeaUrl function (#793)
  packages/react-kit/src/index.tsx
Due: none

chore: export cta related stuff
  packages/react-kit/src/components/queryClient/withQueryClientProvider.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useMetaTx.ts
  packages/react-kit/src/index.tsx
Due: none

fix: storybook
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

chore: export cta related stuff (#794)
  packages/react-kit/src/components/queryClient/withQueryClientProvider.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useMetaTx.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

feat: add sellers whitelist into protocol config and meta tx stuff to core sdk
  packages/react-kit/src/components/queryClient/withQueryClientProvider.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useMetaTx.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

refactor: make chain selector component config agnostic
  packages/common/src/types/configs.ts
  packages/core-sdk/src/index.ts
  packages/react-kit/src/components/wallet2/selector/ChainSelector.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: common, core-sdk

set the 0xgraph subgraph URLs using the latest tag
  packages/common/src/configs.ts
Due: common

get subgraph sellers from cli view-sellers
  scripts/view-sellers.ts
Due: none

refactor: make chain selector component config agnostic (#795)
  packages/common/src/types/configs.ts
  packages/core-sdk/src/index.ts
  packages/react-kit/src/components/wallet2/selector/ChainSelector.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: common, core-sdk

feat: add more props to connect wallet button to further customise its look
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

feat: add more props to connect wallet button to further customise its look (#798)
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
