Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

Update ProductCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
Due: none

feat: add on card click to roblox widget exchange cards
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
Due: none

wip
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchanges.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/WithExchangesData.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
Due: none

wip
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
Due: none

feat: exchange card visual changes (#867)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchanges.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/WithExchangesData.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/productCard/commonStyles.ts
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
Due: none

feat: pdf uploader typography change
  packages/react-kit/src/colors.ts
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
Due: none

fix: cr fix
  packages/react-kit/src/colors.ts
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
Due: none

feat: pdf uploader typography change (#905)
  packages/react-kit/src/colors.ts
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
Due: none

feat: export getDateTimestamp
  packages/react-kit/src/index.tsx
Due: none

feat: export getDateTimestamp (#906)
  packages/react-kit/src/index.tsx
Due: none

chore: complete the configuration for production base network
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
Due: common

feat: add cancelOrder method on Opensea
  package.json
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  scripts/opensea/cancel-order.ts
Due: core-sdk

feat: add isAuction property in returned Order structure
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

fix lint
  scripts/opensea/cancel-order.ts
Due: none

fix test
  packages/core-sdk/tests/marketplaces/opensea.test.ts
Due: none

fix lint
  packages/core-sdk/tests/marketplaces/opensea.test.ts
Due: none

feat: add cancelOrder method on Opensea (#908)
  package.json
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  packages/core-sdk/tests/marketplaces/opensea.test.ts
  scripts/opensea/cancel-order.ts
Due: core-sdk

add USDC on base sepolia
  packages/common/src/mappings.ts
Due: common

chore: complete the configuration for production base network (#907)
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
Due: common

fix: incorrect Base USDC address
  packages/common/src/mappings.ts
Due: common

fix: incorrect Base USDC address (#909)
  packages/common/src/mappings.ts
Due: common

fix: wallet issues in roblox widget
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/core-sdk/useCoreSdkWithContext.ts
  packages/react-kit/src/hooks/roblox/mutationKeys.ts
  packages/react-kit/src/hooks/roblox/useGetRobloxWalletAuth.ts
  packages/react-kit/src/hooks/roblox/useRobloxBackendLogin.ts
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/hooks/connection/connection.ts
Due: none

chore: update some configuration values in storybook for DepositFundsButton
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
Due: none

fix: roblox widget cookie auth wallet
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
Due: none

wip
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/roblox/useRobloxBackendLogin.ts
Due: none

chore: upgrade formik to latest
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/RequestShipment/RequestShipmentModal.tsx
Due: none

chore: upgrade formik to latest (#913)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/RequestShipment/RequestShipmentModal.tsx
Due: none

fix: props commit button view in stories
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

fix: props commit button view in stories (#914)
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

chore: change Opensea fees from 2.5% to 0.5%
  contracts/scripts/tasks/deployWrappers.js
  contracts/test/utils.js
  e2e/docker-compose.yml
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/Dockerfile
  e2e/opensea-api-mock/src/app.ts
  e2e/opensea-api-mock/src/config.ts
  e2e/opensea-api-mock/src/services/data.ts
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

chore: change Opensea fees from 2.5% to 0.5% (#915)
  contracts/scripts/tasks/deployWrappers.js
  contracts/test/utils.js
  e2e/docker-compose.yml
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/Dockerfile
  e2e/opensea-api-mock/src/app.ts
  e2e/opensea-api-mock/src/config.ts
  e2e/opensea-api-mock/src/services/data.ts
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

feat: add select with custom label
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/stories/selects/Select.stories.tsx
Due: none

feat: add select with custom label (#916)
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/stories/selects/Select.stories.tsx
Due: none

feat: export offer utilities
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/index.tsx
Due: none
