Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

add the condition to offers on subgraph
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/groups/queries.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/group-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

add test for createOfferWithCondition
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

add "condition" in the offer metadata to store the token-gating description
  packages/metadata/src/base/index.ts
  packages/metadata/src/base/schema.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/product-v1/valid/fullOffer.json
Due: none

add the token gated description in the metadata in subgraph
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
Due: core-sdk

fix comment
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

minor changes from review
  e2e/tests/core-sdk.test.ts
  packages/common/src/types/groups.ts
Due: common

feat: add support for replaced transactions
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

feat: bp436 react kit ctas offer (#352)
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/offer/BatchVoidButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
Due: none

feat: create and manage token gated offers (#363)
  contracts/hardhat.config.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/src/types/groups.ts
  packages/common/src/types/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/groups/handler.ts
  packages/core-sdk/src/groups/index.ts
  packages/core-sdk/src/groups/interface.ts
  packages/core-sdk/src/groups/queries.graphql
  packages/core-sdk/src/groups/subgraph.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/base/index.ts
  packages/metadata/src/base/schema.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/group-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

feat: add method createSellerAndOfferWithCondition() in core-sdk
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
Due: core-sdk

feat: add support for replaced transactions (#364)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

add meta-tx support for createGroup() and createOfferWithCondition()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix e2e:test
  e2e/tests/meta-tx.test.ts
Due: none

feat: add missing methods in core-sdk used for creating token-gated offers (#365)
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
Due: core-sdk

chore: upgrade the Buyer & Seller agreement template
  data/contractualAgreement.template.md
Due: none

chore: upgrade the Buyer & Seller agreement template (#366)
  data/contractualAgreement.template.md
Due: none

feat: add coreSDK.signMetaTxRevokeVoucher()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: add method coreSDK.signMetaTxCompleteExchange()
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

activate meta-tx on CTAs completeExchange and revokeVoucher
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
Due: none

Implement dispute CTAs
  packages/react-kit/src/components/cta/dispute/RaiseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
Due: none

docs: update npm links in README
  README.md
  docs/README.md
Due: none

feat: raiseDispute resolveDispute retractDispute button update
  packages/react-kit/src/components/cta/dispute/RaiseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/RaiseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RetractDisputeButton.stories.tsx
Due: none

feat: update dispute buttons
  packages/react-kit/src/components/cta/dispute/RaiseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
Due: none

feat: extend dispute timeout button add
  packages/react-kit/src/components/cta/dispute/ExtendDisputeTimeoutButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/ExtendDisputeTimeoutButton.stories.tsx
Due: none

feat: variant updates
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
Due: none

feat: expire dispute button add
  packages/react-kit/src/components/cta/dispute/ExpireDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireDisputeButton.stories.tsx
Due: none

docs: add npm package descriptions
  packages/common/package.json
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/react-kit/package.json
Due: none

feat: escalate dispute button add
  packages/react-kit/src/components/cta/dispute/EscalateDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/EscalateDisputeButton.stories.tsx
Due: none

feat: refuse dispute button add
  packages/react-kit/src/components/cta/dispute/RefuseDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/RefuseDisputeButton.stories.tsx
Due: none

decide dispute button add
  packages/react-kit/src/components/cta/dispute/DecideDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/DecideDisputeButton.stories.tsx
Due: none

feat: expire escalation dispute button add
  packages/react-kit/src/components/cta/dispute/ExpireEscalationDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireEscalationDisputeButton.stories.tsx
Due: none

feat: implement dispute CTAs (#368)
  packages/react-kit/src/components/cta/dispute/DecideDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/EscalateDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExpireDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExpireEscalationDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ExtendDisputeTimeoutButton.tsx
  packages/react-kit/src/components/cta/dispute/RaiseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RefuseDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/ResolveDisputeButton.tsx
  packages/react-kit/src/components/cta/dispute/RetractDisputeButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/dispute/DecideDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/EscalateDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireEscalationDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExtendDisputeTimeoutButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RaiseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RefuseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RetractDisputeButton.stories.tsx
Due: none

fix: fix issue with signing the approve meta-tx for the USDC token
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/interface.ts
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

add signMetaTxExtendDisputeTimeout()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: fix issue with signing the approve meta-tx for the USDC token (#370)
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/interface.ts
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

feat: activate meta-transactions for revokeVoucher()/completeExchangem()/extendDisputeTimeout() (#367)
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
Due: core-sdk

docs: update npm links in README (#369)
  README.md
  docs/README.md
  packages/common/package.json
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/react-kit/package.json
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
