Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

add methods signMetaTxSetApprovalForAll() and voucher.isApprovedForAll(), required for metaseller
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/forwarder/index.ts
  packages/core-sdk/src/forwarder/mock-interface.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
Due: core-sdk

chore: review gas estimations for preMint and setApprovalForAll
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

chore: add reservedRange in explore-offer script (#427)
  packages/core-sdk/src/index.ts
  scripts/explore-offer.ts
Due: core-sdk

add a TODO
  packages/core-sdk/src/forwarder/handler.ts
Due: core-sdk

feat: support Biconomy meta tx with Trusted Forwarder (#428)
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/meta-tx.test.ts
  packages/common/src/abis/BiconomyForwarderABI.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/forwarder/biconomy-interface.ts
  packages/core-sdk/src/forwarder/handler.ts
  packages/core-sdk/src/forwarder/index.ts
  packages/core-sdk/src/forwarder/mock-interface.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/interface.ts
  packages/core-sdk/src/voucher/mixin.ts
  packages/subgraph/package.json
Due: common, core-sdk

chore: adds in disclaimers rnft
  data/contractualAgreement.template.md
  data/rNFTLicense.template.md
Due: none

feat: support eth_signTypedData_v4 in eth_connect adapter
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

feat: support eth_signTypedData_v4 in eth_connect adapter (#434)
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

feat: add erc20, erc721 and erc1155 mixins to coresdk
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

feat: add erc xxx mixins (#435)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

feat: omit web3lib arg in erc mixins
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

feat: omit web3lib erc mixins (#436)
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

fix: erc mixins
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

fix: omit erc mixins (#437)
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
Due: core-sdk

feat: add width, height, type and name to images in metadata
  packages/metadata/src/product-v1/index.ts
Due: none

fix remove import ethers statement
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: remove import ethers statement
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

Revert "feat: support eth_signTypedData_v4 in eth_connect adapter (#434)"
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

fix: dcl loading issue (#439)
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: revert "feat: support eth_signTypedData_v4 in eth_connect adapter (#4… (#440)
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

feat: add new metadata fields to subgraph
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
Due: core-sdk

feat: eth-connect-adapter - allow to set different providers for signing and for fetching info
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

fix: subgraph animation metadata
  packages/core-sdk/src/subgraph.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/animationMetadata.ts
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: core-sdk

tests: fix
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

lint code
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

feat: eth-connect-adapter - allow to set different providers for sig… (#442)
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

fix: tests
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

refactor: remove import
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add width, height, type and name to images in metadata (#438)
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/animationMetadata.ts
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: core-sdk

ci: fix deploy subgraph pipeline
  packages/subgraph/package.json
Due: none

ci: fix deploy subgraph pipeline (#443)
  packages/subgraph/package.json
Due: none

Revert "ci: fix deploy subgraph pipeline (#443)"
  packages/subgraph/package.json
Due: none

Revert "ci: fix deploy subgraph pipeline (#443)" (#444)
  packages/subgraph/package.json
Due: none

ci: fix deploy testing subgraph
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

ci: change yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

ci: revert yaml when it runs
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

ci: fix deploy testing subgraph (#445)
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

chore: add script for complete-exchanges
  package.json
  scripts/complete-exchange.ts
Due: none

meta-transactions support in complete-exchange script
  scripts/.gitignore
  scripts/complete-exchange.ts
Due: none
