Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

chore: upgrade protocol addresses on sepolia testing/staging + remove goerli envs
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common, core-sdk

fix tokenInfoManager
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

fix test
  packages/common/tests/index.test.ts
Due: none

chore: upgrade protocol addresses on sepolia testing/staging + remove… (#708)
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common, core-sdk

upgrade the Amoy testing protocol addresses and startBlock
  packages/common/src/configs.ts
  packages/subgraph/scripts/render-manifest.ts
Due: common

update protocol config for amoy on staging
  packages/common/src/configs.ts
  packages/subgraph/scripts/render-manifest.ts
Due: common

feat: add more content into purchase overview modal
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/BosonFooter.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/ui/SvgImage.tsx
Due: none

chore: upgrade eslint and ts-node
  package-lock.json
  package.json
Due: none

style: reformat
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/utils/errors.ts
  packages/core-sdk/tests/core-sdk.test.ts
Due: core-sdk

style: reformat
  scripts/pin-to-pinata.ts
Due: none

fix: eslint
  packages/common/package.json
  packages/common/src/types/configs.ts
  packages/eth-connect-sdk/package.json
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/metadata/tests/index.test.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/datepicker/SelectTime.tsx
  packages/react-kit/src/components/form/BaseSelect.tsx
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/WithExchangesData.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/OfferFullDescription.tsx
  packages/react-kit/src/components/modal/components/common/detail/Detail.style.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailSlider.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewWithProvider.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/components/widgets/commit/CommitModalWithOffer.tsx
Due: common

chore: upgrade eslint and ts-node (#711)
  package-lock.json
  package.json
  packages/common/package.json
  packages/common/src/types/configs.ts
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/utils/errors.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/eth-connect-sdk/package.json
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/metadata/tests/index.test.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/datepicker/SelectTime.tsx
  packages/react-kit/src/components/form/BaseSelect.tsx
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/WithExchangesData.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/OfferFullDescription.tsx
  packages/react-kit/src/components/modal/components/common/detail/Detail.style.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailSlider.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewWithProvider.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/components/widgets/commit/CommitModalWithOffer.tsx
  scripts/pin-to-pinata.ts
Due: common, core-sdk

try using mockoon for opensea API mock
  e2e/docker-compose.yml
  e2e/mockoon/Dockerfile
  e2e/mockoon/openseaMockApi.json
Due: none

fix lint
  packages/core-sdk/src/native-meta-tx/tokenSpecifics.ts
Due: core-sdk

declare missing data for ChainId 80002 (Amoy)
  packages/common/src/mappings.ts
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/lib/chains/getNativeLogoURI.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/const/tokens.ts
  packages/subgraph/scripts/render-manifest.ts
Due: common

move amoy subgraph from hosted-service to the graph network (tempo)
  packages/common/src/configs.ts
  packages/subgraph/package.json
Due: common

Create opensea-api-mock as a standard express app
  e2e/docker-compose.yml
  e2e/opensea-api-mock/.dockerignore
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/.gitignore
  e2e/opensea-api-mock/CHANGELOG.md
  e2e/opensea-api-mock/Dockerfile
  e2e/opensea-api-mock/index.ts
  e2e/opensea-api-mock/package-lock.json
  e2e/opensea-api-mock/package.json
  e2e/opensea-api-mock/src/app.ts
  e2e/opensea-api-mock/src/config.ts
  e2e/opensea-api-mock/src/controllers/health.ts
  e2e/opensea-api-mock/src/controllers/opensea.ts
  e2e/opensea-api-mock/src/errors/ApiError.ts
  e2e/opensea-api-mock/src/errors/types.ts
  e2e/opensea-api-mock/src/middlewares/error.ts
  e2e/opensea-api-mock/src/middlewares/http-logger.ts
  e2e/opensea-api-mock/src/routes/health.ts
  e2e/opensea-api-mock/src/routes/opensea.ts
  e2e/opensea-api-mock/src/routes/root.ts
  e2e/opensea-api-mock/src/services/data.ts
  e2e/opensea-api-mock/src/services/health.ts
  e2e/opensea-api-mock/src/services/opensea.ts
  e2e/opensea-api-mock/src/utils/error.ts
  e2e/opensea-api-mock/src/utils/logger.ts
  e2e/opensea-api-mock/src/utils/openseaSdk.ts
  e2e/opensea-api-mock/src/utils/web3.ts
  e2e/opensea-api-mock/tsconfig.json
Due: none

create scripts and adapt coreSDK to run the opensea/price discovery flow
  contracts/hardhat.config.js
  e2e/tests/meta-tx.test.ts
  package-lock.json
  package.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
  packages/common/src/abis/Seaport.json
  packages/common/src/abis/index.ts
  packages/common/src/types/offers.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/price-discovery/handler.ts
  packages/core-sdk/src/price-discovery/index.ts
  packages/core-sdk/src/price-discovery/interface.ts
  packages/core-sdk/src/price-discovery/mixin.ts
  packages/core-sdk/src/seaport/handler.ts
  packages/core-sdk/src/seaport/interface.ts
  packages/core-sdk/src/seaport/mixin.ts
  packages/core-sdk/src/voucher/mixin.ts
  scripts/create-listing-opensea.ts
  scripts/create-offer-opensea.ts
  scripts/create-price-discovery-offer.ts
  scripts/fulfil-order-opensea.ts
Due: common, core-sdk

refactor
  package.json
  scripts/create-price-discovery-offer.ts
  scripts/opensea/create-listing.ts
  scripts/opensea/create-offer-opensea.ts
  scripts/opensea/create-offer.ts
  scripts/opensea/fulfil-order-opensea.ts
  scripts/opensea/fulfil-order.ts
Due: none

fix: sepolia testing protocol contract change
  packages/common/src/configs.ts
Due: common

fix: sepolia testing protocol contract change (#714)
  packages/common/src/configs.ts
Due: common

switch to Sepolia chain
  packages/common/src/mappings.ts
  scripts/create-price-discovery-offer.ts
Due: common

style: redesign purchase overview modal
  packages/react-kit/src/components/modal/components/Commit/CommitSuccess/CommitSuccess.tsx
  packages/react-kit/src/components/modal/components/Commit/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferPolicyView/CommitOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/RedeemSuccess.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancellationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucherView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/OfferPolicyView/RedeemOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemFormView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/BosonFooter.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/components/modal/components/common/detail/Detail.style.tsx
  packages/react-kit/src/components/modal/nonModal/NonModal.tsx
  packages/react-kit/src/components/ui/SvgImage.tsx
Due: none

refactor: rename boson logo component
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitSuccess/CommitSuccess.tsx
  packages/react-kit/src/components/modal/components/Commit/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferPolicyView/CommitOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/RedeemSuccess.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancellationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucherView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/OfferPolicyView/RedeemOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemFormView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/BosonLogo.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/index.tsx
Due: none

feat: add more content into purchase overview modal (#710)
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitSuccess/CommitSuccess.tsx
  packages/react-kit/src/components/modal/components/Commit/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferPolicyView/CommitOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/RedeemSuccess.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancellationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucherView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/OfferPolicyView/RedeemOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemFormView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/BosonFooter.tsx
  packages/react-kit/src/components/modal/components/common/BosonLogo.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/components/modal/components/common/detail/Detail.style.tsx
  packages/react-kit/src/components/modal/nonModal/NonModal.tsx
  packages/react-kit/src/components/ui/SvgImage.tsx
  packages/react-kit/src/index.tsx
Due: none

style: make tagline mandatory and add text shadow and fix logo when button is disabled
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

refactor: remove style from tagline
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
Due: none

style: make tagline mandatory and add text shadow and fix logo when b… (#718)
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

finalize e2e test for listing/fulfil order on mocked opensea
  contracts/Dockerfile
  contracts/accounts.js
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/mockoon/Dockerfile
  e2e/mockoon/openseaMockApi.json
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/Dockerfile
  e2e/opensea-api-mock/package-lock.json
  e2e/opensea-api-mock/src/app.ts
  e2e/opensea-api-mock/src/config.ts
  e2e/opensea-api-mock/src/controllers/opensea.ts
  e2e/opensea-api-mock/src/routes/opensea.ts
  e2e/opensea-api-mock/src/services/data.ts
  e2e/opensea-api-mock/src/services/opensea.ts
  e2e/opensea-api-mock/src/utils/web3.ts
  e2e/tests/opensea-price-discovery.test.ts
  e2e/tests/utils.ts
  package-lock.json
  package.json
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/marketplaces/mixin.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: common, core-sdk

ensure the protocol Address (seaport) is specified
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

update e2e/tests/utils.ts
  e2e/tests/utils.ts
Due: none

PR review remarks
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/common/src/mappings.ts
  packages/core-sdk/src/price-discovery/handler.ts
  scripts/create-price-discovery-offer.ts
  scripts/opensea/create-listing.ts
  scripts/opensea/create-offer-opensea.ts
  scripts/opensea/create-offer.ts
  scripts/opensea/fulfil-order-opensea.ts
  scripts/opensea/fulfil-order.ts
  scripts/opensea/utils.ts
Due: common, core-sdk

fix: minor phygital issues
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
  packages/react-kit/src/components/tooltip/Tooltip.tsx
  packages/react-kit/src/components/ui/DetailsSummary.tsx
  packages/react-kit/src/lib/address/address.ts
  packages/react-kit/src/lib/bundle/const.ts
Due: none

fix: minor phygital issues (#719)
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
  packages/react-kit/src/components/tooltip/Tooltip.tsx
  packages/react-kit/src/components/ui/DetailsSummary.tsx
  packages/react-kit/src/lib/address/address.ts
  packages/react-kit/src/lib/bundle/const.ts
Due: none

chore: implement OpenSeaWrapper and OpenSeaWrapperFactory contracts
  contracts/hardhat.config.js
  contracts/other-contracts/mock/MockBosonSellerHandler.sol
  contracts/other-contracts/mock/MockBosonVoucher.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapper.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapperFactory.sol
  contracts/test/MockBosonSellerHandler.test.js
  contracts/test/MockBosonVoucher.test.js
  contracts/test/OpenSeaWrapperFactory.test.js
  contracts/test/utils.js
Due: none

deploy OpenSeaWrapperFactory for e2e tests
  contracts/hardhat.config.js
  contracts/scripts/deploy-seaport.js
  contracts/scripts/deploy-wrappers.js
  contracts/scripts/deploy.js
  contracts/test/OpenSeaWrapperFactory.test.js
  e2e/docker-compose.yml
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

fixes
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/components/nftItem/NftItemIcon.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/ui/IpfsImage.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/hooks/bundles/useBundleItemsImages.ts
  packages/react-kit/src/hooks/contracts/erc1155/useErc1155Uri.ts
  packages/react-kit/src/hooks/contracts/erc1155/useErc1155Uris.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721TokenUri.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721TokenUris.ts
  packages/react-kit/src/hooks/contracts/useGetTokenUriImage.ts
  packages/react-kit/src/hooks/contracts/useGetTokenUriImages.ts
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/lib/ipfs/ipfs.ts
  packages/react-kit/src/lib/offer/getOfferDetails.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
