Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

ci: remove useless BSNORG_ACTIONS_SECRET from checkout action (#1014)
  .github/workflows/ci.yaml
Due: none

docs: add documentation for buyer-initiated offers and createOfferAndCommit method
  docs/details/buyerInitiatedOffers.md
  docs/details/createOfferAndCommit.md
Due: none

feat: enhance meta-tx handler tests with comprehensive coverage for signing functions
  .gitignore
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
Due: core-sdk

lint
  packages/core-sdk/tests/meta-tx/handler.test.ts
Due: none

fix: update documentation for completeExchangeBatch to completeExchange in meta transaction signing
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

feat: add comprehensive tests for MetaTxMixin functions in mixin.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: none

refactor: improve formatting and readability in mixin.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: none

feat: add settings.json for claude configuration with permissions
  .claude/settings.json
  .gitignore
Due: none

feat: enhance MetaTxMixin tests with additional assertions and mock data
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: none

feat: add Claude code instructions for post-task linting process
  CLAUDE.md
Due: none

refactor: improve code formatting and readability in mixin.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
Due: none

feat: enhance signNativeMetaTx and signNativeMetaTxApproveExchangeToken with overloads for returnTypedDataToSign; add comprehensive tests for both functions
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/tests/native-meta-tx/handler.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

refactor: update signNativeMetaTx and related functions to return UnsignedMetaTx instead of StructuredData
  CLAUDE.md
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/native-meta-tx/handler.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

fix: convert nonce to string in signNativeMetaTx message
  packages/core-sdk/src/native-meta-tx/handler.ts
Due: core-sdk

refactor: remove debug logging from meta-tx tests
  e2e/tests/meta-tx.test.ts
Due: none

feat: enhance meta-tx handler tests with comprehensive coverage for s… (#1018)
  .claude/settings.json
  .gitignore
  CLAUDE.md
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/native-meta-tx/handler.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

feat: add .claudeignore file to exclude unnecessary files from Git tracking
  .claudeignore
  CLAUDE.md
Due: none

refactor: clean up comments in settings.json for better readability
  .claude/settings.json
Due: none

docs: clarify instructions on accessing Solidity source files in contracts/
  CLAUDE.md
Due: none

fix: update fleek links to new boson pages for testing and staging environments
  docs/boson-environments.md
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

Update packages/react-kit/src/stories/widgets/Roblox.stories.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

fix: update fleek links to new boson pages for testing and staging en… (#1020)
  docs/boson-environments.md
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

Apply suggestions from code review
  docs/details/buyerInitiatedOffers.md
  docs/details/createOfferAndCommit.md
Due: none

docs: add documentation for buyer-initiated offers and createOfferAnd… (#1017)
  docs/details/buyerInitiatedOffers.md
  docs/details/createOfferAndCommit.md
Due: none

chore: update protocol contracts dependency
  contracts/hardhat.config.js
  contracts/other-contracts/mock/MockBosonSellerHandler.sol
  contracts/other-contracts/mock/MockBosonVoucher.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapper.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapperFactory.sol
  contracts/package-lock.json
  contracts/package.json
Due: none

update contract ABIs
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeCommitHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
Due: common

update commit hash in e2e docker compose
  e2e/docker-compose.yml
Due: none

chore: update block gas limit in hardhat config and docker image version in compose
  contracts/hardhat.config.js
  e2e/docker-compose.yml
Due: none

fix e2e test
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  package-lock.json
  packages/subgraph/package.json
Due: none

recreate the Typechain bindings inside the ./packages/ethers-sdk folder
  packages/ethers-sdk/src/contracts/IBosonConfigHandler.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonConfigHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeCommitHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonGroupHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonPriceDiscoveryHandler__factory.ts
Due: none

feat: upgrade protocol 2.5.1 rc.1 no new features (#1022)
  contracts/hardhat.config.js
  contracts/other-contracts/mock/MockBosonSellerHandler.sol
  contracts/other-contracts/mock/MockBosonVoucher.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapper.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapperFactory.sol
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  package-lock.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeCommitHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
  packages/ethers-sdk/src/contracts/IBosonConfigHandler.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonConfigHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeCommitHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonGroupHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonPriceDiscoveryHandler__factory.ts
  packages/subgraph/package.json
Due: common

feat: add support for ERC3009, ERC2612, and Permit2 token transfers; update accounts and deployment scripts
  contracts/accounts.js
  contracts/scripts/deploy-other-tokens.js
  contracts/scripts/deploy-weth.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: update permissions in settings.json to enhance git command support and restrict dangerous operations
  .claude/settings.json
Due: none

feat: add ERC3009 token and Permit2 mock contracts with corresponding ABIs
  contracts/hardhat.config.js
  e2e/tests/core-sdk-token-auth.test.ts
  packages/common/src/abis/MockERC2612Token.json
  packages/common/src/abis/MockERC3009Token.json
  packages/common/src/abis/MockPermit2.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
Due: common, core-sdk

feat: implement EIP-2612 permit functionality with tests for ERC2612 token transfers
  .claude/settings.json
  e2e/tests/core-sdk-token-auth.test.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
Due: core-sdk

feat: implement Permit2 support with signing and verification in core SDK
  e2e/tests/core-sdk-token-auth.test.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/native-meta-tx/mixin.test.ts
Due: core-sdk

Refactor ERC20 authorization handling to unify transfer authorization types
  e2e/tests/core-sdk-token-auth.test.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/tests/erc20/handler.test.ts
  packages/core-sdk/tests/erc20/mixin.test.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
Due: core-sdk

feat: add meta transaction signing methods for offer and voucher operations
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/orchestration/mixin.ts
  packages/core-sdk/tests/meta-tx/handler.test.ts
  packages/core-sdk/tests/meta-tx/mixin.test.ts
  packages/core-sdk/tests/orchestration/handler.test.ts
Due: core-sdk

feat: update settings and configurations for Permit2 integration and enhance meta-transaction support
  .claude/settings.json
  contracts/scripts/deploy-other-tokens.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-token-auth.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
Due: common

refactor: claude's security settings have been strenghtened
  .claude/settings.json
Due: none
