Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: add txRequest override to createOffer (#946)
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

feat: create agent adapter
  packages/ethers-sdk/src/agent-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/ethers-sdk/tests/agent-adapter.test.ts
Due: none

wip
  packages/ethers-sdk/src/index.ts
Due: none

update mixins and handlers
  packages/common/src/types/web3-lib-adapter.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc165/mixin.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/erc721/mixin.ts
  packages/core-sdk/src/errors/mixin.ts
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/mixin.ts
  packages/core-sdk/src/groups/handler.ts
  packages/core-sdk/src/groups/mixin.ts
  packages/core-sdk/src/marketplaces/mixin.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/mixin.ts
  packages/core-sdk/src/price-discovery/handler.ts
  packages/core-sdk/src/price-discovery/mixin.ts
  packages/core-sdk/src/protocol-config/handler.ts
  packages/core-sdk/src/protocol-config/mixin.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/voucher/handler.ts
  packages/core-sdk/src/voucher/mixin.ts
  packages/ethers-sdk/src/agent-adapter.ts
  packages/ethers-sdk/tests/agent-adapter.test.ts
Due: common, core-sdk

fix test
  packages/ethers-sdk/tests/agent-adapter.test.ts
Due: none

fix e2e
  e2e/tests/accounts.test.ts
  e2e/tests/bundle.test.ts
  e2e/tests/core-sdk-accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk-erc.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/fundsEventLogs.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/accounts/mixin.ts
Due: core-sdk

chore: make TransactionReceipt.gasUsed mandatory property
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: common, core-sdk

pr remarks
  e2e/tests/accounts.test.ts
  packages/common/src/types/web3-lib-adapter.ts
Due: common

chore: make TransactionReceipt.gasUsed mandatory property (#948)
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: common, core-sdk

wip
  package.json
  scripts/create-offer-agent.ts
Due: none

add returnTxInfo tests
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
Due: none

wip
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/core-sdk.test.ts
Due: none

wip
  e2e/tests/core-sdk-funds.test.ts
Due: none

wip
  e2e/tests/core-sdk.test.ts
Due: none

wip
  e2e/tests/accounts.test.ts
Due: none

wip
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
Due: none

wip
  e2e/tests/accounts.test.ts
  package.json
Due: none

feat: add returnTxInfo tests (#949)
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/core-sdk.test.ts
  package.json
Due: none

chore: publish docker images to support e2e tests
  .github/workflows/publish-docker-opensea-api-mock.yaml
Due: none

chore: merge changes from Fermion in opensea-api-mock
  e2e/opensea-api-mock/src/controllers/opensea.ts
  e2e/opensea-api-mock/src/routes/opensea.ts
  e2e/opensea-api-mock/src/services/opensea.ts
Due: none

wip
  packages/common/src/configs.ts
  packages/common/src/index.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

feat: improve types protocolConfig (#951)
  packages/common/src/configs.ts
  packages/common/src/index.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

chore: update deps
  package-lock.json
  packages/react-kit/package.json
Due: none

chore: update deps (#952)
  package-lock.json
  packages/react-kit/package.json
Due: none

wip
  packages/react-kit/src/stories/opensea/DetailOpenSea.stories.tsx
Due: none

wip
  package-lock.json
  package.json
  packages/ipfs-storage/package.json
  packages/react-kit/package.json
  packages/utils/package.json
Due: none

update OpenseaFee Recipient address for local env
  contracts/scripts/tasks/deployWrappers.js
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/Dockerfile
  e2e/tests/utils.ts
Due: none

wip
  package-lock.json
  package.json
  packages/common/package.json
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
  packages/react-kit/src/colors.ts
  packages/react-kit/src/components/buttons/BaseButton.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/Upload/UploadedFile.tsx
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/styled-components.d.ts
  packages/react-kit/src/theme.ts
  packages/utils/package.json
  packages/utils/src/index.ts
Due: none

wip
  package-lock.json
Due: none

replace tempo docker account with official fermionprotocol account
  .github/workflows/publish-docker-opensea-api-mock.yaml
Due: none

feat: allow showing full text for connected wallet
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

wip
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
Due: none

feat: allow showing or hiding full text for connected wallet (#955)
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

chore: remove publish the container on PR. Replace with merge in main
  .github/workflows/publish-docker-opensea-api-mock.yaml
Due: none

chore: publish docker images to support e2e tests (#956)
  .github/workflows/publish-docker-opensea-api-mock.yaml
  contracts/scripts/tasks/deployWrappers.js
  e2e/opensea-api-mock/.env.example
  e2e/opensea-api-mock/Dockerfile
  e2e/opensea-api-mock/src/controllers/opensea.ts
  e2e/opensea-api-mock/src/routes/opensea.ts
  e2e/opensea-api-mock/src/services/opensea.ts
  e2e/tests/utils.ts
Due: none

feat: cover more cases ipfs storage get
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/tests/ipfs.test.ts
Due: none

feat: cover more cases ipfs storage get (#957)
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/tests/ipfs.test.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
