Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat(widgets): revoke cancel redeem (#121)
  packages/widgets/src/lib/closeWidget.ts
  packages/widgets/src/lib/components/WidgetLayout/index.tsx
  packages/widgets/src/lib/components/WidgetWrapper.tsx
  packages/widgets/src/lib/components/modals/TransactionModal.tsx
  packages/widgets/src/lib/components/modals/TransactionPendingModal.tsx
  packages/widgets/src/lib/createdExchange.ts
  packages/widgets/src/lib/iframe.ts
  packages/widgets/src/views/create-offer/index.tsx
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
  packages/widgets/src/views/manage-exchange/SellerActions.tsx
  packages/widgets/src/views/manage-offer/BuyerActions.tsx
  packages/widgets/src/views/manage-offer/SellerActions.tsx
Due: none

chore: enhance delpoy script to support ropsten
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy.js
Due: none

feat: update default ropsten config
  packages/common/src/configs.ts
Due: common

feat: update ropsten config (#122)
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy.js
  packages/common/src/configs.ts
Due: common

fix: disable state on redeem button in manage-exchange
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
Due: none

fix: disable state on redeem button in manage-exchange (#123)
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
Due: none

fix(widgets): exchange state
  packages/widgets/src/lib/exchanges.ts
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
Due: none

build: fix hardhat config
  contracts/hardhat.config.js
Due: none

build: fix hardhat config (#125)
  contracts/hardhat.config.js
Due: none

fix(widgets): exchange state (#124)
  packages/widgets/src/lib/exchanges.ts
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
Due: none

feat: rudimentary withdraw funds logic
  .gitignore
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/interface.ts
Due: core-sdk

fix(widgets): seller action on exchange view
  packages/widgets/src/views/manage-exchange/SellerActions.tsx
Due: none

fix(widgets): seller action on exchange view (#126)
  packages/widgets/src/views/manage-exchange/SellerActions.tsx
Due: none

refactor: improve withdraw funds test
  e2e/tests/core-sdk.test.ts
Due: none

feat: rudimentary withdraw funds logic (#127)
  .gitignore
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/interface.ts
Due: core-sdk

feat: remove valid from/until fields in manage-exchange widget
  packages/widgets/src/lib/components/details/ExchangeDetails.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
Due: none

feat: remove valid from/until fields in manage-exchange widget (#128)
  packages/widgets/src/lib/components/details/ExchangeDetails.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
Due: none

feat: inital withdraw all funds logic
  packages/common/tests/mocks.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/tests/funds/handler.test.ts
Due: core-sdk

refactor: move getExchangeState to core-sdk
  packages/core-sdk/src/exchanges/getExchangeState.ts
  packages/core-sdk/src/exchanges/index.ts
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
  packages/widgets/src/views/manage-exchange/SellerActions.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
Due: core-sdk

feat: show UNSUPPORTED if the offer has invalid metadata
  packages/widgets/src/views/manage-offer/index.tsx
Due: none

feat: show UNSUPPORTED if the exchange has invalid metadata
  packages/widgets/src/views/manage-exchange/index.tsx
Due: none

refactor: move getExchangeState to core-sdk (#130)
  packages/core-sdk/src/exchanges/getExchangeState.ts
  packages/core-sdk/src/exchanges/index.ts
  packages/widgets/src/views/manage-exchange/BuyerActions.tsx
  packages/widgets/src/views/manage-exchange/SellerActions.tsx
  packages/widgets/src/views/manage-exchange/index.tsx
  packages/widgets/src/views/manage-offer/index.tsx
Due: core-sdk

fixup
  packages/common/tests/mocks.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
Due: none

test(subgraph): adapt event mocks to new interface
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

feat(core-sdk): expose `completeExchange`
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/tests/exchanges/handler.test.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

fixup
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat(core-sdk): expose `completeExchange` (#132)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/tests/exchanges/handler.test.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

feat: initial withrdraw all funds e2e test
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

build: extend local deploy script
  contracts/scripts/deploy.js
  packages/subgraph/subgraph.template.yaml
Due: none

build: extend local deploy script (#133)
  contracts/scripts/deploy.js
  packages/subgraph/subgraph.template.yaml
Due: none

feat: use mock ERC20 token to test depositing and withdrawing funds
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  package-lock.json
Due: none

Propose new schema for Product metadata
  packages/metadata/src/product-v1/schema.json
Due: none

propose new schema for product metadata
  packages/metadata/src/product-v1/schema.json
Due: none

feat: update hardhat image tag
  e2e/docker-compose.yml
Due: none

fix syntax errors in schema
  packages/metadata/src/product-v1/schema.json
Due: none

feat: withdraw all funds (#129)
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  package-lock.json
  packages/common/tests/mocks.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/tests/funds/handler.test.ts
Due: core-sdk

feat(core-sdk): meta tx handler
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/index.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/index.ts
  packages/core-sdk/src/meta-tx/interface.ts
Due: common, core-sdk

Finalize product schema and add a few tests to validate full offer and minimal offer
  packages/metadata/src/base/index.ts
  packages/metadata/src/base/schema.json
  packages/metadata/src/index.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/metadata/tests/product-v1/valid/template.json
Due: none
