Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

fix lint
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: core-sdk

fix test
  packages/core-sdk/tests/check-exchange-policy.test.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer6.json
Due: none

chore: add defensive error type checking for yup validationError handling (#1001)
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/tests/check-exchange-policy.test.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer6.json
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: core-sdk

copilot pr remarks
  packages/core-sdk/src/offers/checkExchangePolicy.ts
Due: core-sdk

some additional fixes
  packages/react-kit/src/components/contractualAgreement/ContractualAgreement.tsx
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
Due: none

fix render contractual agreement for bundle offer
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/react-kit/src/hooks/useRenderTemplate.ts
Due: core-sdk

feat: adapt check exchange policy for bundle offers (#999)
  data/exchangePolicies/exchangePolicyRules.template.json
  data/ipfs.txt
  package-lock.json
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/check-exchange-policy.test.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidBundle.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer6.json
  packages/core-sdk/tests/exchangePolicy/examples/validBundle.json
  packages/core-sdk/tests/exchangePolicy/exchangePolicyRules.testing.json
  packages/react-kit/src/components/boson/BosonProvider.tsx
  packages/react-kit/src/components/contractualAgreement/ContractualAgreement.tsx
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
  packages/react-kit/src/hooks/useCheckExchangePolicy.ts
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: core-sdk

ci: try to fix publishing release
  .github/workflows/publish-alpha.yaml
  .github/workflows/publish-latest.yaml
Due: none

ci: try to fix publishing release (fix #996)
  .github/workflows/publish-alpha.yaml
Due: none

chore: dummy change to force replublishing release
  packages/common/src/mappings.ts
Due: common

chore: dummy change to force replublishing release (#1002)
  packages/common/src/mappings.ts
Due: common

fix: improve style of the offer overview in case of a bundle
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/Overview.tsx
Due: none

Update packages/react-kit/src/components/modal/components/common/OfferFullDescription/Overview.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/Overview.tsx
Due: none

copilot suggestion
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/Overview.tsx
Due: none

fix: improve style of the offer overview in case of a bundle (#1003)
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/Overview.tsx
Due: none

feat: add search-products method
  e2e/tests/productV1.test.ts
  package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/search/mixin.ts
  packages/core-sdk/src/search/queries.graphql
  packages/core-sdk/src/search/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  scripts/search-products.ts
Due: core-sdk

pr remarks
  packages/core-sdk/src/search/mixin.ts
Due: core-sdk

pr remarks
  e2e/tests/productV1.test.ts
Due: none

pr remarks
  scripts/search-products.ts
Due: none

add qureyVars to the search-product method
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/search/mixin.ts
Due: core-sdk

pr remarks
  packages/core-sdk/src/search/index.ts
  packages/core-sdk/src/search/mixin.ts
Due: core-sdk

lint
  packages/core-sdk/src/search/mixin.ts
Due: core-sdk

feat: add search-products method (#1004)
  e2e/tests/productV1.test.ts
  package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/search/index.ts
  packages/core-sdk/src/search/mixin.ts
  packages/core-sdk/src/search/queries.graphql
  packages/core-sdk/src/search/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  scripts/search-products.ts
Due: core-sdk

wip
  contracts/Dockerfile
  e2e/docker-compose.yml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-services.sh
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

chore: add copilot instructions with PR and commit naming rules (#1008)
  .github/copilot-instructions.md
Due: none

feat: add signMetaTxCommitToBuyerOffer to meta-tx handler and mixin (#1006)
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

Update .github/hooks/session_end.sh
  .github/hooks/session_end.sh
Due: none

Apply suggestion from @Copilot
  .github/hooks/session_end.sh
Due: none

Apply suggestion from @Copilot
  .github/hooks/hooks.json
Due: none

ci: add copilot sessionEnd hook to auto-approve pending CI workflow runs (#1011)
  .github/hooks/hooks.json
  .github/hooks/session_end.sh
Due: none

feat(core-sdk): add signMetaTxCreateOfferAndCommit to meta-tx handler and mixin (#1012)
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk
