Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

fix: copy-assets fails on Windows (#667)
  packages/react-kit/package.json
Due: none

Update packages/react-kit/src/hooks/contracts/erc721/useErc721TokenUri.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721TokenUri.ts
Due: none

Update packages/react-kit/src/hooks/contracts/erc1155/useErc1155Uri.ts
  packages/react-kit/src/hooks/contracts/erc1155/useErc1155Uri.ts
Due: none

feat: add enabled to use erc721 owner of
  packages/react-kit/src/hooks/contracts/erc721/useErc721OwnerOf.ts
Due: none

fix: validation text error
  packages/common/src/utils/validation.ts
  packages/common/tests/utils/validation.test.ts
Due: common

fix: return of wait function of meta tx so it doesnt crash if txReceipt is undefined
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: validation error and access to property in wait biconomy (#669)
  packages/common/src/utils/validation.ts
  packages/common/tests/utils/validation.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: common, core-sdk

fix: create/update seller - force clerk to be AddressZero whatever the passed arguments
  packages/core-sdk/src/accounts/interface.ts
Due: core-sdk

fix some e2e tests
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix collection e2e test
  e2e/tests/core-sdk-collections.test.ts
Due: none

feat: deactivate use of meta-transaction when the connected wallet is a contract
  packages/common/src/types/web3-lib-adapter.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useSignerAddress.tsx
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common

fix ipfs-storage test
  packages/common/tests/mocks.ts
Due: none

feat: request typename in offer metadata
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: change queries to add metadata typename
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

add e2e:test for createPremintedOfferWithCondition()
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/offers.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: common, core-sdk

fix: tests
  packages/core-sdk/tests/mocks.ts
Due: none

feat: request typename in offer metadata (#672)
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

factorize the useMetaTx logic in a unique hook function
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useMetaTx.ts
Due: none

feat: deactivate use of meta-transaction when the connected wallet is… (#671)
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/components/cta/common/CtaButton.tsx
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useMetaTx.ts
  packages/react-kit/src/hooks/useSignerAddress.tsx
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common

feat: support phygitals
  packages/react-kit/src/components/modal/components/Commit/CommitSuccess/CommitSuccess.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailViewWithPortal.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferFullDescriptionView/OfferFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferPolicyView/CommitOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/RedeemSuccess.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/OfferPolicyView/RedeemOfferPolicyView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGated.tsx
  packages/react-kit/src/hooks/offer/useIsPhygital.ts
  packages/react-kit/src/lib/offer/getFirstOfferProductV1.ts
  packages/react-kit/src/lib/offer/getOfferAnimationUrl.ts
  packages/react-kit/src/lib/offer/getOfferDetails.ts
  packages/react-kit/src/lib/offer/getOfferVariations.ts
  packages/react-kit/src/types/offer.ts
Due: none

wip
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/OfferFullDescription.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/PhysicalProductData.tsx
  packages/react-kit/src/lib/ipfs/ipfs.ts
  packages/react-kit/src/lib/offer/getOfferDetails.ts
Due: none

chore: add missing tests for changed method
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/group-handler.ts
Due: core-sdk

multiformats/cid
  packages/react-kit/src/lib/ipfs/ipfs.ts
Due: none

digital data traits
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/PhysicalProductData.tsx
  packages/react-kit/src/lib/offer/getOfferDetails.ts
Due: none

ensure default values for createOffer new arguments
  e2e/tests/core-sdk-accounts.test.ts
  packages/common/src/types/offers.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/offers/interface.ts
Due: common, core-sdk

PR review remarks
  packages/subgraph/src/mappings/group-handler.ts
Due: none

remove royaltyPercentage parameter from createNewCollection()
  e2e/tests/core-sdk-collections.test.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
Due: common, core-sdk

wip
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/DigitalProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailTable.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewCore.tsx
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/components/nftItem/NftItemIcon.tsx
  packages/react-kit/src/components/ui/DetailsSummary.tsx
  packages/react-kit/src/hooks/contracts/erc1155/useErc1155Name.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721Name.ts
  packages/react-kit/src/hooks/contracts/useGetTokenUriImage.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/bundle/filter.ts
  packages/react-kit/src/lib/offer/getOfferDetails.ts
  packages/react-kit/src/types/bundle.ts
Due: none

feat: add royaltyRecipients management at seller level
  contracts/accounts.js
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/tests/core-sdk-royalties.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/protocol-config/handler.ts
  packages/core-sdk/src/protocol-config/index.ts
  packages/core-sdk/src/protocol-config/interface.ts
  packages/core-sdk/src/protocol-config/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer1.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer2.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer3.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer4.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer5.json
  packages/core-sdk/tests/exchangePolicy/examples/validOffer.json
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

fix linter
  packages/core-sdk/src/protocol-config/handler.ts
  packages/core-sdk/src/protocol-config/interface.ts
  packages/core-sdk/src/protocol-config/mixin.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

fix core-sdk test + implement removeRoyaltyRecipients()
  e2e/tests/core-sdk-royalties.test.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: core-sdk

upgrade to latest protocol version after fiwing AccountHandlerABI (https://github.com/bosonprotocol/boson-protocol-contracts/issues/916)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/tests/core-sdk-royalties.test.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/core-sdk/src/accounts/interface.ts
Due: common, core-sdk

phygitals in commit widget
  packages/core-sdk/src/offers/getOfferStatus.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
  packages/react-kit/src/components/widgets/commit/CommitModalWithOffer.tsx
  packages/react-kit/src/hooks/bundles/useBundleByUuid.ts
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/products/useProductByUuid.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/bundle/filter.ts
  packages/react-kit/src/lib/offer/filter.ts
  packages/react-kit/src/lib/offer/getOfferDetails.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
  packages/react-kit/src/types/variants.ts
Due: core-sdk

upgrade graph-ts dep version
  package-lock.json
  packages/subgraph/package.json
Due: none

create subgraph tests for group handlers
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/exchange-handler.test.ts
  packages/subgraph/tests/group-handler.test.ts
  packages/subgraph/tests/metadata.test.ts
  packages/subgraph/tests/mocks.ts
Due: none

clear previous offers from condition when a group is updated
  packages/subgraph/src/mappings/group-handler.ts
  packages/subgraph/tests/group-handler.test.ts
Due: none

clean RoyaltyRecipients for seller when removed on-chain
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/royalties.test.ts
Due: none

fix e2e test issue
  e2e/docker-compose.yml
Due: none

release constraints on derivedFrom array attributes (seller.royaltyRecipients and conditionEntity.offers)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/group-handler.ts
Due: none
