Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

fix: export search bar
  packages/react-kit/src/index.tsx
Due: none

fix: update colors
  packages/react-kit/src/theme.ts
Due: none

feat: multi step component (#168)
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/components/step/Step.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/step/MultiSteps.stories.tsx
  packages/react-kit/src/stories/step/Step.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

fix: update the search return type
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat: simple input implementation
  packages/react-kit/src/components/field/Field.styles.ts
  packages/react-kit/src/components/field/Field.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/global.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/field/Input.stories.tsx
  packages/react-kit/src/stories/field/Textarea.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

feat: simple input implementation (#170)
  packages/react-kit/src/components/field/Field.styles.ts
  packages/react-kit/src/components/field/Field.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/global.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/field/Input.stories.tsx
  packages/react-kit/src/stories/field/Textarea.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

refactor: run async queries
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

fix: move ui components to dapp
  packages/react-kit/src/components/field/Field.styles.ts
  packages/react-kit/src/components/field/Field.tsx
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/components/step/Step.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/field/Input.stories.tsx
  packages/react-kit/src/stories/field/Textarea.stories.tsx
  packages/react-kit/src/stories/step/MultiSteps.stories.tsx
  packages/react-kit/src/stories/step/Step.stories.tsx
Due: none

fix: move ui components to dapp (#171)
  packages/react-kit/src/components/field/Field.styles.ts
  packages/react-kit/src/components/field/Field.tsx
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/components/step/Step.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/field/Input.stories.tsx
  packages/react-kit/src/stories/field/Textarea.stories.tsx
  packages/react-kit/src/stories/step/MultiSteps.stories.tsx
  packages/react-kit/src/stories/step/Step.stories.tsx
Due: none

docs(core-sdk): top-level ts-doc api annotations
  .eslintrc
  package-lock.json
  package.json
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

test: fix subgraph accounts
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: none

fix: remove duplicates
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat: build search bar (#169)
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/icons/MagnifyingGlass.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/searchBar/SearchBar.stories.tsx
Due: none

fix: remove duplicates from search result set
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

docs: change example chain id to polygon mainnet
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: build
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

fix: remove duplicates from search result set (#176)
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

docs(react-kit): add rudimentary api docs
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/stories/searchBar/SearchBar.stories.tsx
Due: none

docs(react-kit): add rudimentary api docs (#177)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/stories/searchBar/SearchBar.stories.tsx
Due: none

docs: reword storeMetadata docs
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

docs(core-sdk): top-level ts-doc api annotations (#172)
  .eslintrc
  package-lock.json
  package.json
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: core-sdk

feat(core-sdk): expose buyer query methods
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat(core-sdk): expose buyer query methods (#178)
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: get users by id and address
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat(react-kit): add hook to use ipfs metadata storage
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

fix: lint
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat(react-kit): add hook to use ipfs metadata storage (#180)
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

chore: remove the comments
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

chore: adapt custom deploy script
  contracts/hardhat.config.js
  contracts/scripts/deploy.js
Due: none

feat: update ABIs
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
Due: common

feat: adapt subgraph to new set of contracts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

feat: use getSellerById method
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat: update ethers-sdk typechain bindings
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
Due: none

feat: adapt core-sdk interface and handler functions
  packages/common/src/types/accounts.ts
  packages/common/src/types/offers.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: common, core-sdk

feat: update and adapt core-sdk subgraph helpers
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: update contract addresses in common package
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

test: adapt e2e tests to new set of contracts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

feat: adapt react-kit to new set of contracts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: none

feat: adapt widgets to new set of contracts
  apps/widgets/src/views/create-offer/index.tsx
  apps/widgets/src/views/manage-exchange/BuyerActions.tsx
  apps/widgets/src/views/manage-offer/BuyerActions.tsx
Due: none
