Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

allow meta-tx-gateway to not crash when network is not ready yet
  examples/meta-tx-gateway/src/app.ts
  examples/meta-tx-gateway/src/controllers/health.ts
Due: none

adding extra-hosts option in docker-compose
  e2e/docker-compose.yml
Due: none

restore running all e2e tests
  e2e/docker-compose.yml
  e2e/run-e2e-suite.sh
  e2e/tests/meta-tx.test.ts
Due: none

fix: change expired state
  packages/core-sdk/src/exchanges/getExchangeState.ts
Due: core-sdk

feat: productCard update
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

fix: change expired state (#248)
  packages/core-sdk/src/exchanges/getExchangeState.ts
Due: core-sdk

feat: productCard update (#249)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: missing product card export add
  packages/react-kit/src/index.tsx
Due: none

feat: missing product card export add (#250)
  packages/react-kit/src/index.tsx
Due: none

chore: replace lerna-lite with lerna (#246)
  package-lock.json
  package.json
Due: none

feat: exchange card and product card update
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: exchange card stories update
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

feat: new card props (#251)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: fixed card image responsive
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: fixed card image responsive (#252)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: ensure fee when create dr (#231)
  packages/common/src/configs.ts
  scripts/create-dispute-resolver.ts
Due: common

chore: change starting block for testing subgraph
  packages/subgraph/scripts/render-manifest.ts
Due: none

update the TESTING contract address and network
  packages/common/src/configs.ts
Due: common

chore: change starting block for testing subgraph (#253)
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: common config (i.e. access via envName instead of chainId)
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/README.md
  packages/common/src/configs.ts
  packages/common/tests/configs.test.ts
  packages/core-sdk/README.md
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
  packages/react-kit/src/stories/searchBar/SearchBar.stories.tsx
  scripts/create-dispute-resolver.ts
  scripts/deposit-funds.ts
  scripts/explore-offer.ts
Due: common, core-sdk

lint code
  packages/common/tests/configs.test.ts
Due: none

configure new testing subgraph upload
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  packages/common/src/configs.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
Due: common

take into account pr remarks
  e2e/tests/utils.ts
  packages/common/README.md
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/tests/configs.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
  packages/subgraph/scripts/render-manifest.ts
  scripts/create-dispute-resolver.ts
  scripts/deposit-funds.ts
  scripts/explore-offer.ts
Due: common, core-sdk

minor changes
  packages/common/src/configs.ts
Due: common

feat: migrate TESTING env to Mumbai (#254)
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/README.md
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
  packages/common/tests/configs.test.ts
  packages/core-sdk/README.md
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/searchBar/SearchBar.tsx
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
  packages/react-kit/src/stories/searchBar/SearchBar.stories.tsx
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
  scripts/create-dispute-resolver.ts
  scripts/deposit-funds.ts
  scripts/explore-offer.ts
Due: common, core-sdk

fix: fix subgraph deployment error on testing env
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

fix: exchange card, product card position of loader and error icon fix
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

fix: remove pading from image error message
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

fix: card loader position (#256)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

fix: try fixing the isolatedModules issue when building the dApp
  packages/common/src/types/index.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

fix: try fixing the isolatedModules issue when building the dApp (#257)
  packages/common/src/types/index.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

feat: script to add and remove fees from a disputeResolver
  package.json
  scripts/update-dispute-resolver.ts
Due: none

add addSellers and removeSellers for a disputeResolver
  scripts/update-dispute-resolver.ts
Due: none

fix lint
  scripts/update-dispute-resolver.ts
Due: none

feat: add script to update a disputeResolver (add/remove fees,, add/remove sellers) (#258)
  package.json
  scripts/update-dispute-resolver.ts
Due: none

fix: fix hook useIpfsMetadataStorage
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

fix: fix hook useIpfsMetadataStorage (#259)
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

fetch Biconomy resubmitted endpoint to get transaction status and updates
  packages/common/src/configs.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
Due: common, core-sdk

fix lint
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
Due: none
