Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

fix: build
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

fix: build
  packages/react-kit/src/components/magicLink/UserProvider.tsx
  packages/react-kit/src/hooks/connection/useDisconnect.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/magicLink/logout.ts
Due: none

fix: reexport magic provider
  packages/react-kit/src/components/magicLink/MagicProvider.tsx
Due: none

fix: exports
  packages/react-kit/src/index.tsx
Due: none

fix: most react-kit circular dependencies (#664)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/datepicker/DatePicker.tsx
  packages/react-kit/src/components/datepicker/SelectTime.tsx
  packages/react-kit/src/components/datepicker/types.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/exchangeCard/types.ts
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/Upload/UploadedFiles.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/magicLink/MagicContext.tsx
  packages/react-kit/src/components/magicLink/MagicProvider.tsx
  packages/react-kit/src/components/magicLink/UserContext.tsx
  packages/react-kit/src/components/magicLink/UserProvider.tsx
  packages/react-kit/src/components/modal/ModalComponents.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/ModalTypes.ts
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/useModal.ts
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/signer/SignerProvider.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidgetProviders.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/hooks/callbacks/types.ts
  packages/react-kit/src/hooks/callbacks/useRedemptionCallbacks.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/magicLink/logout.ts
Due: none

fix: capitalizations and icon size
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/OfferFullDescription.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewCore.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGated.tsx
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
Due: none

update typechain on ethers-sdk
  packages/ethers-sdk/src/contracts/ERC1155.ts
  packages/ethers-sdk/src/contracts/ERC165.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler230.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/ERC1155__factory.ts
  packages/ethers-sdk/src/contracts/factories/ERC165__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonGroupHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler230__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: none

adapt to createOffer new ABI
  packages/common/src/types/offers.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/offers/types.ts
  packages/core-sdk/tests/offers/interface.test.ts
  packages/react-kit/src/hooks/useRenderTemplate.ts
Due: common, core-sdk

fix: check token gated condition function for large ranges or high token ids
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

fix: test
  e2e/tests/core-sdk.test.ts
Due: none

change to bigints
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

wip
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
Due: none

remove test case
  e2e/tests/core-sdk.test.ts
Due: none

fix lint
  packages/common/src/types/offers.ts
Due: common

fix subgraph unit tests
  packages/subgraph/tests/mocks.ts
  packages/subgraph/tests/offer-handler.test.ts
Due: none

fix some e2e:test
  packages/common/tests/mocks.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/orchestration/interface.ts
Due: core-sdk

refactor: cleanup
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/hooks/lens/useGetLensProfiles.ts
  packages/react-kit/src/hooks/uniswap/multicall.ts
  packages/react-kit/src/hooks/uniswap/useBlockNumber.tsx
  packages/react-kit/src/hooks/uniswap/useContract.ts
  packages/react-kit/src/hooks/uniswap/useCurrentBlockTimestamp.ts
  packages/react-kit/src/hooks/uniswap/useDebounce.ts
  packages/react-kit/src/hooks/uniswap/usePermitAllowance.ts
  packages/react-kit/src/hooks/uniswap/useSwapCallback.tsx
  packages/react-kit/src/hooks/uniswap/useTransactionDeadline.ts
  packages/react-kit/src/hooks/uniswap/useUniswapXSwapCallback.ts
  packages/react-kit/src/hooks/uniswap/useUniversalRouter.ts
  packages/react-kit/src/lib/const/providers.ts
  packages/react-kit/src/lib/routing/clientSideSmartOrderRouter.ts
  packages/react-kit/src/lib/routing/transformSwapRouteToGetQuoteResult.ts
  packages/react-kit/src/lib/uniswap/state/multicall.tsx
  packages/react-kit/src/lib/uniswap/validateTokenList.ts
  packages/react-kit/src/state/application/hooks.ts
  packages/react-kit/src/state/application/reducer.ts
  packages/react-kit/src/state/application/updater.ts
  packages/react-kit/src/state/index.ts
  packages/react-kit/src/state/migrations/legacy.ts
  packages/react-kit/src/state/reducer.ts
  packages/react-kit/src/state/routing/gas.ts
  packages/react-kit/src/state/routing/slice.ts
  packages/react-kit/src/state/routing/types.ts
  packages/react-kit/src/state/routing/useRoutingAPITrade.ts
  packages/react-kit/src/state/routing/utils.ts
  packages/react-kit/src/state/signatures/hooks.ts
  packages/react-kit/src/state/signatures/reducer.ts
  packages/react-kit/src/state/signatures/types.ts
  packages/react-kit/src/state/signatures/updater.tsx
  packages/react-kit/src/state/transactions/hooks.tsx
  packages/react-kit/src/state/transactions/reducer.ts
  packages/react-kit/src/state/transactions/types.ts
  packages/react-kit/src/state/updaters.tsx
  packages/react-kit/src/state/user/reducer.ts
  packages/react-kit/src/state/user/types.ts
Due: none

cleanup
  package-lock.json
  package.json
  packages/react-kit/src/abis/argent-wallet-contract.json
  packages/react-kit/src/abis/argent-wallet-detector.json
  packages/react-kit/src/abis/eip_2612.json
  packages/react-kit/src/abis/ens-public-resolver.json
  packages/react-kit/src/abis/ens-registrar.json
  packages/react-kit/src/abis/erc1155.json
  packages/react-kit/src/abis/erc20.json
  packages/react-kit/src/abis/erc20_bytes32.json
  packages/react-kit/src/abis/erc721.json
  packages/react-kit/src/abis/governor-bravo.json
  packages/react-kit/src/abis/permit2.json
  packages/react-kit/src/abis/types/EnsPublicResolver.d.ts
  packages/react-kit/src/abis/types/EnsRegistrar.d.ts
  packages/react-kit/src/abis/types/Erc1155.d.ts
  packages/react-kit/src/abis/types/Erc20.d.ts
  packages/react-kit/src/abis/types/Erc721.d.ts
  packages/react-kit/src/abis/types/Permit2.d.ts
  packages/react-kit/src/abis/types/Weth.d.ts
  packages/react-kit/src/abis/types/commons.ts
  packages/react-kit/src/abis/types/index.ts
  packages/react-kit/src/abis/uniswap-nft-airdrop-claim.json
  packages/react-kit/src/abis/weth.json
  packages/react-kit/src/graphql/data/__generated__/types-and-hooks.ts
  packages/react-kit/src/graphql/data/apollo.ts
  packages/react-kit/src/graphql/data/util.tsx
  packages/react-kit/src/lib/config/config.ts
Due: none

cleanup
  packages/react-kit/src/hooks/uniswap/useTokenList/utils.ts
  packages/react-kit/src/lib/types/tuple.ts
  packages/react-kit/src/lib/uniswap/currencyId.ts
  packages/react-kit/src/lib/uniswap/errors.ts
  packages/react-kit/src/lib/uniswap/swapErrorToUserReadableMessage.tsx
  packages/react-kit/src/state/lists/hooks.ts
Due: none

cleanup
  packages/react-kit/src/lib/contracts/getContract.ts
  packages/react-kit/src/lib/slippage/slippage.ts
  packages/react-kit/src/state/lists/wrappedTokenInfo.ts
Due: none

cleanup
  packages/react-kit/src/assets/svg/apple_logo.svg
  packages/react-kit/src/assets/svg/arbitrum_logo.svg
  packages/react-kit/src/assets/svg/avax_logo.svg
  packages/react-kit/src/assets/svg/avax_square_logo.svg
  packages/react-kit/src/assets/svg/base_background_icon.svg
  packages/react-kit/src/assets/svg/base_logo.svg
  packages/react-kit/src/assets/svg/base_square_logo.svg
  packages/react-kit/src/assets/svg/bnb-logo.svg
  packages/react-kit/src/assets/svg/bnb_square_logo.svg
  packages/react-kit/src/assets/svg/bolt.svg
  packages/react-kit/src/assets/svg/celo_logo.svg
  packages/react-kit/src/assets/svg/celo_square_logo.svg
  packages/react-kit/src/assets/svg/dot_line.svg
  packages/react-kit/src/assets/svg/eye.svg
  packages/react-kit/src/assets/svg/fiat_mask.svg
  packages/react-kit/src/assets/svg/logo.svg
  packages/react-kit/src/assets/svg/moonpay.svg
  packages/react-kit/src/assets/svg/optimism_square_logo.svg
  packages/react-kit/src/assets/svg/optimistic_ethereum.svg
  packages/react-kit/src/assets/svg/papers-text.svg
  packages/react-kit/src/assets/svg/phantom-icon.svg
  packages/react-kit/src/assets/svg/search.svg
  packages/react-kit/src/assets/svg/settings.svg
  packages/react-kit/src/assets/svg/share.svg
  packages/react-kit/src/assets/svg/socks.svg
  packages/react-kit/src/assets/svg/static_route.svg
  packages/react-kit/src/assets/svg/tooltip_triangle.svg
  packages/react-kit/src/assets/svg/uniswapx_error.svg
  packages/react-kit/src/assets/svg/x.svg
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/lib/chains/getNativeLogoURI.ts
Due: none

cleanup
  package-lock.json
  packages/react-kit/package.json
Due: none

fix: tests
  e2e/tests/core-sdk.test.ts
Due: none

fix: check token gated condition function for large ranges or high token ids (#665)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

erc721 and 1155 work
  package-lock.json
  packages/core-sdk/src/erc721/handler.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/hooks/contracts/erc1155/useErc1155Uri.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721OwnerOf.ts
  packages/react-kit/src/hooks/contracts/erc721/useErc721TokenUri.ts
  packages/react-kit/src/hooks/useCurrentSellers.ts
  packages/react-kit/src/lib/images/getTokenUriImage.ts
  packages/react-kit/src/lib/ipfs/ipfs.ts
Due: core-sdk

comments
  packages/react-kit/src/lib/ipfs/ipfs.ts
Due: none

cleanup
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/lib/config/config.ts
Due: none

refactor hook
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/hooks/contracts/useGetTokenUriImage.ts
  packages/react-kit/src/hooks/index.ts
Due: none

cleanup
  packages/react-kit/src/hooks/contracts/useGetTokenUriImage.ts
Due: none

chore: fix copy-assets script
  packages/react-kit/package.json
Due: none

fix: all issues to run this with the dapp
  .eslintrc
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/contracts/useGetTokenUriImage.ts
  packages/react-kit/src/lib/uniswap/validateTokenList.ts
  packages/react-kit/tsconfig.json
Due: none

fix: minor issue token gated
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
Due: none

feat: add prop to define how many images to show in the offer full description
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/OfferFullDescription.tsx
Due: none

pr remarks
  packages/react-kit/src/components/logo/useAssetLogoSource.ts
Due: none

fix: copy-assets fails on Windows
  packages/react-kit/package.json
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
