Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

Update packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
Due: none

feat: redemption without connecting wallet works
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/ConfirmationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/modal/nonModal/NonModal.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

feat: both signer and web3libadapter
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/useCoreSdkOverrides.ts
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
  packages/react-kit/src/lib/errors/transactions.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: none

refactor: rename sellerId to entityId in withdrawFunds and withdrawAllAvailableFunds functions
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/interface.ts
  packages/core-sdk/src/funds/mixin.ts
Due: core-sdk

feat: redemption widget without connecting wallet (#627)
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/ConfirmationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/modal/nonModal/NonModal.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/useCoreSdkOverrides.ts
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
  packages/react-kit/src/lib/errors/transactions.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

fix: tests
  packages/core-sdk/tests/funds/handler.test.ts
Due: none

fix: lint
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/ConfirmationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/wallet/ConnectButton.tsx
Due: none

fix: responsiveness header redemption widget (#626)
  packages/react-kit/src/components/magicLink/Login.tsx
  packages/react-kit/src/components/magicLink/MagicContext.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/ConfirmationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ContractualAgreementView/ContractualAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangePolicy/ExchangePolicy.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeFullDescriptionView/ExchangeFullDescriptionView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/RedeemSuccess.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancellationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucherView.tsx
  packages/react-kit/src/components/modal/components/Redeem/LicenseAgreementView/LicenseAgreementView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/MyItems.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemFormView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemHeader.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/Redeem/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/components/Redeem/StepsOverview/StepsOverview.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/wallet/ConnectButton.tsx
Due: none

refactor: rename sellerId to entityId in withdrawFunds and withdrawAllAvailableFunds functions (#628)
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/interface.ts
  packages/core-sdk/src/funds/mixin.ts
  packages/core-sdk/tests/funds/handler.test.ts
Due: core-sdk

fix: useCallSignerFromIframe
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

fix: useCallSignerFromIframe (#629)
  packages/react-kit/src/lib/signer/useCallSignerFromIframe.ts
Due: none

add getOfferCollections() method and add some tests about offer collections
  e2e/tests/core-sdk-collections.test.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
Due: common, core-sdk

ensure the length of the collectionId is checked before being submitted to the blockchain
  e2e/tests/core-sdk-collections.test.ts
  packages/core-sdk/src/accounts/handler.ts
Due: core-sdk

manage collection metadata
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/handler.ts
  packages/subgraph/src/entities/metadata/nft-contract/index.ts
  packages/subgraph/src/mappings/account-handler.ts
Due: core-sdk

fix subgraph test
  packages/subgraph/src/entities/metadata/handler.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/collection.json
Due: none

apply suggestions from code review
  packages/common/src/types/accounts.ts
  packages/subgraph/src/mappings/account-handler.ts
Due: common

use crypto.randomUUID to generate random string
  packages/core-sdk/src/accounts/handler.ts
Due: core-sdk

feat: create product card and collections card skeleton components
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/productCard/commonStyles.ts
  packages/react-kit/src/components/skeleton/CollectionsCardSkeleton.tsx
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
  packages/react-kit/src/components/skeleton/common.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/SkeletonCard.stories.tsx
Due: none

fix: lint
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/stories/SkeletonCard.stories.tsx
Due: none

Revert "use crypto.randomUUID to generate random string"
  packages/core-sdk/src/accounts/handler.ts
Due: core-sdk

feat: create product card and collections card skeleton components (#631)
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/productCard/commonStyles.ts
  packages/react-kit/src/components/skeleton/CollectionsCardSkeleton.tsx
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
  packages/react-kit/src/components/skeleton/common.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/SkeletonCard.stories.tsx
Due: none

fix e2e test
  e2e/tests/meta-tx.test.ts
Due: none

feat: manage collections at seller level (#630)
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/handler.ts
  packages/subgraph/src/entities/metadata/nft-contract/index.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/collection.json
Due: common, core-sdk

chore: speed up the e2e test by considering the blockNumber to wait for in waitForGraphNodeIndexing()
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/subgraph.meta.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: common, core-sdk

generalize to all e2e tests
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/fundsEventLogs.test.ts
  e2e/tests/meta-tx.test.ts
Due: none

fix expired dispute test
  e2e/tests/core-sdk.test.ts
Due: none

chore: speedup e2e tests (#632)
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/fundsEventLogs.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/subgraph.meta.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: common, core-sdk

chore: add polished package
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
Due: none

chore: add polished package (#633)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
Due: none

fix: ensure collection are referenced for offers created before protocol v2.3.0
  packages/subgraph/src/mappings/offer-handler.ts
Due: none

fix: ensure collection are referenced for offers created before protocol v2.3.0 (#634)
  packages/subgraph/src/mappings/offer-handler.ts
Due: none

fix: vulnerability issue
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

some fixes
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/useSellers.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fixes
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

fix issues
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

pr remarks
  packages/react-kit/src/components/avatar/SellerID.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/useCurrentSellers.ts
Due: none

ownerBy safe code
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

change usecurrentsellers and widgets
  packages/core-sdk/setupTests.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: core-sdk

change usecurrentsellers and widgets
  packages/react-kit/src/components/avatar/SellerID.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/widgets/common.ts
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/components/widgets/types.ts
  packages/react-kit/src/hooks/erc/erc721.ts
  packages/react-kit/src/hooks/useCoreSdkWithContext.ts
  packages/react-kit/src/hooks/useCurrentSellers.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

remove parentOrigin prop
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
