Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: exports erc20 hooks
  packages/react-kit/src/hooks/contracts/erc20/useErc20Allowance.ts
  packages/react-kit/src/hooks/index.ts
Due: none

feat: exports erc20 hooks (#931)
  packages/react-kit/src/hooks/contracts/erc20/useErc20Allowance.ts
  packages/react-kit/src/hooks/index.ts
Due: none

chore: update protocol contracts dependency
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
Due: none

regenerate abis
  package.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
Due: common

add e2e test with non zero price offer
  e2e/tests/opensea-price-discovery.test.ts
  packages/common/src/configs.ts
Due: common

add e2e test Buyer cancels after committing to price discovery
  e2e/tests/opensea-price-discovery.test.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

try to make e2e test more reliable
  e2e/tests/utils.ts
Due: none

feat: add ref to select
  packages/react-kit/src/components/form/Select.tsx
Due: none

feat: add ref to select (#934)
  packages/react-kit/src/components/form/Select.tsx
Due: none

small change
  e2e/tests/utils.ts
Due: none

fix: select ref types
  packages/react-kit/src/components/form/Select.tsx
Due: none

fix: select ref types (#935)
  packages/react-kit/src/components/form/Select.tsx
Due: none

chore: update protocol contracts dependency (#932)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/tests/opensea-price-discovery.test.ts
  e2e/tests/utils.ts
  package.json
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonConfigHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonPriceDiscoveryHandler.json
  packages/common/src/configs.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: common, core-sdk

chore: add arbitrum blockchains (wip)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
Due: none

add arbitrum blockchains (wip)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/generated/protocolAddresses.json
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  scripts/update-protocol-addresses.ts
Due: common

adapt core-sdk and react-kit packages
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/assets/svg/0923_One_Logos_Logomark_RGB.svg
  packages/react-kit/src/hooks/connection/useSwitchChain.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/const/providers.ts
  packages/react-kit/src/lib/const/routing.ts
  packages/react-kit/src/lib/const/tokens.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
Due: core-sdk

add subgraph commands
  packages/subgraph/logs/boson-testing-arbitrum
  packages/subgraph/package.json
  packages/subgraph/scripts/post-deploy-on-ormi.ts
  packages/subgraph/scripts/render-manifest.ts
  scripts/opensea/utils.ts
Due: none

deactivate new tests as protocol version is downgraded
  e2e/tests/opensea-price-discovery.test.ts
Due: none

chore: add arbitrum blockchain (#936)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/opensea-api-mock/src/services/opensea.ts
  e2e/tests/opensea-price-discovery.test.ts
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/generated/protocolAddresses.json
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/assets/svg/0923_One_Logos_Logomark_RGB.svg
  packages/react-kit/src/hooks/connection/useSwitchChain.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/const/providers.ts
  packages/react-kit/src/lib/const/routing.ts
  packages/react-kit/src/lib/const/tokens.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/logs/boson-testing-arbitrum
  packages/subgraph/package.json
  packages/subgraph/scripts/post-deploy-on-ormi.ts
  packages/subgraph/scripts/render-manifest.ts
  scripts/opensea/utils.ts
  scripts/update-protocol-addresses.ts
Due: common, core-sdk

chore: upgrade roblox-sdk
  package-lock.json
  packages/react-kit/package.json
Due: none

chore: upgrade roblox-sdk (#937)
  package-lock.json
  packages/react-kit/package.json
Due: none

chore: rationalize getOpenSeaUrl() implementation between Boson CC and Fermion UI
  packages/react-kit/src/components/modal/components/Commit/DetailView/RedeemWhatsNext.tsx
  packages/react-kit/src/components/modal/components/common/DetailOpenSea.tsx
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
Due: none

chore: add storybook story to test the opensea URL for several config/chains
  packages/react-kit/src/stories/opensea/DetailOpenSea.stories.tsx
Due: none

chore: rationalize getOpenSeaUrl() implementation between Boson CC an… (#938)
  packages/react-kit/src/components/modal/components/Commit/DetailView/RedeemWhatsNext.tsx
  packages/react-kit/src/components/modal/components/common/DetailOpenSea.tsx
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/react-kit/src/stories/opensea/DetailOpenSea.stories.tsx
Due: none

chore: export DetailOpenSea component
  packages/react-kit/src/index.tsx
Due: none

chore: export DetailOpenSea component (#939)
  packages/react-kit/src/index.tsx
Due: none

chore: fix export syntax for DetailOpenSea
  packages/react-kit/src/index.tsx
Due: none

chore: fix export syntax for DetailOpenSea (#940)
  packages/react-kit/src/index.tsx
Due: none

chore: change exchange type used by DetailOpenSea
  packages/react-kit/src/components/modal/components/common/DetailOpenSea.tsx
  packages/react-kit/src/lib/utils/exchange.ts
Due: none

chore: change exchange type used by DetailOpenSea (#941)
  packages/react-kit/src/components/modal/components/common/DetailOpenSea.tsx
  packages/react-kit/src/lib/utils/exchange.ts
Due: none

fix: production arbitrum subgraph is not deployed
  packages/subgraph/logs/boson-arbitrum
  packages/subgraph/scripts/render-manifest.ts
Due: none

fix: production arbitrum subgraph is not deployed (#942)
  packages/subgraph/logs/boson-arbitrum
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: change upload component to allow uploading images with compression on the client side
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

wip
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
Due: none

wip
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

wip
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

feat: upload with images compression (#943)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

chore: upgrade contracts to v2.4.2-rc.2
  .gitignore
  contracts/package.json
Due: none

chore: upgrade contracts to v2.4.2-rc.2 (#944)
  .gitignore
  contracts/package.json
Due: none

feat: add txRequest override to createOffer
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
