Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: nest dispute in base exchange fields
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add showLoading prop to all CTAs
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

feat: add showLoading prop to all CTAs (#275)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: none

feat: nest dispute in base exchange fields (#274)
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add num of commits / redemptions (#273)
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/exchange-handler.test.ts
Due: core-sdk

feat: add voided field to the subgraph queries
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

feat: add voided field to the subgraph queries (#276)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

fix: add base buyer and seller fields to base exchange fragment
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

fix: add base buyer and seller fields to base exchange fragment (#277)
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add script to upload an IPFS file
  package.json
  scripts/upload-to-ipfs.ts
Due: none

remove the '-l' flag for the subgraph deployment command (failing)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

fix: remove the '-l' flag for the subgraph deployment command (failing)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

fix: fix subgraph deployment issue (#279)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

create the markdown template for license and contract agreement
  data/contractualAgreement.template.md
  data/rNFTLicense.template.md
Due: none

prepare missing fields for template rendering (wip)
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

feat(subgraph): add new EventLog entity and handlers
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: none

feat(core-sdk): event logs queries and helpers
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/event-logs/index.ts
  packages/core-sdk/src/event-logs/queries.graphql
  packages/core-sdk/src/event-logs/subgraph.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

feat: add `EventLog` entity (#280)
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/event-logs/index.ts
  packages/core-sdk/src/event-logs/queries.graphql
  packages/core-sdk/src/event-logs/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: core-sdk

add missing fields in PRODUCT_v1 metadata
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
Due: none

add missing fields in productV1 metadata and template rendering engine
  data/contractualAgreement.template.md
  e2e/tests/productV1.test.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
Due: core-sdk

fix lint issue
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

add new metadata fields in subgraph
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/exchange-policy.ts
  packages/subgraph/src/entities/metadata/product-v1/shipping.ts
  packages/subgraph/tests/metadata/product-v1-full.json
Due: core-sdk

fix core-sdk tests
  packages/core-sdk/tests/mocks.ts
Due: none

feat: update seller wrapper
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
Due: common, core-sdk

feat: contractual agreement template (#278)
  data/contractualAgreement.template.md
  data/rNFTLicense.template.md
  e2e/tests/productV1.test.ts
  package.json
  packages/common/tests/mocks.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/exchange-policy.ts
  packages/subgraph/src/entities/metadata/product-v1/shipping.ts
  packages/subgraph/tests/metadata/product-v1-full.json
  scripts/upload-to-ipfs.ts
Due: core-sdk

chore: make meta-tx-gateway private
  e2e/meta-tx-gateway/package.json
Due: none

chore: make meta-tx-gateway private (#282)
  e2e/meta-tx-gateway/package.json
Due: none

feat: update seller wrapper (#281)
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
Due: common, core-sdk

feat: add lens contract addresses to config in common package
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: add lens contract addresses to config in common package (#283)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: set up prod config & ci
  .github/workflows/deploy-prod-subgraph.yaml
  packages/common/package.json
  packages/common/src/configs.ts
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
  packages/subgraph/package.json
Due: common

fix: linting
  packages/common/src/configs.ts
Due: common

feat: update buttons
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

fix: remove not used code
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

feat: set up prod config & ci (#284)
  .github/workflows/deploy-prod-subgraph.yaml
  packages/common/package.json
  packages/common/src/configs.ts
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
  packages/subgraph/package.json
Due: common

feat: fix npm publish config
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
Due: none

feat: fix npm publish config (#286)
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
Due: none

feat: mkae npm packages public
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
Due: none

feat: mkae npm packages public (#287)
  packages/core-sdk/package.json
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/package.json
  packages/ipfs-storage/package.json
  packages/metadata/package.json
  packages/react-kit/package.json
Due: none

fix: add colon
  packages/react-kit/src/components/buttons/Button.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
