Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: upgrade contracts to v2.0.0-rc.4 (testing & staging) (#311)
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/productV1.test.ts
  packages/common/src/configs.ts
  packages/core-sdk/src/subgraph.ts
  scripts/create-dispute-resolver.ts
Due: common, core-sdk

chore: forced change in 1 file
  packages/subgraph/schema.graphql
Due: none

chore: forced change in 1 file (#313)
  packages/subgraph/schema.graphql
Due: none

chore: change testing subgraph starting block
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: change testing subgraph starting block (#314)
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: commit button pas ref add
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
Due: none

feat: add licenseUrl field to metadata
  packages/metadata/src/base/index.ts
  packages/metadata/src/base/schema.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
Due: none

fix ipfs-storage test
  packages/ipfs-storage/tests/ipfs.test.ts
Due: none

fix other tests
  e2e/tests/utils.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/tests/mocks.ts
Due: none

add licenseUrl field in the subgraph and adapt the tests
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/tests/metadata/base.json
  packages/subgraph/tests/metadata/product-v1-full.json
Due: core-sdk

feat: add licenseUrl field to metadata (#316)
  e2e/tests/utils.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/ipfs-storage/tests/ipfs.test.ts
  packages/metadata/src/base/index.ts
  packages/metadata/src/base/schema.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/fullOffer.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/tests/metadata/base.json
  packages/subgraph/tests/metadata/product-v1-full.json
Due: core-sdk

e2e test for multi-variant product
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/src/variants/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: core-sdk

lint tests
  e2e/tests/productV1.test.ts
  packages/metadata/tests/productV1.test.ts
Due: none

chore: update production config
  packages/common/src/configs.ts
  scripts/update-seller.ts
Due: common

chore: remove unused script
  scripts/update-seller.ts
Due: none

chore: remove unused script (#318)
  scripts/update-seller.ts
Due: none

chore: update production config
  packages/common/src/configs.ts
Due: common

chore: update production config (#319)
  packages/common/src/configs.ts
Due: common

chore: update production subgraph deploy
  packages/subgraph/package.json
Due: none

chore: update production subgraph deploy (#320)
  packages/subgraph/package.json
Due: none

chore: update subgraph startBlock
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: update subgraph startBlock (#321)
  packages/subgraph/scripts/render-manifest.ts
Due: none

add test for batch offers creation
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/utils/logs.ts
Due: core-sdk

chore: update subgraph startBlock (#322)
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: add lens api link to common config
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

refactor: rename variable
  packages/common/src/configs.ts
Due: common

feat: add lens api link to common config (#323)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

fix: ci type error
  packages/common/src/types/configs.ts
Due: common

fix: ci type error (#324)
  packages/common/src/types/configs.ts
Due: common

add the ability to override the product metadata in variants
  e2e/tests/productV1.test.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

lint code
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

improve unit test and fix some things
  e2e/tests/productV1.test.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

add the ability to get a product from its uuid + get all associated offers
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
Due: core-sdk

remove dependency to uuid
  e2e/tests/productV1.test.ts
  package-lock.json
  package.json
  packages/metadata/package.json
  packages/metadata/src/product-v1/index.ts
Due: none

fix: only save funds log for seller
  packages/subgraph/src/mappings/funds-handler.ts
Due: none

clean code
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/variants/index.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: core-sdk

feat: add offer to exchange event log
  packages/core-sdk/src/event-logs/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: core-sdk
