Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: export drawer hooks
  packages/react-kit/src/components/connection/utils.ts
  packages/react-kit/src/hooks/index.ts
Due: none

chore: export drawer hooks (#799)
  packages/react-kit/src/components/connection/utils.ts
  packages/react-kit/src/hooks/index.ts
Due: none

chore: export usePrevious hook
  packages/react-kit/src/hooks/index.ts
Due: none

chore: export usePrevious hook (#800)
  packages/react-kit/src/hooks/index.ts
Due: none

feat: add onOptionClick to accountDrawer
  packages/react-kit/src/components/wallet2/walletModal/Option.tsx
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
Due: none

feat: add onOptionClick to accountDrawer (#801)
  packages/react-kit/src/components/wallet2/walletModal/Option.tsx
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
Due: none

feat: add useErc20EnsureAllowance.ts and change return types ercXXX methods
  packages/common/src/types/helpers.ts
  packages/common/src/types/index.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc165/mixin.ts
  packages/core-sdk/src/erc20/mixin.ts
  packages/core-sdk/src/erc721/mixin.ts
  packages/react-kit/src/hooks/contracts/erc20/useErc20EnsureAllowance.ts
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/types/helpers.ts
Due: common, core-sdk

remove unused lint rule
  packages/react-kit/src/types/helpers.ts
Due: none

feat: add estimateGas in Web3LibAdapter
  packages/common/src/types/web3-lib-adapter.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common

fix lint
  packages/common/src/types/web3-lib-adapter.ts
Due: common

fix test
  packages/common/tests/mocks.ts
Due: none

feat: add estimateGas in Web3LibAdapter (#803)
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/src/lib/signer/externalSigner.ts
Due: common

feat: add prop to disable magic link
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
  packages/react-kit/src/hooks/connection/useSyncChainQuery.ts
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

feat: add prop to disable magic link (#804)
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
  packages/react-kit/src/hooks/connection/useSyncChainQuery.ts
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

chore: upgrade opensea-js dep and change OrderSide enum type
  e2e/opensea-api-mock/package.json
  e2e/opensea-api-mock/src/services/opensea.ts
  package-lock.json
  package.json
  packages/core-sdk/package.json
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

force rebuild opensea-api-mock container
  e2e/docker-compose.yml
Due: none

chore: add unit test for opensea marketplace
  packages/core-sdk/tests/marketplaces/opensea.test.ts
Due: none

pr remarks
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

feat: add default tokens to account drawer and themes to connection error view
  packages/react-kit/src/components/wallet2/accountDrawer/AuthenticatedHeader.tsx
  packages/react-kit/src/components/wallet2/accountDrawer/miniPortfolio/index.tsx
  packages/react-kit/src/components/wallet2/accountDrawer/miniPortfolio/tokens/index.tsx
  packages/react-kit/src/components/wallet2/walletModal/ConnectionErrorView.tsx
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

feat: add default tokens to account drawer and themes to connection error view (#806)
  packages/react-kit/src/components/wallet2/accountDrawer/AuthenticatedHeader.tsx
  packages/react-kit/src/components/wallet2/accountDrawer/miniPortfolio/index.tsx
  packages/react-kit/src/components/wallet2/accountDrawer/miniPortfolio/tokens/index.tsx
  packages/react-kit/src/components/wallet2/walletModal/ConnectionErrorView.tsx
  packages/react-kit/src/components/wallet2/walletModal/index.tsx
  packages/react-kit/src/stories/ConnectWallet.stories.tsx
Due: none

wip
  packages/react-kit/src/components/wallet2/web3Status/index.tsx
  packages/react-kit/src/components/widgets/roblox/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/withProviders.tsx
  packages/react-kit/src/hooks/roblox/const.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxLocalStorage.ts
  packages/react-kit/src/hooks/roblox/useRobloxLogout.ts
  packages/react-kit/src/stories/roblox/ConnectRoblox.stories.tsx
Due: none

chore: upgrade opensea-js dep and change OrderSide enum type (#805)
  e2e/docker-compose.yml
  e2e/opensea-api-mock/package.json
  e2e/opensea-api-mock/src/services/opensea.ts
  package-lock.json
  package.json
  packages/core-sdk/package.json
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  packages/core-sdk/tests/marketplaces/opensea.test.ts
Due: core-sdk

fix some things
  packages/react-kit/src/components/widgets/roblox/ConnectRoblox.tsx
  packages/react-kit/src/hooks/roblox/const.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxLogout.ts
Due: none

style: reestructure themes
  packages/react-kit/src/components/widgets/roblox/ConnectRoblox.tsx
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxLogout.ts
  packages/react-kit/src/stories/roblox/ConnectRoblox.stories.tsx
Due: none

fix issue
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/widgets/roblox/ConnectRoblox.tsx
  packages/react-kit/src/hooks/roblox/const.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxLogout.ts
Due: none

reorg
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/hooks/roblox/const.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/useRobloxLogout.ts
  packages/react-kit/src/stories/roblox/ConnectRoblox.stories.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

feat: product card update
  metadata-file.json
  packages/react-kit/.env.example
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

Update ProductCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

CR Fixes
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

Update ProductCardSkeleton.tsx
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
Due: none

wip
  packages/react-kit/src/components/boson/BosonProvider.tsx
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

fix: cr fixes
  metadata-file.json
  packages/react-kit/.env.example
Due: none

feat: add props for cover image
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

Update ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
Due: none

remove wagmi and rainbowkit
  package-lock.json
  packages/common/src/configs.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/boson/BosonProvider.tsx
  packages/react-kit/src/components/chat/InitializeChat.tsx
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/modal/components/Commit/DetailView/InnerCommitDetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/ExternalOfferFullDescription.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
  packages/react-kit/src/components/wallet/ConnectButton.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/components/wallet2/web3Provider/index.tsx
  packages/react-kit/src/components/wallet2/web3Status/BosonConnectWallet.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidgetProviders.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidgetProviders.tsx
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/withProviders.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/connection/useDisconnect.ts
  packages/react-kit/src/hooks/ethers/useEthersProvider.ts
  packages/react-kit/src/hooks/ethers/useEthersSigner.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
  packages/react-kit/src/theme.ts
Due: common

wip
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/stories/roblox/ConnectRoblox.stories.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

feat: product card update (#808)
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/skeleton/ProductCardSkeleton.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
Due: none

fix: subgraphUrl for amoy env
  packages/common/src/configs.ts
Due: common

fix: subgraphUrl for amoy env (#810)
  packages/common/src/configs.ts
Due: common
