Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

docs: refine contracts update doc
  docs/contracts-update.md
Due: none

build: update docker-compose image tag
  e2e/docker-compose.yml
Due: none

refactor: rename methods and vars
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

refactor: add types and return
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

chore: remove TODO
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

feat: get users by id and address (#179)
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

fix: fix typo on core sdk
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

fix: uodate buyer to lower case
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

chore: replace widgets surge deployment with fleek
  .github/workflows/deploy-prod-widgets.yaml
  .github/workflows/deploy-staging-widgets.yaml
  .github/workflows/deploy-testing-widgets.yaml
  apps/widgets/.fleek/production.json
  apps/widgets/.fleek/staging.json
  apps/widgets/.fleek/testing.json
  apps/widgets/.gitignore
  docs/releases.md
  packages/common/src/configs.ts
  packages/subgraph/README.md
Due: common

fix: fix type of buyers
  packages/core-sdk/src/accounts/subgraph.ts
Due: core-sdk

fix: fix typo on core sdk (#182)
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: core-sdk

test(core-sdk): fix default config test
  packages/core-sdk/tests/core-sdk.test.ts
Due: none

chore: replace widgets surge deployment with fleek (#183)
  .github/workflows/deploy-prod-widgets.yaml
  .github/workflows/deploy-staging-widgets.yaml
  .github/workflows/deploy-testing-widgets.yaml
  apps/widgets/.fleek/production.json
  apps/widgets/.fleek/staging.json
  apps/widgets/.fleek/testing.json
  apps/widgets/.gitignore
  docs/releases.md
  packages/common/src/configs.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/subgraph/README.md
Due: common

ci: add missing build step to workflow
  .github/workflows/deploy-testing-widgets.yaml
Due: none

ci: add missing build step to workflow (#184)
  .github/workflows/deploy-testing-widgets.yaml
Due: none

chore: update testing env contract address
  packages/common/src/configs.ts
Due: common

feat: dispute resolver subgraph handlers and core-sdk methods
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

update subgraph sdk
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

test: fix mocks
  packages/core-sdk/tests/mocks.ts
Due: none

test: fix subgraph unit
  packages/subgraph/tests/offer-handler.test.ts
Due: none

feat: dispute resolver support in subgraph and core-sdk (#185)
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/offer-handler.test.ts
Due: common, core-sdk

feat: subgraph and core-sdk DisputeHandlerFacet
  contracts/hardhat.config.js
  package-lock.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/index.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/index.ts
  packages/core-sdk/src/disputes/interface.ts
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/disputes/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

feat: create dispute resolver script
  package-lock.json
  package.json
  scripts/create-dispute-resolver.ts
Due: none

feat: create dispute resolver script (#187)
  package-lock.json
  package.json
  scripts/create-dispute-resolver.ts
Due: none

insure every e2e test uses its own wallet (to allow them running in parallel)
  contracts/accounts.js
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

Add e2e tests for raiseDispute, retractDispute, resolveDispute
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

Add e2e tests for dispute escalation and decision
  contracts/scripts/deploy.js
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/subgraph/src/mappings/dispute-handler.ts
Due: none

Update tag for hardhat-node container
  e2e/docker-compose.yml
Due: none

Add e2e test for dispute timeout extension and escalation refusal
  e2e/tests/core-sdk.test.ts
Due: none

Add e2e for expired dispute
  e2e/tests/core-sdk.test.ts
Due: none

update the hardhat-node tad in docker compose to force the container to rebuild
  e2e/docker-compose.yml
Due: none

clean up the e2e account test
  e2e/tests/accounts.test.ts
Due: none

reuse meta-tx signature methods for dispute mutual agreement
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: adapt custom deploy script
  contracts/scripts/deploy.js
Due: none

feat: update ABIs
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
Due: common

feat: subgraph and core-sdk DisputeHandlerFacet (#186)
  contracts/accounts.js
  contracts/hardhat.config.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  package-lock.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/index.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/index.ts
  packages/core-sdk/src/disputes/interface.ts
  packages/core-sdk/src/disputes/queries.graphql
  packages/core-sdk/src/disputes/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/dispute-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

feat: update ethers-sdk typechain bindings
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
Due: none

fix deploy problem
  contracts/scripts/deploy.js
Due: none
