Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: change copies commit to commit to buy
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
Due: none

fix: connection to metamask for all ctas in storybook
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/DecideDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/EscalateDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireEscalationDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExtendDisputeTimeoutButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RaiseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RefuseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RetractDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawAllFunds.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/BatchVoidButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
  packages/react-kit/src/stories/helpers/CtaButtonWrapper.tsx
  packages/react-kit/src/stories/helpers/connect-wallet.ts
Due: none

Update packages/react-kit/src/stories/helpers/connect-wallet.ts
  packages/react-kit/src/stories/helpers/connect-wallet.ts
Due: none

chore: change copies commit to commit to buy (#694)
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverview.tsx
Due: none

fix: connection to metamask for all ctas in storybook (#696)
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/DecideDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/EscalateDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireEscalationDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExtendDisputeTimeoutButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RaiseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RefuseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RetractDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawAllFunds.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/BatchVoidButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
  packages/react-kit/src/stories/helpers/CtaButtonWrapper.tsx
  packages/react-kit/src/stories/helpers/connect-wallet.ts
Due: none

chore: add coreSDK method to decode protocol errors
  packages/common/src/types/errors.ts
  packages/common/src/types/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/errors/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: common, core-sdk

fix allow to create an offer without metadata storage
  packages/core-sdk/src/metadata/storeMetadataItems.ts
Due: core-sdk

remove Seller.contractURI from subgraph and replace OfferCollection.collectionAddress with OfferCollection.collectionContract
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer1.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer2.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer3.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer4.json
  packages/core-sdk/tests/exchangePolicy/examples/invalidOffer5.json
  packages/core-sdk/tests/exchangePolicy/examples/validOffer.json
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/boson-voucher.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/boson-voucher.test.ts
  packages/subgraph/tests/mocks.ts
Due: core-sdk

fix tests
  e2e/tests/core-sdk-set-contract-uri.test.ts
  packages/core-sdk/src/voucher/mixin.ts
  packages/core-sdk/tests/mocks.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/boson-voucher.ts
  scripts/change-contract-uri.ts
Due: core-sdk

add coreSDK SubgraphMixin to export waitForGraphNodeIndexing()
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/subgraph/mixin.ts
Due: core-sdk

fix subgraph test
  packages/subgraph/tests/boson-voucher.test.ts
Due: none

add getExchangeTokenId()/parseTokenId() methods in coreSDK
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/tests/exchanges/tokenId.test.ts
Due: core-sdk

feat: create commit button view component
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

more props and better story
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
  packages/react-kit/src/components/ui/styles.ts
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

feat: export purchase overview modal
  packages/react-kit/.storybook/main.ts
  packages/react-kit/src/assets/logo.svg
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
  packages/react-kit/src/index.tsx
Due: none

feat: add purchase overview in stories
  packages/react-kit/src/stories/PurchaseOverview.stories.tsx
Due: none

fix: bugs
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
Due: none

feat: export purchase overview modal and commit button view (with no functionality) (#699)
  packages/react-kit/.storybook/main.ts
  packages/react-kit/src/assets/logo.svg
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/components/modal/components/common/StepsOverview/PurchaseOverviewView.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
  packages/react-kit/src/components/ui/styles.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/PurchaseOverview.stories.tsx
  packages/react-kit/src/stories/buttons/CommitButtonView.stories.tsx
Due: none

style: commit button view height fix
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
Due: none

style: commit button view height fix (#700)
  packages/react-kit/src/components/buttons/CommitButtonView.tsx
Due: none

add errorMixin unit tests
  packages/core-sdk/src/errors/mixin.ts
  packages/core-sdk/tests/errors/decodeErrors.test.ts
Due: core-sdk

style: add margin purchase overview modal
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/stories/PurchaseOverview.stories.tsx
Due: none

style: add margin purchase overview modal (#701)
  packages/react-kit/src/components/modal/components/PurchaseOverview/PurchaseOverview.tsx
  packages/react-kit/src/stories/PurchaseOverview.stories.tsx
Due: none

style: remove background from global style
  packages/react-kit/src/components/styles/GlobalStyle.tsx
Due: none

style: remove background from global style (#702)
  packages/react-kit/src/components/styles/GlobalStyle.tsx
Due: none

fix lint
  packages/core-sdk/tests/errors/decodeErrors.test.ts
Due: none

use coreSDK.waitForGraphNodeIndexing() method in e2e tests
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk-collections.test.ts
  e2e/tests/core-sdk-extend-offer.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-royalties.test.ts
  e2e/tests/core-sdk-set-contract-uri.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/fundsEventLogs.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/subgraph.meta.test.ts
  e2e/tests/utils.ts
  package-lock.json
  package.json
  packages/core-sdk/src/subgraph/mixin.ts
Due: core-sdk

upgrade to the latest protocol commit
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
Due: none

fix: render Contractual Agreement fails on Sepolia network
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

fix: render Contractual Agreement fails on Sepolia network (#704)
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

fix: Finance widget is not loading
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidgetProviders.tsx
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
Due: none

fix: errors in console when no wallet is connected
  packages/react-kit/src/hooks/useCurrentSellers.ts
Due: none

chore: decode protocol error when a transaction fails
  packages/core-sdk/src/errors/mixin.ts
  packages/core-sdk/tests/errors/decodeErrors.test.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: core-sdk

fix: finance widget is not loading (#705)
  packages/core-sdk/src/errors/mixin.ts
  packages/core-sdk/tests/errors/decodeErrors.test.ts
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidgetProviders.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/hooks/useCurrentSellers.ts
  packages/react-kit/src/stories/widgets/Finance.stories.tsx
Due: core-sdk

fix: rounded values may be wrong
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceWithdraw.tsx
  packages/react-kit/src/lib/numbers/numbers.ts
Due: none

fix return type for getNumberWithDecimals
  packages/react-kit/src/lib/numbers/numbers.ts
Due: none

fix lint
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
Due: none

fix build
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
Due: none

fix: rounded values may be wrong (#707)
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceWithdraw.tsx
  packages/react-kit/src/lib/numbers/numbers.ts
Due: none
