Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

upgrade to v2.0.0-rc.3 (TESTING ENV)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/ethers-sdk/src/contracts/ERC721Enumerable.ts
  packages/ethers-sdk/src/contracts/factories/ERC721Enumerable__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  scripts/create-dispute-resolver.ts
Due: common

upgrade to v2.0.0-rc.3 (STAGING ENV)
  e2e/docker-compose.yml
  packages/common/src/configs.ts
Due: common

feat: fetch tokenIds in parallel (#305)
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: expire cta add (#304)
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
Due: none

update comment
  packages/common/src/configs.ts
Due: common

feat: contract uri and royalty support in subgraph
  contracts/hardhat.config.js
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

feat: return all seller accounts linked to auth tokens
  packages/core-sdk/src/core-sdk.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: core-sdk

fix: filter undefined sellers out
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

refactor: rename getSellersByAddress
  packages/core-sdk/src/core-sdk.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: core-sdk

tests: fix
  e2e/tests/accounts.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/tests/core-sdk.test.ts
Due: none

test: fix
  e2e/tests/core-sdk.test.ts
Due: none

test: fix
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: none

feat: contract uri and royalty support in subgraph (#303)
  contracts/hardhat.config.js
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: common, core-sdk

feat: filter out undefined sellers
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: change Lens authtokentype from 1 to 2
  packages/common/src/types/accounts.ts
Due: common

feat: change Lens authtokentype from 1 to 2
  packages/common/src/types/accounts.ts
  packages/react-kit/src/index.tsx
Due: common

feat: update lens authtokentype from 1 -> 2 (#307)
  packages/common/src/types/accounts.ts
  packages/react-kit/src/index.tsx
Due: common

refactor: variable
  e2e/tests/utils.ts
Due: none

feat: return all seller accounts linked to auth tokens (#306)
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: core-sdk

[BP406] - update the license template with the up-to-date document
  data/rNFTLicense.template.md
Due: none

update rNFT license template IPFS hash
  data/ipfs.txt
Due: none

clean code and update to latest CC version
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/explore-offer.ts
Due: none

feat: seller meta tx + batch methods
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: core-sdk

feat: add create offer and create seller scripts (#301)
  package.json
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/explore-offer.ts
  scripts/utils/offer.ts
Due: none

refactor: cleaner separation of `getSellers*` methods
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/tests/core-sdk.test.ts
Due: core-sdk

feat: update contractual agreement templates
  data/DR_Decision_Tree.png
  data/contractualAgreement.template.md
  data/ipfs.txt
  data/rNFTLicense.template.md
Due: none

feat: handle VoucherExpired event
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

fixup
  packages/core-sdk/src/accounts/handler.ts
Due: core-sdk

fixup
  packages/react-kit/src/components/searchBar/SearchBar.tsx
Due: none

test: fix
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/productV1.test.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
Due: none

feat: update contractual agreement templates (#308)
  data/DR_Decision_Tree.png
  data/contractualAgreement.template.md
  data/ipfs.txt
  data/rNFTLicense.template.md
Due: none

feat: handle VoucherExpired event (#310)
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

fix createSeller function signature
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix e2e test for createSeller
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

feat: add new props
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
Due: none

feat: seller meta tx + batch methods (#292)
  contracts/accounts.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: core-sdk

feat: upgrade contracts to v2.0.0-rc.4 (testing & staging)
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/productV1.test.ts
  packages/common/src/configs.ts
  packages/core-sdk/src/subgraph.ts
  scripts/create-dispute-resolver.ts
Due: common, core-sdk

lint code
  scripts/create-dispute-resolver.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
