Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: bp349 react kit update theme (#285)
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

chore: add tempo in e2e:suite after subgraph deployment
  e2e/run-e2e-suite.cmd
  e2e/run-e2e-suite.sh
Due: none

change container tags to force them to be rebuilt
  e2e/docker-compose.yml
Due: none

feat: fix prod subgraph deployment & update readme
  README.md
  packages/subgraph/README.md
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: fix prod subgraph deployment & update readme (#289)
  README.md
  packages/subgraph/README.md
  packages/subgraph/scripts/render-manifest.ts
Due: none

wait a bit more after the subgraph deployment
  e2e/run-e2e-suite.sh
Due: none

revert commit chore(release): publish latest [skip ci]
  e2e/meta-tx-gateway/CHANGELOG.md
  e2e/meta-tx-gateway/package.json
  package-lock.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core-sdk/CHANGELOG.md
  packages/core-sdk/package.json
  packages/eth-connect-sdk/CHANGELOG.md
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/CHANGELOG.md
  packages/ethers-sdk/package.json
  packages/ipfs-storage/CHANGELOG.md
  packages/ipfs-storage/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/react-kit/CHANGELOG.md
  packages/react-kit/package.json
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
Due: none

ci: fix graph node image version to 0.27.0
  e2e/docker-compose.yml
Due: none

ci: fix graph node image version to 0.27.0 (#293)
  e2e/docker-compose.yml
Due: none

feat: exchange product card avatarname update
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: allow to search for a seller account based on the auth token
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/abis/index.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/erc721/index.ts
  packages/core-sdk/src/erc721/interface.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

feat: exchange product card avatarname update (#294)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

add a few unit tests
  packages/core-sdk/tests/accounts/subgraph.test.ts
  packages/core-sdk/tests/core-sdk.test.ts
Due: none

add an e2e test for getSellerByAddress()
  e2e/tests/core-sdk.test.ts
Due: none

fix bug
  packages/core-sdk/src/erc721/handler.ts
Due: core-sdk

fix another bug
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

clean up
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

create constants for AuthTokenType
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/core-sdk.ts
Due: common, core-sdk

prepare new e2e test for getSellerByAddress() (deactivated for now)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/configs.ts
Due: common

fix e2e test with ERC20
  packages/common/src/configs.ts
Due: common

Revert "fix e2e test with ERC20"
  packages/common/src/configs.ts
Due: common

Revert "prepare new e2e test for getSellerByAddress() (deactivated for now)"
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/configs.ts
Due: common

fix: add btn type, border hover fix
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/card/card.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.styles.ts
Due: none

feat: allow to search for a seller account based on the auth token (#295)
  e2e/tests/core-sdk.test.ts
  packages/common/src/abis/ERC721Enumerable.json
  packages/common/src/abis/index.ts
  packages/common/src/types/accounts.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/accounts/subgraph.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/erc721/index.ts
  packages/core-sdk/src/erc721/interface.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/tests/accounts/subgraph.test.ts
  packages/core-sdk/tests/core-sdk.test.ts
Due: common, core-sdk

feat: implement createVariantProductMetadata() in metadata package
  package-lock.json
  package.json
  packages/metadata/package.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/productV1.test.ts
Due: none

feat: bp349 react kit update theme (#296)
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/card/card.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.styles.ts
Due: none

fix: revert button changes
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

fix: revert button changes
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/card/card.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.styles.ts
Due: none

fix: revert buttons changes (#298)
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/card/card.styles.ts
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/searchBar/SearchBar.styles.ts
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

chore: update subgraph config
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: update subgraph config (#299)
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: upgrade license and contractualAgreement templates
  data/DR_Decision_Tree.png
  data/contractualAgreement.template.md
  data/ipfs.txt
  data/rNFTLicense.template.md
Due: none

feat: add create offer and create seller scripts
  package.json
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/explore-offer.ts
  scripts/utils/offer.ts
Due: none

chore: update contracts submodule
  e2e/docker-compose.yml
Due: none

feat: add lensContracts config to useCoreSdk
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

feat: add lensContracts config to useCoreSdk (#302)
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

feat: fetch tokenIds in parallel
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

feat: expire cta add
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
Due: none
