Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: adapt core-sdk
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
Due: common, core-sdk

fix(subgraph): explicitly pass media type
  packages/subgraph/src/entities/metadata/product-v1/media.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: none

docs: update types
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: none

Update the contract addresses
  packages/common/src/configs.ts
Due: common

feat: adapt common and core-sdk packages to the new contracts
  apps/widgets/src/views/create-offer/index.tsx
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/orchestration/interface.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: common, core-sdk

fix: enum media
  packages/subgraph/src/entities/metadata/product-v1/media.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: none

feat: enforce type
  packages/subgraph/src/entities/metadata/product-v1/media.ts
Due: none

fix: media type
  packages/subgraph/src/entities/metadata/product-v1/media.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: none

fix(subgraph): explicitly pass media type (#189)
  packages/subgraph/src/entities/metadata/product-v1/media.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
Due: none

feat: stil a few changes + adapt widgets Remove protocolFee from OfferDetails when creating an offerFees Note protocolFee can still exist when viewing an Offer / Exchange
  apps/widgets/src/lib/components/details/OfferDetails.tsx
  apps/widgets/src/views/create-offer/index.tsx
  apps/widgets/src/views/create-offer/useCreateOfferData.tsx
  examples/react-parent-app/src/views/create/index.tsx
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/react-kit/.gitignore
  packages/widgets-sdk/src/widgets/create-offer/index.tsx
Due: core-sdk

feat(react-kit): allow custom ipfs http client headers
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

feat(react-kit): allow custom ipfs http client headers (#190)
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

implement the rendering method from a template and offer data
  package-lock.json
  packages/common/src/utils/timestamp.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/index.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: common, core-sdk

add some tests for different ERC20 tokens
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

add some tests for error cases
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

implement the rendering method from an Offer Struct from subGraph
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

fix lint error
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: none

connect the rendering method in CoreSDK API
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

fix lint error
  packages/core-sdk/tests/mocks.ts
Due: none

fix(subgraph): make shipping field optional
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
Due: core-sdk

fix(subgraph): make shipping field optional (#192)
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
Due: core-sdk

refactor to allow calling methods from e2e tests
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

Add some e2e tests for rendering the template
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
Due: none

fix issue with productV1 metadata
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

fix: upgrade contactLinks definition
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
Due: none

rewrite the getOfferById query to integrate productV1 metadata
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/offers/subgraph.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

code cleaning
  packages/core-sdk/src/offers/renderContractualAgreement.ts
Due: core-sdk

use yup to validate OfferData passed to the template resolution
  package-lock.json
  package.json
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: core-sdk

feat: bp292 - contractual agreement - implement rendering method (#191)
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  package-lock.json
  package.json
  packages/common/src/utils/timestamp.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/index.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/offers/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/core-sdk/tests/core-sdk.test.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/renderContractualAgreement.test.ts
Due: common, core-sdk

add unit test cases for seller.contactLinks
  packages/metadata/tests/index.test.ts
Due: none

fix: upgrade contactLinks definition (#195)
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/index.test.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/subgraph/schema.graphql
Due: none

fix(eth-connect-sdk): esm build
  packages/eth-connect-sdk/tsconfig.json
Due: none

build(core-sdk): fix build
  packages/core-sdk/src/offers/renderContractualAgreement.ts
Due: core-sdk

fix: esm builds (#196)
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/eth-connect-sdk/tsconfig.json
Due: core-sdk

test: add script to explore an offer on-chain
  package.json
  packages/common/src/utils/timestamp.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  scripts/explore-offer.ts
  utils/helpers/offer.ts
Due: common, core-sdk

Update scripts/explore-offer.ts
  scripts/explore-offer.ts
Due: none

lint script file
  scripts/explore-offer.ts
Due: none

test: add script to explore an offer on-chain (#197)
  package.json
  packages/common/src/utils/timestamp.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  scripts/explore-offer.ts
  utils/helpers/offer.ts
Due: common, core-sdk

feat: allow IPFS get to return string (not only JSON)
  packages/ipfs-storage/src/ipfs/base.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
Due: none
