Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: export commit widget
  packages/react-kit/src/components/widgets/index.tsx
Due: none

feat: export commit widget (#651)
  packages/react-kit/src/components/widgets/index.tsx
Due: none

fix and complete e2e tests
  e2e/tests/bundle.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
Due: none

feat: add option to commit widget to make it a modal
  packages/react-kit/src/assets/line1.png
  packages/react-kit/src/assets/line2.png
  packages/react-kit/src/assets/line3.png
  packages/react-kit/src/assets/line4.png
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/ui/loading/WaveLoader/WaveLoader.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
Due: none

feat: add option to commit widget to make it a modal (#652)
  packages/react-kit/src/assets/line1.png
  packages/react-kit/src/assets/line2.png
  packages/react-kit/src/assets/line3.png
  packages/react-kit/src/assets/line4.png
  packages/react-kit/src/components/modal/components/Commit/CommitNonModal.tsx
  packages/react-kit/src/components/ui/loading/WaveLoader/WaveLoader.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
Due: none

PR review remarks
  packages/core-sdk/src/metadata/subgraph.ts
Due: core-sdk

add missing fields on nftItem metadata
  e2e/tests/bundle.test.ts
  packages/core-sdk/src/metadata/bundle.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/nftItem/index.ts
  packages/metadata/src/nftItem/schema.json
  packages/metadata/tests/nft-item/valid/full.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/bundle/index.ts
  packages/subgraph/src/entities/metadata/nft-item/index.ts
Due: core-sdk

create an Unknown type item in bundle, do deal with unsupported item metadata types
  e2e/tests/bundle.test.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/bundle/index.ts
Due: core-sdk

fix: font color in exchange policies
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: none

fix: price alignment in general product data
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
Due: none

feat: show ercxxx collection name and fix some styling issues
  packages/common/src/abis/ERC1155.json
  packages/core-sdk/src/erc1155/handler.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/erc721/mixin.ts
  packages/react-kit/src/components/modal/components/common/detail/SlickSlider.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/hooks/contracts.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: common, core-sdk

add try catch
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
Due: none

change stories
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: none

stories
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: none

fix: some commit widget issues (#654)
  packages/common/src/abis/ERC1155.json
  packages/core-sdk/src/erc1155/handler.ts
  packages/core-sdk/src/erc1155/mixin.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/erc721/mixin.ts
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/GeneralProductData.tsx
  packages/react-kit/src/components/modal/components/common/detail/SlickSlider.tsx
  packages/react-kit/src/components/modal/components/common/detail/TokenGatedItem.tsx
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
  packages/react-kit/src/hooks/contracts.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: common, core-sdk

fix: colors custom store
  packages/react-kit/src/components/styles/ResetStylesForNonWidgets.tsx
Due: none

fix: colors custom store (#655)
  packages/react-kit/src/components/styles/ResetStylesForNonWidgets.tsx
Due: none

fix: ensure useSellers refresh when seller curation list is fetched
  packages/react-kit/src/hooks/useSellers.ts
Due: none

fix: ensure useSellers refresh when seller curation list is fetched (#656)
  packages/react-kit/src/hooks/useSellers.ts
Due: none

chore: rework the way to fetch the product/variants for bundle offers
  e2e/tests/bundle.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/bundle/index.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/variant.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/subgraph.ts
Due: core-sdk

chore: rework the way to fetch the product/variants for bundle offers (#657)
  e2e/tests/bundle.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/bundle/index.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/variant.ts
Due: core-sdk

chore: remove ipfsGateway from LENS configuration
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
Due: common

chore: remove ipfsGateway from LENS configuration (#658)
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
Due: common

update deps
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/wallet/wallet-connection.ts
Due: none

chore: add missing exports
  packages/core-sdk/src/index.ts
  packages/react-kit/src/hooks/index.ts
Due: core-sdk

chore: add missing exports (#659)
  packages/core-sdk/src/index.ts
  packages/react-kit/src/hooks/index.ts
Due: core-sdk

feat: add external props to indicate that you want to use the external signer, account,etc without using an iframe
  package-lock.json
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/ExternalOfferFullDescription.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
  packages/react-kit/src/hooks/connection/connection.ts
Due: none

remove unused import
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
Due: none

fix: connect wallet issue (#660)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/modal/components/common/OfferFullDescription/ExternalOfferFullDescription.tsx
  packages/react-kit/src/components/wallet/WalletConnectionProvider.tsx
  packages/react-kit/src/components/wallet/wallet-connection.ts
  packages/react-kit/src/hooks/connection/connection.ts
Due: none

feat: export product metadata types
  packages/metadata/src/product-v1/index.ts
Due: none

export Media only
  packages/metadata/src/product-v1/index.ts
Due: none

export Media only
  packages/metadata/src/index.ts
  packages/metadata/src/product-v1/index.ts
Due: none

feat: export Media type (#661)
  packages/metadata/src/index.ts
Due: none

feat: export Media type
  packages/core-sdk/src/index.ts
Due: core-sdk

feat: export Media type (#662)
  packages/core-sdk/src/index.ts
Due: core-sdk

chore: upgrade protocol version
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/patches/@bosonprotocol+boson-protocol-contracts+2.3.0.patch
  contracts/scripts/postinstall.js
  e2e/docker-compose.yml
Due: none

repair subgraph
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonDisputeHandler.json
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/common/src/abis/IBosonFundsHandler.json
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/IBosonMetaTransactionsHandler.json
  packages/common/src/abis/IBosonOfferHandler.json
  packages/common/src/abis/IBosonOfferHandler230.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/IBosonVoucher.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common

fix: most react-kit circular dependencies
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/datepicker/DatePicker.tsx
  packages/react-kit/src/components/datepicker/SelectTime.tsx
  packages/react-kit/src/components/datepicker/types.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/exchangeCard/types.ts
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/Upload/UploadedFiles.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/magicLink/MagicContext.tsx
  packages/react-kit/src/components/magicLink/MagicProvider.tsx
  packages/react-kit/src/components/magicLink/UserContext.tsx
  packages/react-kit/src/components/magicLink/UserProvider.tsx
  packages/react-kit/src/components/modal/ModalComponents.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/ModalTypes.ts
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/useModal.ts
  packages/react-kit/src/components/signer/SignerContext.tsx
  packages/react-kit/src/components/signer/SignerProvider.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidgetProviders.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/hooks/callbacks/types.ts
  packages/react-kit/src/hooks/callbacks/useRedemptionCallbacks.ts
  packages/react-kit/src/hooks/connection/useDisconnect.ts
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/magicLink/logout.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
