Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: add missing ibosonvoucher abi to bosonaccounthandlerlegacy (#482)
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

chore: bring back old handlers for old event signatures
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

chore: bring back old handlers for old event signatures (#483)
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

chore: remove legal trading name seller field from being mandatory
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

chore: update protocol diamond address
  packages/common/src/configs.ts
Due: common

chore: update subgraph block number
  packages/subgraph/scripts/render-manifest.ts
Due: none

refactor: update comment
  packages/subgraph/scripts/render-manifest.ts
Due: none

Update packages/subgraph/scripts/render-manifest.ts
  packages/subgraph/scripts/render-manifest.ts
Due: none

update create DR script
  scripts/create-dispute-resolver.ts
Due: none

chore: update protocol diamond address (#485)
  packages/common/src/configs.ts
  packages/subgraph/scripts/render-manifest.ts
  scripts/create-dispute-resolver.ts
Due: common

chore: remove legal trading name seller field from being mandatory (#484)
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

feat: add extra validation call to check that there is no metadata field larger than 2048 chars
  e2e/tests/accounts.test.ts
  e2e/tests/productV1.test.ts
  packages/metadata/src/index.ts
Due: none

chore: update start block subgraph in testing env
  packages/subgraph/scripts/render-manifest.ts
Due: none

add units test for validateMetadata
  packages/metadata/tests/index.test.ts
Due: none

feat: add extra validation call to check that there is no metadata fi… (#486)
  e2e/tests/accounts.test.ts
  e2e/tests/productV1.test.ts
  packages/metadata/src/index.ts
  packages/metadata/tests/index.test.ts
Due: none

chore: update start block subgraph in testing env (#487)
  packages/subgraph/scripts/render-manifest.ts
Due: none

feat: make seller.metadata name, description and website optional
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
Due: core-sdk

fix: test
  package-lock.json
  package.json
  packages/metadata/tests/index.test.ts
Due: none

feat: make seller.metadata name, description and website optional (#488)
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  package-lock.json
  package.json
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/metadata/tests/index.test.ts
  packages/subgraph/schema.graphql
Due: core-sdk

chore: update update-seller script with metadataUri and add view-sellers script
  package.json
  scripts/update-seller.ts
  scripts/utils/account.ts
  scripts/view-sellers.ts
Due: none

chore: make subgraph in testing env to read from later block
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: make subgraph in testing env to read from later block (#490)
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: update subgraph start block in mumbai
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: update subgraph start block in mumbai (#492)
  packages/subgraph/scripts/render-manifest.ts
Due: none

chore: update update-seller script with metadataUri and add view-sellers script (#489)
  package.json
  scripts/update-seller.ts
  scripts/utils/account.ts
  scripts/view-sellers.ts
Due: none

feat: add signMetaTxUpdateSellerAndOptIn
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

fix: test
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

test: check metadata uri
  e2e/tests/meta-tx.test.ts
Due: none

feat: add signMetaTxUpdateSellerAndOptIn (#493)
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

feat: store seller metadata uri in the graph ipfs node
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
Due: core-sdk

fix: build and export limit field metadata
  packages/core-sdk/src/accounts/handler.ts
  packages/metadata/src/index.ts
Due: core-sdk

fix: seller metadata images type
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/media.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

tests: attempt to fix tests
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
Due: none

fix: seller metadata images type (#495)
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/media.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

fix: tests
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

fix: override media type in seller images
  packages/subgraph/src/entities/metadata/seller/media.ts
Due: none

fix: tests
  e2e/tests/accounts.test.ts
Due: none

fix: override media type in seller images (#496)
  packages/subgraph/src/entities/metadata/seller/media.ts
Due: none

fix: test
  e2e/tests/accounts.test.ts
Due: none

feat: store seller metadata uri in the graph ipfs node (#494)
  e2e/tests/accounts.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/orchestration/handler.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/metadata/src/index.ts
Due: core-sdk
