Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: add ConditionalCommitAuthorizedEventLog (#593)
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/package.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: core-sdk

feat: update checkTokenGatedCondition
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/event-logs/subgraph.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/hooks/tokenGated/useCheckTokenGatedOffer.ts
Due: core-sdk

refactor: remove logs
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

chore: fix lint
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/event-logs/subgraph.ts
Due: core-sdk

fix: enum in tests
  e2e/tests/core-sdk.test.ts
Due: none

fix: logic and e2e tests
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
Due: core-sdk

take PR remarks into account
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

feat: extend check offer condition to check if a buyer can commit to a token gated offer (#592)
  e2e/tests/core-sdk.test.ts
  packages/common/src/types/groups.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/event-logs/subgraph.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/src/utils/promises.ts
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
  packages/react-kit/src/hooks/tokenGated/useCheckTokenGatedOffer.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/event-log.ts
Due: common, core-sdk

feat: redemption widget - manage callbacks (#594)
  packages/common/src/mappings.ts
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/ConfirmationView.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionProvider.tsx
  packages/react-kit/src/hooks/callbacks/useRedemptionCallbacks.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: common

feat: set finalised date to exchanges in other states and add e2e test
  contracts/accounts.js
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

Update e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk-funds.test.ts
Due: none

feat: set finalised date to exchanges in other states and add e2e test (#595)
  contracts/accounts.js
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

feat: add erc165SupportsInterface function to coreSDK
  e2e/tests/core-sdk-erc.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/ERC165.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc165/handler.ts
  packages/core-sdk/src/erc165/interface.ts
  packages/core-sdk/src/erc165/mixin.ts
Due: common, core-sdk

feat: add erc165SupportsInterface function to coreSDK (#596)
  e2e/tests/core-sdk-erc.test.ts
  e2e/tests/core-sdk-funds.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/ERC165.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc165/handler.ts
  packages/core-sdk/src/erc165/interface.ts
  packages/core-sdk/src/erc165/mixin.ts
Due: common, core-sdk

fix: disconnect should use same wagmi than useConfig+ upgrade wagmi and rainbowkit
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/hooks/connection/useDisconnect.ts
Due: none

fix: disconnect should use same wagmi than useConfig+ upgrade wagmi and rainbowkit (#597)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/hooks/connection/useDisconnect.ts
Due: none

style: change height to min-height in buttons
  packages/react-kit/src/components/ui/styles.ts
Due: none

style: change height to min-height in buttons (#598)
  packages/react-kit/src/components/ui/styles.ts
Due: none

feat: add tx response to on error handlers in ctas
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

feat: add tx response to on error handlers in ctas (#599)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/offer/BatchVoidButton.tsx
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

feat: improve errors
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/magicLink/MagicContext.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceWithdraw.tsx
  packages/react-kit/src/components/modal/components/Transactions/ConfirmationFailedModal/ConfirmationFailedModal.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/config/config.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/errors/transactions.ts
Due: none

fix: build
  packages/react-kit/src/lib/errors/transactions.ts
Due: none

fix: cancellation error message
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
Due: none

feat: disable redeem confirmation based on supported or unsupported c… (#589)
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
  packages/react-kit/src/components/wallet/ConnectButton.tsx
  packages/react-kit/src/hooks/connection/connection.ts
Due: none

add else clause
  packages/react-kit/src/hooks/useCtaClickHandler.ts
Due: none

chore: install patch-package and fix eth-revert-reason
  package-lock.json
  package.json
  patches/eth-revert-reason+1.0.3.patch
Due: none

feat: improve errors (#600)
  package-lock.json
  package.json
  packages/react-kit/package.json
  packages/react-kit/src/components/magicLink/MagicContext.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceDeposit.tsx
  packages/react-kit/src/components/modal/components/SellerFinance/FinanceWithdraw.tsx
  packages/react-kit/src/components/modal/components/Transactions/ConfirmationFailedModal/ConfirmationFailedModal.tsx
  packages/react-kit/src/hooks/useCtaClickHandler.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/config/config.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/errors/transactions.ts
  patches/eth-revert-reason+1.0.3.patch
Due: none

feat: add code from eth-reverse-reason dependency
  package-lock.json
  package.json
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
  packages/react-kit/src/lib/errors/transactions.ts
  patches/eth-revert-reason+1.0.3.patch
Due: none

feat: add code from eth-reverse-reason dependency (#601)
  package-lock.json
  package.json
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
  packages/react-kit/src/lib/errors/transactions.ts
  patches/eth-revert-reason+1.0.3.patch
Due: none

fix: eth-reverse-reason
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
Due: none

fix: eth-reverse-reason (#603)
  packages/react-kit/src/lib/errors/eth-revert-reason.ts
Due: none

create get-buyers CLI command
  package.json
  scripts/get-buyers.ts
Due: none

feat: allow to set deliveryInfoHandler()
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/hooks/callbacks/useRedemptionCallbacks.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

add redemptionConfirmedHandler + redemptionSubmittedHandler props to Redeem widget
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
Due: none

fix: use offers backed
  packages/react-kit/src/components/widgets/finance/useOffersBacked.ts
Due: none

fix: use offers backed (#604)
  packages/react-kit/src/components/widgets/finance/useOffersBacked.ts
Due: none

Update packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

Update packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
  packages/react-kit/src/components/widgets/redemption/provider/RedemptionContext.tsx
Due: none
