Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: add `isMetaTx` to `onPendingTransaction` hook (#340)
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: none

update e2e/tests/utils.ts
  e2e/tests/utils.ts
Due: none

update packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

update packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: none

fix bug
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
Due: none

rename insureAllowance to ensureAllowance
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

import NativeMetaTransaction ABI from contracts
  contracts/hardhat.config.js
  packages/common/src/abis/MockNativeMetaTransaction.json
  packages/common/src/abis/index.ts
  scripts/export-abis.ts
Due: common

move signNativeMetaTxApproveExchangeToken() implementation from core-sdk class to native-meta-tx handler
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
Due: core-sdk

improve Biconomy message in case of an error
  packages/core-sdk/src/meta-tx/biconomy.ts
Due: core-sdk

Merge branch 'main' into bp411-react-kit-missing-cta
  e2e/meta-tx-gateway/CHANGELOG.md
  e2e/meta-tx-gateway/package.json
  e2e/tests/productV1.test.ts
  package-lock.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/core-sdk/CHANGELOG.md
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/eth-connect-sdk/CHANGELOG.md
  packages/eth-connect-sdk/package.json
  packages/ethers-sdk/CHANGELOG.md
  packages/ethers-sdk/package.json
  packages/ipfs-storage/CHANGELOG.md
  packages/ipfs-storage/package.json
  packages/metadata/CHANGELOG.md
  packages/metadata/package.json
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/product-v1/schema.json
  packages/metadata/tests/productV1.test.ts
  packages/react-kit/CHANGELOG.md
  packages/react-kit/package.json
  packages/react-kit/src/components/cta/common/styles.ts
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/subgraph/CHANGELOG.md
  packages/subgraph/package.json
  packages/subgraph/src/entities/metadata/product-v1/shipping.ts
Due: core-sdk

remove chainId argument from coreSDK.metaTxSign... methods
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: code review fixes
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
Due: none

fix: add missing string
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
Due: none

pin metadata onto TheGraph IPFS gateway when creating an offer using meta-transaction
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: ensure approve is called when needed before committing to an offer (#326)
  contracts/accounts.js
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/routes/meta-tx.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/MockNativeMetaTransaction.json
  packages/common/src/abis/index.ts
  packages/common/src/types/configs.ts
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/index.ts
  packages/core-sdk/src/native-meta-tx/interface.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/.storybook/main.js
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  scripts/export-abis.ts
Due: common, core-sdk

feat: implement new themes
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

fix: remove c-log
  packages/react-kit/src/components/buttons/Button.tsx
Due: none

fix: formating fix
  packages/react-kit/src/stories/buttons/button.stories.tsx
Due: none

fix: add valid adresses
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
Due: none

fix: set metadataStorage and theGraphStorage for createOffer meta-tx
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: set metadataStorage and theGraphStorage for createOffer meta-tx (#342)
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

Merge branch 'main' into bp411-react-kit-missing-cta
  contracts/accounts.js
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/package.json
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/routes/meta-tx.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/native-meta-tx.test.ts
  e2e/tests/utils.ts
  package-lock.json
  packages/common/package.json
  packages/common/src/abis/MockNativeMetaTransaction.json
  packages/common/src/abis/index.ts
  packages/common/src/types/configs.ts
  packages/common/src/types/web3-lib-adapter.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/handler.ts
  packages/core-sdk/src/native-meta-tx/index.ts
  packages/core-sdk/src/native-meta-tx/interface.ts
  packages/core-sdk/src/utils/signature.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/eth-connect-sdk/package.json
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
  packages/ethers-sdk/package.json
  packages/ethers-sdk/src/ethers-adapter.ts
  packages/react-kit/package.json
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  scripts/export-abis.ts
Due: common, core-sdk

feat: bp349 buttons themes (#341)
  packages/react-kit/src/components/Loading.tsx
  packages/react-kit/src/components/buttons/Button.styles.ts
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/exchange/RevokeButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/theme.ts
Due: none

fix: remove chainID
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
Due: none

fix: change buttons theme name
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/ExpireButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

fix: add new variants
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
Due: none

feat: add missing ctas (#334)
  packages/react-kit/src/components/cta/dispute/AddFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/AddSellerToDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/CreateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveFeesDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/RemoveSellerFromDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/dispute/UpdateDisputeResolverButton.tsx
  packages/react-kit/src/components/cta/seller/CreateSellerButton.tsx
  packages/react-kit/src/components/cta/seller/UpdateSellerButton.tsx
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
Due: none

feat: add method signMetaTxDepositFunds()
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix issue with Uppercase contract address in metaTx api ids
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
Due: core-sdk

fix: change accent color
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
Due: none

fix: change accent color (#344)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
Due: none

fix: exchange cancel color
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

fix: exchange cancel color (#345)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

feat: add method signMetaTxDepositFunds() (#343)
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: export theme add
  packages/react-kit/src/index.tsx
Due: none

feat: export theme add (#346)
  packages/react-kit/src/index.tsx
Due: none

chore: this updates to a text version of the license
  LICENSE
  LICENSE.md
Due: none

feat: add createGroup handler
  contracts/hardhat.config.js
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/abis/index.ts
  packages/common/src/types/groups.ts
  packages/common/src/types/index.ts
  packages/core-sdk/src/groups/handler.ts
  packages/core-sdk/src/groups/index.ts
  packages/core-sdk/src/groups/interface.ts
  packages/core-sdk/src/groups/subgraph.ts
  packages/core-sdk/src/index.ts
Due: common, core-sdk

refactor: change theme export
  packages/react-kit/.storybook/preview.js
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/theme.ts
Due: none

refactor: change theme export (#347)
  packages/react-kit/.storybook/preview.js
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/theme.ts
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
