Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: add getSupportedChainIdsFromWalletConnectSession
  packages/react-kit/src/components/wallet2/selector/ChainSelector.tsx
  packages/react-kit/src/components/wallet2/selector/getSupportedChainIdsFromWalletConnectSession.ts
Due: none

feat: add getSupportedChainIdsFromWalletConnectSession (#855)
  packages/react-kit/src/components/wallet2/selector/ChainSelector.tsx
  packages/react-kit/src/components/wallet2/selector/getSupportedChainIdsFromWalletConnectSession.ts
Due: none

feat: add usdc to default tokens
  packages/common/src/mappings.ts
Due: common

feat: add usdc to default tokens (#856)
  packages/common/src/mappings.ts
Due: common

chore: replace Wallet.createRandom() with faster code
  e2e/tests/core-sdk-accounts.test.ts
  e2e/tests/core-sdk-erc.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-royalties.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

chore: replace Wallet.createRandom() with faster code (#857)
  e2e/tests/core-sdk-accounts.test.ts
  e2e/tests/core-sdk-erc.test.ts
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-royalties.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
Due: none

chore: force fetch retries on Biconomy http requests to tolerate some socket errors
  packages/core-sdk/src/meta-tx/biconomy.ts
Due: core-sdk

fix it
  packages/core-sdk/src/meta-tx/biconomy.ts
Due: core-sdk

improve code coverage for biconomy fetch logic
  packages/core-sdk/tests/meta-tx/biconomy.test.ts
  packages/core-sdk/tests/mocks.ts
Due: none

chore: force fetch retries on Biconomy http requests to tolerate some… (#858)
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/tests/meta-tx/biconomy.test.ts
  packages/core-sdk/tests/mocks.ts
Due: core-sdk

style: remove border radius pdf upload
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

wip
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

feat: export component shown when uploading a single pdf file
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
  packages/react-kit/src/components/form/index.ts
Due: none

style: remove border radius pdf upload (#859)
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

chore: update yup
  package-lock.json
  packages/common/package.json
  packages/common/src/utils/validation.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/metadata/src/base/index.ts
  packages/metadata/src/bundle/index.ts
  packages/metadata/src/collection/index.ts
  packages/metadata/src/nftItem/index.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/productV1Item/index.ts
  packages/metadata/src/rNFT/index.ts
  packages/metadata/src/seller/index.ts
  packages/react-kit/package.json
Due: common, core-sdk

fix: e2e
  package-lock.json
  packages/metadata/package.json
Due: none

chore: uninstalled yup as a defined dependency and moved it to peer dependency (#860)
  package-lock.json
  packages/common/package.json
  packages/common/src/utils/validation.ts
  packages/core-sdk/package.json
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/metadata/package.json
  packages/metadata/src/base/index.ts
  packages/metadata/src/bundle/index.ts
  packages/metadata/src/collection/index.ts
  packages/metadata/src/nftItem/index.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/src/productV1Item/index.ts
  packages/metadata/src/rNFT/index.ts
  packages/metadata/src/seller/index.ts
  packages/react-kit/package.json
Due: common, core-sdk

feat: enhance file upload components with error handling and styling improvements
  packages/react-kit/src/components/form/Upload/BaseUpload.tsx
  packages/react-kit/src/components/form/Upload/UploadedFile.tsx
  packages/react-kit/src/components/form/Upload/UploadedFiles.tsx
Due: none

style: update FileUploadWrapper styles for improved layout and alignment
  packages/react-kit/src/components/form/Field.styles.ts
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
Due: none

feat: replace Biconomy with internal metaTx gateway
  packages/common/src/configs.ts
Due: common

feat: replace Biconomy with internal metaTx gateway (#862)
  packages/common/src/configs.ts
Due: common

wip
  packages/react-kit/src/assets/svg/blank_token.svg
  packages/react-kit/src/assets/wallets/browser-wallet-light.svg
  packages/react-kit/src/assets/wallets/metamask-icon.svg
  packages/react-kit/src/assets/wallets/trustwallet-icon.svg
  packages/react-kit/src/components/modal/components/RequestShipment/RequestShipmentModal.tsx
  packages/react-kit/src/components/ui/Grid.tsx
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectWalletWithLogic.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/styles.tsx
  packages/react-kit/src/components/widgets/roblox/components/types.ts
  packages/react-kit/src/hooks/roblox/backend.types.ts
  packages/react-kit/src/hooks/roblox/useRobloxExchanges.ts
  packages/react-kit/src/hooks/roblox/useRobloxProducts.ts
  packages/react-kit/src/stories/assets/code-brackets.svg
  packages/react-kit/src/stories/assets/colors.svg
  packages/react-kit/src/stories/assets/comments.svg
  packages/react-kit/src/stories/assets/direction.svg
  packages/react-kit/src/stories/assets/flow.svg
  packages/react-kit/src/stories/assets/plugin.svg
  packages/react-kit/src/stories/assets/repo.svg
  packages/react-kit/src/stories/assets/stackalt.svg
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

wip
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/productCard/const.ts
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/roblox/backend.const.ts
  packages/react-kit/src/hooks/roblox/const.ts
  packages/react-kit/src/hooks/roblox/mutationKeys.ts
  packages/react-kit/src/hooks/roblox/useGetRobloxWalletAuth.ts
  packages/react-kit/src/hooks/roblox/useIsRobloxLoggedIn.ts
  packages/react-kit/src/hooks/roblox/usePostRobloxWalletAuth.ts
  packages/react-kit/src/hooks/roblox/useRobloxBackendLogin.ts
  packages/react-kit/src/hooks/roblox/useRobloxProducts.ts
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

wip
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/exchangeCard/const.ts
  packages/react-kit/src/components/exchangeCard/types.ts
  packages/react-kit/src/components/modal/components/RequestShipment/exchangePolicyOverview/RequestShipmentSuccess.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/components/productCard/const.ts
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
Due: none

wip
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/form/Phone.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/RequestShipment/RequestShipmentModal.tsx
  packages/react-kit/src/hooks/form/useFixSelectFontSize.tsx
  packages/react-kit/src/hooks/roblox/mutationKeys.ts
  packages/react-kit/src/hooks/roblox/useRobloxLocalStorage.ts
Due: none

fix: selects
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/form/Phone.tsx
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemForm.tsx
  packages/react-kit/src/hooks/form/useFixSelectFontSize.tsx
Due: none

fix: selects
  packages/react-kit/src/components/form/BaseSelect.tsx
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemForm.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Redeem/RedeemForm/RedeemForm.tsx
Due: none

wip
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/RequestShipment/exchangePolicyOverview/FairExchangePolicy.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/hooks/form/useFixSelectFontSize.tsx
  packages/react-kit/src/hooks/roblox/useRobloxExchanges.ts
  packages/react-kit/src/hooks/roblox/useRobloxProducts.ts
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

fix issues
  packages/react-kit/src/components/modal/Modal.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/RequestShipment/exchangePolicyOverview/RequestShipmentSuccess.tsx
  packages/react-kit/src/components/widgets/commit/CommitWidgetProviders.tsx
  packages/react-kit/src/state/lists/updater.ts
Due: none

feat: allow to switch on direct transaction when the relayer service is down
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: core-sdk

wip
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancellationView.tsx
  packages/react-kit/src/components/modal/components/common/detail/useGetOfferDetailData.tsx
  packages/react-kit/src/components/modal/nonModal/Header.tsx
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxExchangesGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/hooks/useRefundData.ts
  packages/react-kit/src/lib/price/prices.ts
  packages/react-kit/src/stories/widgets/Redemption.stories.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

feat: allow to switch on direct transaction when the relayer service is down (#865)
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
Due: core-sdk

wip
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/LoginWithRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/components/widgets/roblox/components/types.ts
Due: none

wip
  packages/react-kit/src/components/buttons/BaseButton.tsx
  packages/react-kit/src/components/wallet2/walletModal/Option.tsx
  packages/react-kit/src/components/wallet2/web3Status/BosonConnectWallet.tsx
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ConnectRoblox.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

wip
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none

wip
  packages/react-kit/src/components/widgets/roblox/RobloxWidget.tsx
  packages/react-kit/src/components/widgets/roblox/components/ProductsRoblox.tsx
  packages/react-kit/src/components/widgets/roblox/components/RobloxProductsGrid.tsx
  packages/react-kit/src/stories/widgets/Roblox.stories.tsx
Due: none
