Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

feat: create a hook useOffers() to simply get offers in a react app
  .gitignore
  docs/guides/use-with-react.md
  packages/react-kit/src/hooks/core-sdk/useCoreSdk.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useOffers.ts
Due: none

fix: add metaTxApiId property to PreMintButton
  packages/react-kit/src/components/cta/offer/PreMintButton.tsx
Due: none

chore: define configuration inputs in JSON files and update the doc a… (#986)
  docs/boson-environments.md
  docs/guides/use-with-react.md
  packages/common/src/configs.ts
  packages/common/src/inputs/ipfsGateways.json
  packages/common/src/inputs/rpcUrls.json
  packages/common/src/inputs/subgraphs.json
Due: common

feat: create a hook useOffers() to simply get offers in a react app (#987)
  .gitignore
  docs/guides/use-with-react.md
  packages/react-kit/src/hooks/core-sdk/useCoreSdk.tsx
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/useOffers.ts
Due: none

fix: add metaTxApiId property to PreMintButton (#988)
  packages/react-kit/src/components/cta/offer/PreMintButton.tsx
Due: none

fix: text is not readable
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
Due: none

fix: missing shipping info for phygital item
  packages/react-kit/src/lib/offer/getOfferDetails.ts
Due: none

fix: text is not readable (#994)
  packages/react-kit/src/components/modal/components/common/detail/PhygitalProduct.tsx
Due: none

fix: missing shipping info for phygital item (#995)
  packages/react-kit/src/lib/offer/getOfferDetails.ts
Due: none

chore: upgrade lerna
  lerna.json
  package-lock.json
  package.json
Due: none

adapt github action workflows to npm trusted publishing
  .github/workflows/publish-alpha.yaml
  .github/workflows/publish-latest.yaml
Due: none

copilot pr suggestion
  .github/workflows/publish-latest.yaml
Due: none

copilot pr suggestion
  .github/workflows/publish-alpha.yaml
Due: none

copilot pr suggestions
  .github/workflows/ci.yaml
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  package.json
Due: none

Update package.json
  package.json
Due: none

Update .github/workflows/publish-alpha.yaml
  .github/workflows/publish-alpha.yaml
Due: none

chore: fix NPM publish after static token has been deprecated (#997)
  .github/workflows/ci.yaml
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
  .github/workflows/publish-latest.yaml
  lerna.json
  package-lock.json
  package.json
Due: none

fix: (PR #997) remove GITHUB_TOKEN requirement from publish workflows
  .github/workflows/publish-alpha.yaml
  .github/workflows/publish-latest.yaml
Due: none

fix: (PR #997) add repository field to package.json (required by lerna for trusted publishing)
  packages/react-kit/package.json
Due: none

feat: adapt check exchange policy for bundle offers
  data/exchangePolicies/exchangePolicyRules.template.json
  data/ipfs.txt
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/tests/check-exchange-policy.test.ts
  packages/core-sdk/tests/exchangePolicy/examples/invalidBundle.json
  packages/core-sdk/tests/exchangePolicy/examples/validBundle.json
  packages/core-sdk/tests/exchangePolicy/exchangePolicyRules.testing.json
  packages/react-kit/src/components/boson/BosonProvider.tsx
  packages/react-kit/src/hooks/useCheckExchangePolicy.ts
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: core-sdk

fix exchangePolicy name/version/returnPeriod in OfferPolicyDetails when bundle offer
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
  packages/react-kit/src/stories/widgets/Commit.stories.tsx
Due: none

Update packages/react-kit/src/hooks/useCheckExchangePolicy.ts
  packages/react-kit/src/hooks/useCheckExchangePolicy.ts
Due: none

Update packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/core-sdk/src/offers/checkExchangePolicy.ts
Due: core-sdk

copilot pr remarks
  packages/core-sdk/src/offers/checkExchangePolicy.ts
  packages/react-kit/src/hooks/useCheckExchangePolicy.ts
Due: core-sdk

Update packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: none

copilot pr remarks
  packages/core-sdk/src/offers/checkExchangePolicy.ts
Due: core-sdk

copilot pr remarks
  packages/react-kit/src/hooks/useCheckExchangePolicy.ts
Due: none

copilot pr remarks
  packages/react-kit/src/components/offerPolicy/OfferPolicyDetails.tsx
Due: none

Update data/exchangePolicies/exchangePolicyRules.template.json
  data/exchangePolicies/exchangePolicyRules.template.json
Due: none

Add type guard for Yup ValidationError before accessing inner property (#1000)
  package-lock.json
  packages/core-sdk/src/offers/checkExchangePolicy.ts
Due: core-sdk
