Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

add some e2e tests
  e2e/tests/productV1.test.ts
Due: none

fix some issues
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: none

feat: script to port images to pinata
  package-lock.json
  package.json
  scripts/pin-to-pinata.ts
  scripts/upload-to-ipfs.ts
  scripts/utils/infura.ts
Due: none

style: increase min width of the price
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

style: increase min width of the price (#387)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

improve e2e tests
  e2e/tests/productV1.test.ts
Due: none

review requests
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  scripts/pin-to-pinata.ts
  tsconfig.base.json
Due: core-sdk

test: fix mocks
  packages/core-sdk/tests/mocks.ts
Due: none

Update scripts/pin-to-pinata.ts
  scripts/pin-to-pinata.ts
Due: none

feat: script to port images to pinata (#388)
  package-lock.json
  package.json
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  scripts/pin-to-pinata.ts
  scripts/upload-to-ipfs.ts
  scripts/utils/infura.ts
  tsconfig.base.json
Due: core-sdk

Apply mixin pattern to CoreSDK and spread methods across different classes (part 1)
  e2e/tests/accounts.test.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/funds/mixin.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

chore: apply mixin pattern to CoreSDK and spread methods across different classes (part 1)
  e2e/tests/accounts.test.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/funds/mixin.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

fix lint
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

complete spreading the methods out of CoreSDK
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/groups/mixin.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: core-sdk

chore: refactor CoreSDK to spread methods to other classes (mixin pattern) (#389)
  e2e/tests/accounts.test.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/event-logs/mixin.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/funds/mixin.ts
  packages/core-sdk/src/groups/mixin.ts
  packages/core-sdk/src/meta-tx/mixin.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/mixins/base-core-sdk.ts
  packages/core-sdk/src/native-meta-tx/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/orchestration/mixin.ts
Due: core-sdk

feat: add checkTokenGatedCondition
  packages/common/src/abis/ERC1155.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/erc1155/handler.ts
  packages/core-sdk/src/erc1155/index.ts
  packages/core-sdk/src/erc1155/interface.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc721/handler.ts
Due: common, core-sdk

feat: fetch products with variants directly from subgraph (#386)
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/variant.ts
Due: core-sdk

tests: add e2e tests
  e2e/tests/core-sdk.test.ts
Due: none

fix: bug regarding using number instead of big number
  packages/core-sdk/src/offers/mixin.ts
Due: core-sdk

feat: add checkTokenGatedCondition (#390)
  e2e/tests/core-sdk.test.ts
  packages/common/src/abis/ERC1155.json
  packages/common/src/abis/index.ts
  packages/core-sdk/src/erc1155/handler.ts
  packages/core-sdk/src/erc1155/index.ts
  packages/core-sdk/src/erc1155/interface.ts
  packages/core-sdk/src/erc20/handler.ts
  packages/core-sdk/src/erc721/handler.ts
  packages/core-sdk/src/offers/mixin.ts
Due: common, core-sdk

chore: upgrade eth-connect-adapter to work in decentraland
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

support signing meta-transactions from Decentraland
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

clean some logs
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

chore: upgrade eth-connect-adapter to work in decentraland (#391)
  packages/eth-connect-sdk/src/eth-connect-adapter.ts
Due: none

Update README.md
  README.md
Due: none

chore: update protocol contracts submodule
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/core-sdk/src/erc1155/interface.ts
Due: common, core-sdk

fix: validate address
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

chore: add e2e tests for updateSeller()
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
Due: common

fix: set map
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

feat: add sellerId and disputeResolverId to productFilter
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: core-sdk

Update e2e/tests/accounts.test.ts
  e2e/tests/accounts.test.ts
Due: none

refactor: use filter by sellerId
  e2e/tests/productV1.test.ts
Due: none

refactor: use sellerId_in filter
  e2e/tests/productV1.test.ts
Due: none

fix: typo
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

fix: use key and return undefined
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

upgrade contracts submodule to restore SellerUpdated and DisputeResolverUpdated events
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
Due: common

feat: add sellerId and disputeResolverId to productFilter (#396)
  e2e/tests/productV1.test.ts
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: core-sdk

fix: validate address only once (#393)
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

chore: add e2e tests for updateSeller() (#395)
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
Due: common
