Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

fix issue with metadata when signing meta-tx for createOfferWithCondition
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: fix issue with metadata when signing meta-tx for createOfferWithCondition
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

fix: fix issue with metadata when signing meta-tx for createOfferWithCondi… (#371)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

feat: implement funds buttons
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawAllFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawAllFunds.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
Due: none

fix: remove c-log
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
Due: none

feat: add funts ctas (#372)
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawAllFundsButton.tsx
  packages/react-kit/src/components/cta/funds/WithdrawFundsButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawAllFunds.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
Due: none

refactor: use static rpc provider as default
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

refactor: use static rpc provider as default (#373)
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

fix: adapt meta-tx signature to ledger hardware wallet
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

fix: adapt meta-tx signature to ledger hardware wallet (#374)
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

feat:
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

style: make white space evenly distributed in cards
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

style: make white space evenly distributed in cards (#375)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
Due: none

fix: do not recreate a web3 provider is not needed
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

remove usage of InfuraProvider
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

lint fix
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

chore: infura too many calls (#376)
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

refactor: new image component
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/Image.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

refactor: change default to not show loading
  packages/react-kit/src/components/image/Image.tsx
Due: none

fix: images cutting off text below
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

fix: images cutting off text below (#378)
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

refactor: new image component (#377)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/image/Image.styles.ts
  packages/react-kit/src/components/image/Image.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
  packages/react-kit/src/stories/ExchangeCard.stories.tsx
  packages/react-kit/src/stories/Image.stories.tsx
  packages/react-kit/src/stories/ProductCard.stories.tsx
Due: none

feat: get token info from subgraph (when available)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

feat: add onError handler for avatar image
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat: add onError handler for avatar image (#379)
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat: chain id to address
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: get tx address toggle
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

avoid confusion with TokenInfoManager.mapInitialized
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

feat: chain id to address (#382)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: get token info from subgraph (when available) (#380)
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
Due: core-sdk

feat: add lens gateway
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: add lens ipfs gateway
  packages/common/src/configs.ts
Due: common

style: reduce font-weight bold to font-weight: 600
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
Due: none

style: reduce font-weight bold to font-weight: 600 (#384)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
Due: none

feat: add lens ipfs gateway (#383)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: add ProductV1Variant list to ProductV1Product
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
  packages/subgraph/src/entities/metadata/product-v1/variant.ts
Due: none

style: wrap price in cards
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

style: wrap price in cards (#385)
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.styles.ts
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

enrich the ProductV1Product model
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/entities/metadata/product-v1/product.ts
Due: none

add methods getAllProductsWithVariants() and getAllProductsWithNotVoidedVariants()
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/metadata/subgraph.ts
  packages/core-sdk/src/subgraph.ts
Due: core-sdk

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
