Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

feat: create multisteps component
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/components/step/Step.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/buttons/Button.stories.tsx
  packages/react-kit/src/stories/multisteps/MultiSteps.stories.tsx
Due: none

change story
  packages/react-kit/src/stories/multisteps/MultiSteps.stories.tsx
Due: none

comments removed
  packages/react-kit/src/stories/multisteps/MultiSteps.stories.tsx
Due: none

remove sort index react-kit
  packages/react-kit/src/index.tsx
Due: none

feat: update upload component with editor & add story
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/contractualAgreement/ContractualAgreement.tsx
  packages/react-kit/src/components/error/SimpleError.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/FormField.tsx
  packages/react-kit/src/components/form/Upload/ImageEditorModal/ImageEditor.tsx
  packages/react-kit/src/components/form/Upload/ImageEditorModal/ImageEditorModal.tsx
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/license/License.tsx
  packages/react-kit/src/components/modal/ModalComponents.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/ModalTypes.ts
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/common/VariationSelects.tsx
  packages/react-kit/src/hooks/images/useFileImage.ts
  packages/react-kit/src/hooks/images/useIpfsImage.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/lib/base64/base64.ts
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

fix: redeem modal
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

fix: redeem modal (#752)
  packages/react-kit/src/components/modal/components/Redeem/RedeemNonModal.tsx
Due: none

chore: export ipfs provider
  packages/react-kit/src/index.tsx
Due: none

chore: export simple error
  packages/react-kit/src/index.tsx
Due: none

refactor: export named simple error
  packages/react-kit/src/components/contractualAgreement/ContractualAgreement.tsx
  packages/react-kit/src/components/error/SimpleError.tsx
  packages/react-kit/src/components/license/License.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/common/VariationSelects.tsx
Due: none

chore: try to fix CI test pipeline
  tsconfig.tests.json
Due: none

feat: add base text area component
  packages/react-kit/src/components/form/BaseTextArea.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/stories/buttons/Button2.stories.tsx
  packages/react-kit/src/stories/buttons/button.stories.tsx
  packages/react-kit/src/stories/form/BaseInput.stories.tsx
  packages/react-kit/src/stories/form/BaseTextArea.stories.tsx
Due: none

rename button stories
  packages/react-kit/src/stories/buttons/Button.stories.tsx
Due: none

chore: change subgraph host to theGraph studio (all envs) (#746)
  packages/common/src/configs.ts
  packages/subgraph/package.json
Due: common

feat: create multisteps component (#750)
  packages/react-kit/src/components/contractualAgreement/ContractualAgreement.tsx
  packages/react-kit/src/components/error/SimpleError.tsx
  packages/react-kit/src/components/form/BaseTextArea.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/license/License.tsx
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/cancellation/CancelExchange.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/expireVoucher/ExpireVoucher.tsx
  packages/react-kit/src/components/modal/components/common/VariationSelects.tsx
  packages/react-kit/src/components/step/MultiSteps.tsx
  packages/react-kit/src/components/step/Step.styles.ts
  packages/react-kit/src/components/step/Step.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/buttons/Button.stories.tsx
  packages/react-kit/src/stories/form/BaseInput.stories.tsx
  packages/react-kit/src/stories/form/BaseTextArea.stories.tsx
  packages/react-kit/src/stories/multisteps/MultiSteps.stories.tsx
  tsconfig.tests.json
Due: none

renaming
  packages/react-kit/src/stories/buttons/Button.stories.tsx
Due: none

chore: fix subgraph deployment on studio
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

Fix subgraph deployment (#753)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
Due: none

feat: update upload component with editor (#751)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/error/SimpleError.tsx
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/form/FormField.tsx
  packages/react-kit/src/components/form/Upload/ImageEditorModal/ImageEditor.tsx
  packages/react-kit/src/components/form/Upload/ImageEditorModal/ImageEditorModal.tsx
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/Upload/WithUploadToIpfs.tsx
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/components/form/types.ts
  packages/react-kit/src/components/modal/ModalComponents.tsx
  packages/react-kit/src/components/modal/ModalContext.tsx
  packages/react-kit/src/components/modal/ModalTypes.ts
  packages/react-kit/src/hooks/images/useFileImage.ts
  packages/react-kit/src/hooks/images/useIpfsImage.ts
  packages/react-kit/src/lib/base64/base64.ts
  packages/react-kit/src/stories/buttons/Upload.stories.tsx
Due: none

feat: export country select
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/stories/selects/CountrySelect.stories.tsx
Due: none

fix: styles
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/stories/selects/CountrySelect.stories.tsx
Due: none

export helpers
  packages/react-kit/src/index.tsx
Due: none

small fixes
  packages/react-kit/src/components/form/BaseInput.tsx
  packages/react-kit/src/components/form/BaseTagsInput.tsx
  packages/react-kit/src/components/form/Checkbox.tsx
  packages/react-kit/src/components/form/Datepicker.tsx
  packages/react-kit/src/components/form/InputColor.tsx
  packages/react-kit/src/components/form/Phone.tsx
  packages/react-kit/src/components/form/Select.tsx
Due: none

minor fix
  packages/react-kit/src/components/form/BaseTextArea.tsx
Due: none

feat: export country select (#755)
  packages/react-kit/src/components/form/BaseInput.tsx
  packages/react-kit/src/components/form/BaseTagsInput.tsx
  packages/react-kit/src/components/form/BaseTextArea.tsx
  packages/react-kit/src/components/form/Checkbox.tsx
  packages/react-kit/src/components/form/CountrySelect.tsx
  packages/react-kit/src/components/form/Datepicker.tsx
  packages/react-kit/src/components/form/InputColor.tsx
  packages/react-kit/src/components/form/Phone.tsx
  packages/react-kit/src/components/form/Select.tsx
  packages/react-kit/src/components/form/Upload/Upload.tsx
  packages/react-kit/src/components/form/index.ts
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/selects/CountrySelect.stories.tsx
Due: none

add buildAdvancedOrder() method to marketplace interface
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
Due: core-sdk

chore: remove wethAddress from the wrapper to avoid any confusion between WETH and Wrapped Native currency token (which are equivalent on Ethereum, but different on other chains)
  contracts/hardhat.config.js
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapper.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapperFactory.sol
  contracts/scripts/deploy-wrappers.js
  contracts/scripts/tasks/deployWrappers.js
  contracts/test/utils.js
  e2e/docker-compose.yml
  packages/common/src/abis/OpenSeaWrapper.json
  packages/common/src/abis/OpenSeaWrapperFactory.json
Due: common

pr remarks
  contracts/hardhat.config.js
Due: none

fix call to deployWrappers()
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
Due: none

fix: useProvider
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/index.ts
Due: none

chore: implement OpenSeaWrapper and OpenSeaWrapperFactory contracts (#721)
  contracts/hardhat.config.js
  contracts/other-contracts/mock/MockBosonSellerHandler.sol
  contracts/other-contracts/mock/MockBosonVoucher.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapper.sol
  contracts/other-contracts/opensea-wrapper/OpenSeaWrapperFactory.sol
  contracts/scripts/deploy-seaport.js
  contracts/scripts/deploy-wrappers.js
  contracts/scripts/deploy.js
  contracts/scripts/tasks/deployWrappers.js
  contracts/test/MockBosonSellerHandler.test.js
  contracts/test/MockBosonVoucher.test.js
  contracts/test/OpenSeaWrapperFactory.test.js
  contracts/test/utils.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk-royalties.test.ts
  e2e/tests/opensea-price-discovery.test.ts
  e2e/tests/utils.ts
  package.json
  packages/common/src/abis/OpenSeaWrapper.json
  packages/common/src/abis/OpenSeaWrapperFactory.json
  packages/common/src/abis/SeaportInterface.json
  packages/common/src/abis/index.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/core-sdk/src/marketplaces/mixin.ts
  packages/core-sdk/src/marketplaces/opensea.ts
  packages/core-sdk/src/marketplaces/types.ts
  scripts/create-price-discovery-offer.ts
  scripts/create-seller.ts
  scripts/export-abis.ts
  scripts/opensea/create-listing.ts
  scripts/opensea/create-offer.ts
  scripts/opensea/fulfil-order.ts
  scripts/opensea/utils.ts
  scripts/opensea/wrap-vouchers.ts
Due: common, core-sdk

fix: useProvider (#756)
  packages/react-kit/src/hooks/connection/connection.ts
  packages/react-kit/src/hooks/index.ts
Due: none

chore: adapt marketplace to avoid compilation issue on Fermion
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

fix linter
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

fix: grid and typography components
  packages/react-kit/src/components/ui/Grid.tsx
  packages/react-kit/src/components/ui/Typography.tsx
  packages/react-kit/src/components/ui/common.ts
Due: none

fix: grid and typography components (#758)
  packages/react-kit/src/components/ui/Grid.tsx
  packages/react-kit/src/components/ui/Typography.tsx
  packages/react-kit/src/components/ui/common.ts
Due: none

chore: adapt marketplace to avoid compilation issue on Fermion (#757)
  packages/core-sdk/src/marketplaces/opensea.ts
Due: core-sdk

chore: allow @bosonprotocol/ipfs-storage package to be independant from @bosonprotocol/metadata package
  e2e/tests/utils.ts
  package-lock.json
  packages/core-sdk/src/metadata/storeMetadataItems.ts
  packages/ipfs-storage/src/index.ts
  packages/ipfs-storage/src/ipfs/metadata.ts
  packages/ipfs-storage/src/utils.ts
  packages/ipfs-storage/src/validation.ts
  packages/metadata-storage/README.md
  packages/metadata-storage/jest.config.js
  packages/metadata-storage/package.json
  packages/metadata-storage/src/index.ts
  packages/metadata-storage/tsconfig.cjs.json
  packages/metadata-storage/tsconfig.json
  packages/metadata-storage/tsconfig.tests.json
  packages/metadata/package.json
  packages/metadata/src/collection/index.ts
  packages/metadata/src/iMetadata/index.ts
  packages/metadata/src/index.ts
  packages/metadata/src/rNFT/index.ts
  packages/react-kit/src/hooks/core-sdk/useCoreSdk.tsx
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: core-sdk

fix linter
  packages/react-kit/src/hooks/useIpfsMetadataStorage.tsx
Due: none

feat: add cardCta component
  packages/react-kit/src/components/ui/CardCTA.tsx
  packages/react-kit/src/index.tsx
Due: none

Path conditions:
  common: any of: packages/common/src
  core-sdk: any of: packages/core-sdk/src
