Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

Update packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

few improvements at storybook
  packages/react-kit/src/hooks/useCoreSdk.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
Due: none

repair e2e test for meta-tx
  e2e/tests/meta-tx.test.ts
  examples/meta-tx-gateway/src/app.ts
  examples/meta-tx-gateway/src/config.ts
  examples/meta-tx-gateway/src/controllers/meta-tx.ts
  examples/meta-tx-gateway/src/routes/meta-tx.ts
  examples/meta-tx-gateway/src/routes/root.ts
  examples/meta-tx-gateway/src/services/meta-tx.ts
  packages/common/src/configs.ts
Due: common

upgrade container tag to force rebuild
  e2e/docker-compose.yml
Due: none

fix: wrong dataCard type fix
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

fix: wrong dataCard type fix (#260)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
  packages/react-kit/src/components/productCard/ProductCard.tsx
Due: none

feat: new tokens images
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Boson.tsx
  packages/react-kit/src/icons/coins/Dai.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/Usdc.tsx
  packages/react-kit/src/icons/coins/Weth.tsx
  packages/react-kit/src/icons/coins/index.tsx
Due: none

feat: new tokens images (#262)
  packages/react-kit/src/components/currencyDisplay/CurrencyDisplay.tsx
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Boson.tsx
  packages/react-kit/src/icons/coins/Dai.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/Usdc.tsx
  packages/react-kit/src/icons/coins/Weth.tsx
  packages/react-kit/src/icons/coins/index.tsx
Due: none

feat: update readme with testing subgraph details
  packages/subgraph/README.md
Due: none

feat: update readme with testing subgraph details (#263)
  packages/subgraph/README.md
Due: none

feat: support complete exchange batch
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
Due: core-sdk

fixup
  e2e/tests/core-sdk.test.ts
Due: none

fix: completable exchange assertions
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

feat: support complete exchange batch (#264)
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
Due: core-sdk

feat: complete exchange button add
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
Due: none

feat: complete exchange button add (#265)
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
Due: none

feat: batch complete cta button add
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
Due: none

feat: update svgs
  packages/react-kit/src/icons/MagnifyingGlass.tsx
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Boson.tsx
  packages/react-kit/src/icons/coins/Dai.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/Usdc.tsx
  packages/react-kit/src/icons/coins/Weth.svg
Due: none

feat: batch complete cta button add (#266)
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/index.tsx
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
Due: none

feat: update svgs (#267)
  packages/react-kit/src/icons/MagnifyingGlass.tsx
  packages/react-kit/src/icons/coins/Bitcoin.tsx
  packages/react-kit/src/icons/coins/Boson.tsx
  packages/react-kit/src/icons/coins/Dai.tsx
  packages/react-kit/src/icons/coins/Ether.tsx
  packages/react-kit/src/icons/coins/Polygon.tsx
  packages/react-kit/src/icons/coins/Solana.tsx
  packages/react-kit/src/icons/coins/Tether.tsx
  packages/react-kit/src/icons/coins/Usdc.tsx
  packages/react-kit/src/icons/coins/Weth.svg
Due: none

refactor: move mock meta tx gateway to e2e folder
  e2e/docker-compose.yml
  e2e/meta-tx-gateway/.env.example
  e2e/meta-tx-gateway/.gitignore
  e2e/meta-tx-gateway/Dockerfile
  e2e/meta-tx-gateway/index.ts
  e2e/meta-tx-gateway/package.json
  e2e/meta-tx-gateway/src/app.ts
  e2e/meta-tx-gateway/src/config.ts
  e2e/meta-tx-gateway/src/controllers/health.ts
  e2e/meta-tx-gateway/src/controllers/meta-tx.ts
  e2e/meta-tx-gateway/src/errors/ApiError.ts
  e2e/meta-tx-gateway/src/errors/types.ts
  e2e/meta-tx-gateway/src/middlewares/error.ts
  e2e/meta-tx-gateway/src/middlewares/http-logger.ts
  e2e/meta-tx-gateway/src/routes/health.ts
  e2e/meta-tx-gateway/src/routes/meta-tx.ts
  e2e/meta-tx-gateway/src/routes/root.ts
  e2e/meta-tx-gateway/src/services/health.ts
  e2e/meta-tx-gateway/src/services/meta-tx.ts
  e2e/meta-tx-gateway/src/utils/error.ts
  e2e/meta-tx-gateway/src/utils/logger.ts
  e2e/meta-tx-gateway/src/utils/web3.ts
  e2e/meta-tx-gateway/tsconfig.json
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  examples/meta-tx-gateway/.prettierrc
  package-lock.json
  package.json
Due: none

refactor: meta tx config initialization and wait method
  packages/common/src/types/configs.ts
  packages/core-sdk/src/core-sdk.ts
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/meta-tx/biconomy.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/utils/errors.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: common, core-sdk

chore: remove obsolete biconomy hooks and deps
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/hooks/meta-tx/useBiconomy.tsx
  packages/react-kit/src/hooks/meta-tx/useMetaTxHandlerContract.ts
Due: none

refactor: meta tx configuration in react-kit
  packages/core-sdk/src/core-sdk.ts
  packages/react-kit/src/components/cta/common/types.ts
  packages/react-kit/src/components/cta/exchange/CancelButton.tsx
  packages/react-kit/src/components/cta/exchange/RedeemButton.tsx
  packages/react-kit/src/components/cta/offer/CommitButton.tsx
  packages/react-kit/src/components/cta/offer/VoidButton.tsx
Due: core-sdk

feat: exchange card cta section hover animation add
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

feat: exchange card cta section hover animation add (#269)
  packages/react-kit/src/components/exchangeCard/ExchangeCard.styles.ts
  packages/react-kit/src/components/exchangeCard/ExchangeCard.tsx
Due: none

chore: remove mexa
  package-lock.json
  packages/react-kit/package.json
Due: none

remove obsolete metaTransactionApiKey prop
  packages/react-kit/src/components/cta/exchange/BatchCompleteButton.tsx
  packages/react-kit/src/components/cta/exchange/CompleteButton.tsx
Due: none

docs: add basic guides and remove todos
  docs/README.md
  docs/guides/use-with-ethers-ipfs.md
  docs/guides/use-with-react.md
  packages/core-sdk/README.md
Due: none

docs: hide api docs for now
  docs/README.md
Due: none

docs: add basic guides and remove todos (#270)
  docs/README.md
  docs/guides/use-with-ethers-ipfs.md
  docs/guides/use-with-react.md
  packages/core-sdk/README.md
Due: none

feat: add explorer url getter to retrieve any tx details
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

fix: compilation
  packages/common/src/types/configs.ts
Due: common

feat: add explorer url getter to retrieve any tx details (#271)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

style: update colors buttons
  packages/react-kit/src/components/buttons/Button.styles.ts
Due: none

style: update colors buttons (#272)
  packages/react-kit/src/components/buttons/Button.styles.ts
Due: none

feat: add num of commits / redemptions
  packages/core-sdk/src/metadata/base.graphql
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/base.ts
  packages/subgraph/src/entities/metadata/product-v1/index.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/tests/exchange-handler.test.ts
Due: core-sdk

test: fix mocks
  packages/core-sdk/tests/mocks.ts
Due: none
