Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

update CI workflow to ubuntu-24 and node-20
  .github/workflows/ci.yaml
  .github/workflows/pin-to-pinata.yaml
  .github/workflows/publish-alpha.yaml
  .github/workflows/publish-latest.yaml
Due: none

change resolveDispute() argument list
  packages/core-sdk/src/disputes/interface.ts
  packages/core-sdk/src/utils/signature.ts
Due: core-sdk

method commitToOffer() and commitToConditionalOffer() moved to ExchangeCommit ABI
  packages/core-sdk/src/exchanges/interface.ts
Due: core-sdk

method depositFunds(): argument _sellerId is renamed into _entityId
  packages/core-sdk/src/funds/handler.ts
  packages/core-sdk/src/funds/interface.ts
  packages/core-sdk/src/funds/mixin.ts
Due: core-sdk

regenerate typechain wrappers in ethers-sdk package
  packages/ethers-sdk/src/contracts/DRFeeMutualizer.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonConfigHandler.ts
  packages/ethers-sdk/src/contracts/IBosonDisputeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeCommitHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler240.ts
  packages/ethers-sdk/src/contracts/IBosonFundsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonMetaTransactionsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler240.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonPriceDiscoveryHandler.ts
  packages/ethers-sdk/src/contracts/IDRFeeMutualizer.ts
  packages/ethers-sdk/src/contracts/OpenSeaWrapper.ts
  packages/ethers-sdk/src/contracts/OpenSeaWrapperFactory.ts
  packages/ethers-sdk/src/contracts/Seaport.ts
  packages/ethers-sdk/src/contracts/SeaportInterface.ts
  packages/ethers-sdk/src/contracts/factories/DRFeeMutualizer__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonConfigHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonDisputeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeCommitHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler240__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonMetaTransactionsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler240__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonPriceDiscoveryHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IDRFeeMutualizer__factory.ts
  packages/ethers-sdk/src/contracts/factories/OpenSeaWrapperFactory__factory.ts
  packages/ethers-sdk/src/contracts/factories/OpenSeaWrapper__factory.ts
  packages/ethers-sdk/src/contracts/factories/SeaportInterface__factory.ts
  packages/ethers-sdk/src/contracts/factories/Seaport__factory.ts
  packages/ethers-sdk/src/contracts/index.ts
Due: none

method depositFunds(): argument _sellerId is renamed into _entityId
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/react-kit/src/components/cta/funds/DepositFundsButton.tsx
Due: core-sdk

fix core-sdk tests
  packages/common/src/types/offers.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/tests/meta-tx/biconomy.test.ts
  packages/core-sdk/tests/offers/interface.test.ts
Due: common, core-sdk

fix core-sdk e2e test
  contracts/hardhat.config.js
  e2e/tests/core-sdk-premint.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/utils.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/groups.ts
  packages/core-sdk/src/disputes/handler.ts
  packages/core-sdk/src/disputes/mixin.ts
  packages/core-sdk/src/groups/interface.ts
  packages/core-sdk/src/utils/signature.ts
Due: common, core-sdk

fix meta-tx e2e tests
  e2e/docker-compose.yml
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

improve test coverage for signMetaTxResolveDispute()
  packages/core-sdk/tests/meta-tx/handler.test.ts
Due: none

improve test coverage for utils signature.ts
  packages/core-sdk/tests/utils/signature.test.ts
Due: none

restore main version for meta-tx-gateway container
  e2e/docker-compose.yml
Due: none

improve test coverage for utils/signature.ts
  packages/core-sdk/tests/utils/signature.test.ts
Due: none

improve test coverage
  packages/core-sdk/tests/meta-tx/handler.test.ts
Due: none

improve test coverage
  packages/core-sdk/tests/offers/offer-status.test.ts
Due: none

fix linter
  packages/core-sdk/tests/offers/offer-status.test.ts
Due: none

feat: manage buyer-initiated offers
  e2e/docker-compose.yml
  e2e/tests/core-sdk-offers.test.ts
  e2e/tests/utils.ts
  packages/common/tests/mocks.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/exchanges/queries.graphql
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/react-kit/src/components/avatar/SellerID.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailViewWithProvider.tsx
  packages/react-kit/src/components/modal/components/common/detail/SellerAndDescription.tsx
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
Due: core-sdk

Update packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/exchange-handler.ts
Due: none

re-work the biconomy/resubmitted test
  packages/core-sdk/tests/meta-tx/biconomy.test.ts
Due: none

use enums in OfferStruct
  packages/common/src/types/offers.ts
Due: common

feat: add buyer initiated offers
  e2e/docker-compose.yml
  e2e/tests/core-sdk-offers.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/exchanges/handler.test.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

wip
  package-lock.json
  package.json
  packages/ipfs-storage/package.json
  packages/react-kit/package.json
  packages/utils/package.json
Due: none

chore: update chat-sdk dependency and imports
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/chat/ChatProvider/ChatContext.ts
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/chat/ChatProvider/const.ts
  packages/react-kit/src/components/chat/useChatStatus.ts
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

format file
  packages/react-kit/src/components/form/Field.styles.ts
Due: none

handle BuyerInitiatedOfferSetSellerParamsEvent in subgraph
  e2e/tests/core-sdk-offers.test.ts
  packages/subgraph/src/mappings/exchange-handler.ts
  packages/subgraph/src/mappings/funds-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

chore: update chat-sdk dependency and imports (#969)
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/chat/ChatProvider/ChatContext.ts
  packages/react-kit/src/components/chat/ChatProvider/ChatProvider.tsx
  packages/react-kit/src/components/chat/ChatProvider/const.ts
  packages/react-kit/src/components/chat/useChatStatus.ts
  packages/react-kit/src/components/form/Field.styles.ts
  packages/react-kit/src/components/modal/components/Redeem/Confirmation/Confirmation.tsx
Due: none

complete e2e tests
  contracts/scripts/deploy-dRFeeMutualizer.js
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk-offers.test.ts
  e2e/tests/mockAbis.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/exchanges/interface.ts
Due: core-sdk

change: override protocol version in boson-protocol-node container image
  contracts/package.json
  contracts/scripts/postinstall.js
Due: none

chore: update protocolVersion variable
  contracts/package.json
Due: none

chore: override contracts version in protocol container (#971)
  contracts/package.json
  contracts/scripts/postinstall.js
Due: none

fix: hover on commit button when used in vite dapps
  packages/react-kit/src/components/buttons/commit/CommitView.tsx
  packages/react-kit/src/types/externals.d.ts
Due: none

feat: add create offer and commit
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
Due: common, core-sdk

wip
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/offers.ts
  packages/common/src/utils/validation.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/offers/types.ts
Due: common, core-sdk

add createBuyer method + complete tests for createOfferAndCommit
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  package.json
  packages/common/src/types/accounts.ts
  packages/common/src/types/offers.ts
  packages/core-sdk/src/accounts/handler.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/mixin.ts
  packages/core-sdk/src/accounts/types.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/offers/mixin.ts
Due: common, core-sdk

refactor tests
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
Due: none

update protocol onto v2.5.0-rc.2
  contracts/package.json
  e2e/docker-compose.yml
Due: none

add new method voidNonListedOffer()
  e2e/tests/core-sdk.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/offers.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
  packages/core-sdk/src/offers/handler.ts
  packages/core-sdk/src/offers/interface.ts
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/offers/types.ts
Due: common, core-sdk
