Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

chore: update eslintignore
  packages/react-kit/.eslintignore
Due: none

feat: export offer utilities (#919)
  packages/react-kit/.eslintignore
  packages/react-kit/src/hooks/index.ts
  packages/react-kit/src/index.tsx
Due: none

feat: export media sliders
  packages/react-kit/src/index.tsx
Due: none

feat: export media sliders (#920)
  packages/react-kit/src/index.tsx
Due: none

feat: export detail slider without default
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailSlider.tsx
Due: none

feat: export detail slider without default (#921)
  packages/react-kit/src/components/modal/components/Commit/OfferVariantView.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/common/detail/DetailSlider.tsx
Due: none

fix: loading bubble styles
  packages/react-kit/src/components/skeleton/common.ts
Due: none

fix: loading bubble styles (#922)
  packages/react-kit/src/components/skeleton/common.ts
Due: none

chore: add optimism blockchains
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/assets/optimism-logo-light.svg
  packages/react-kit/src/hooks/connection/useSwitchChain.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/const/providers.ts
  packages/react-kit/src/lib/const/routing.ts
  packages/react-kit/src/lib/const/tokens.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/render-manifest.ts
  scripts/opensea/utils.ts
Due: common, core-sdk

deploy testing subgraph on optimism
  packages/subgraph/logs/boson-testing-optimism
  packages/subgraph/package.json
  packages/subgraph/scripts/post-deploy-on-ormi.ts
  packages/subgraph/scripts/render-manifest.ts
Due: none

fix storybook building
  packages/react-kit/src/assets/svg/optimism-logo-light.svg
Due: none

feat: add items per row grid container for xxs breakpoint
  packages/react-kit/src/components/ui/GridContainer.tsx
Due: none

feat: add items per row grid container for xxs breakpoint (#925)
  packages/react-kit/src/components/ui/GridContainer.tsx
Due: none

upgrade protocol dependency and create script to extract contract addresses
  contracts/package-lock.json
  contracts/package.json
  package.json
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/protocolAddresses.json
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  scripts/update-protocol-addresses.ts
Due: common

complete missing changes to add Optimism mainnet
  e2e/opensea-api-mock/src/services/opensea.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/hooks/connection/useSwitchChain.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/package.json
  packages/subgraph/scripts/post-deploy-on-ormi.ts
  packages/subgraph/scripts/render-manifest.ts
  scripts/opensea/utils.ts
Due: core-sdk

add pin-to-pinata on missing production envs
  .github/workflows/pin-to-pinata.yaml
Due: none

move protocolAddresses.json to a generated folder
  packages/common/.gitignore
  packages/common/generated/protocolAddresses.json
  packages/common/src/configs.ts
  scripts/update-protocol-addresses.ts
Due: common

add deployment block numbers
  packages/common/src/configs.ts
  packages/subgraph/scripts/render-manifest.ts
Due: common

confirm the disputeResolvers on testing-11155420-0 and staging-11155420-0
  packages/common/src/configs.ts
  packages/common/src/generated/protocolAddresses.json
Due: common

chore: add optimism blockchains (#923)
  .github/workflows/deploy-prod-subgraph.yaml
  .github/workflows/deploy-staging-subgraph.yaml
  .github/workflows/deploy-testing-subgraph.yaml
  .github/workflows/pin-to-pinata.yaml
  contracts/package-lock.json
  contracts/package.json
  e2e/opensea-api-mock/src/services/opensea.ts
  package.json
  packages/common/.gitignore
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/generated/protocolAddresses.json
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
  packages/common/tests/index.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/core-sdk/src/utils/tokenInfoManager.ts
  packages/react-kit/src/assets/svg/optimism-logo-light.svg
  packages/react-kit/src/hooks/connection/useSwitchChain.ts
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/chains.ts
  packages/react-kit/src/lib/const/networks.ts
  packages/react-kit/src/lib/const/providers.ts
  packages/react-kit/src/lib/const/routing.ts
  packages/react-kit/src/lib/const/tokens.ts
  packages/react-kit/src/lib/opensea/getOpenSeaUrl.ts
  packages/subgraph/logs/boson-testing-optimism
  packages/subgraph/package.json
  packages/subgraph/scripts/post-deploy-on-ormi.ts
  packages/subgraph/scripts/render-manifest.ts
  scripts/opensea/utils.ts
  scripts/update-protocol-addresses.ts
Due: common, core-sdk

chore: fix script update-protocol-addresses
  scripts/update-protocol-addresses.ts
Due: none

refine gitignore
  packages/common/.gitignore
Due: none

force rebuild e2e suite containers
  e2e/docker-compose.yml
Due: none

feat: make uploaded single pdf clickable
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
Due: none

feat: make uploaded single pdf clickable (#927)
  packages/react-kit/src/components/form/Upload/UploadedSinglePdfFile.tsx
Due: none

feat: add tag prop to grid component
  packages/react-kit/src/components/ui/Grid.tsx
Due: none

feat: add tag prop to grid component (#928)
  packages/react-kit/src/components/ui/Grid.tsx
Due: none

upgrade @uniswap/sdk-core to get up-to-date optimism chain data
  package-lock.json
  packages/react-kit/package.json
Due: none

chore: fix script update-protocol-addresses (#926)
  e2e/docker-compose.yml
  package-lock.json
  packages/common/.gitignore
  packages/react-kit/package.json
  scripts/update-protocol-addresses.ts
Due: none

chore: resolve warnings [DEPRECATED]: use `useSetAtom/useAtomValue` from `jotai` instead
  packages/react-kit/src/components/connection/activate.ts
  packages/react-kit/src/components/wallet2/accountDrawer/index.tsx
Due: none

remove cloudflare ipfs url (no longer valid)
  packages/react-kit/src/lib/url/uriToHttp.ts
Due: none

comment not existing token list urls
  packages/react-kit/src/lib/const/lists.ts
Due: none

change optimism logo
  packages/react-kit/src/assets/svg/optimism_square_logo.svg
  packages/react-kit/src/assets/svg/optimistic_ethereum.svg
  packages/react-kit/src/lib/const/chainInfo.ts
Due: none

fix storybook build error
  packages/react-kit/src/lib/const/chainInfo.ts
Due: none

fix e2e (random) failure
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-suite.cmd
  packages/core-sdk/src/subgraph/mixin.ts
Due: core-sdk

feat: remove explicit onClick prop from Typography
  packages/react-kit/src/components/ui/Typography.tsx
Due: none

wip
  packages/react-kit/src/components/ui/Typography.tsx
Due: none

feat: remove explicit onclick prop typography (#930)
  packages/react-kit/src/components/ui/Typography.tsx
Due: none

small change to force e2e:test to run again
  e2e/tests/core-sdk-royalties.test.ts
Due: none

chore: clean some error logs (#929)
  contracts/hardhat.config.js
  e2e/docker-compose.yml
  e2e/run-e2e-services.cmd
  e2e/run-e2e-suite.cmd
  e2e/tests/core-sdk-royalties.test.ts
  packages/core-sdk/src/subgraph/mixin.ts
  packages/react-kit/src/assets/svg/optimism_square_logo.svg
  packages/react-kit/src/assets/svg/optimistic_ethereum.svg
  packages/react-kit/src/components/connection/activate.ts
  packages/react-kit/src/components/wallet2/accountDrawer/index.tsx
  packages/react-kit/src/lib/const/chainInfo.ts
  packages/react-kit/src/lib/const/lists.ts
  packages/react-kit/src/lib/url/uriToHttp.ts
Due: core-sdk
