Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

update typechain
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/IBosonFundsHandler.ts
  packages/ethers-sdk/src/contracts/IBosonGroupHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOfferHandler.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/MockForwarder.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonFundsHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonGroupHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOfferHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/ethers-sdk/src/contracts/factories/MockForwarder__factory.ts
Due: none

refactor: pr changes
  packages/core-sdk/src/meta-tx/handler.ts
  scripts/change-contract-uri.ts
  scripts/checkOfferExchangePolicy.ts
  scripts/complete-exchange.ts
  scripts/create-dispute-resolver.ts
  scripts/create-offer-batch.ts
  scripts/create-offer.ts
  scripts/create-seller.ts
  scripts/deposit-funds.ts
  scripts/explore-offer.ts
  scripts/pin-to-pinata.ts
  scripts/update-dispute-resolver.ts
  scripts/update-seller.ts
  scripts/upload-to-ipfs.ts
Due: core-sdk

fix contracts deployment script to match new ethers/hardhat version
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy-seaport.js
  contracts/scripts/deploy.js
Due: none

upgrade subgraph models according to protocol changes
  packages/common/src/abis/IBosonGroupHandler.json
  packages/common/src/types/groups.ts
  packages/common/src/types/offers.ts
  packages/core-sdk/src/groups/interface.ts
  packages/core-sdk/src/groups/queries.graphql
  packages/core-sdk/src/offers/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/TokenGated.tsx
  packages/subgraph/src/mappings/group-handler.ts
Due: common, core-sdk

update local contracts addresses
  packages/common/src/configs.ts
Due: common

ensure SellerCreated/GroupCreated/GroupUpdated legacy events are still handled by the subgraph
  packages/common/src/abis/IBosonGroupHandlerLegacy.json
  packages/common/src/abis/IBosonOfferHandlerLegacy.json
  packages/react-kit/src/hooks/useRenderTemplate.ts
  packages/subgraph/src/entities/dispute-resolution.ts
  packages/subgraph/src/mappings/group-handler.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common

feat: new core sdk on config id switch
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

feat: add default dispute resolver id
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: add sellers black list
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

feat: new core sdk on config id switch (#544)
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

refactor: change default dispute resolver to string
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

Update packages/common/src/configs.ts
  packages/common/src/configs.ts
Due: common

feat: add default dispute resolver id and sellers black lists (#545)
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

fix: button ref
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
Due: none

fix: button ref (#546)
  packages/react-kit/src/components/buttons/Button.tsx
  packages/react-kit/src/components/ui/ThemedButton.tsx
Due: none

fix lint
  packages/core-sdk/src/offers/mixin.ts
  packages/core-sdk/src/offers/renderContractualAgreement.ts
  packages/core-sdk/tests/funds/handler.test.ts
  packages/core-sdk/tests/mocks.ts
  packages/react-kit/src/components/avatar/SellerID.tsx
Due: core-sdk

fix jest issue
  e2e/jest.config.js
  e2e/tsconfig.tests.json
  package-lock.json
  packages/core-sdk/jest.config.js
  packages/core-sdk/tsconfig.tests.json
  packages/metadata/jest.config.js
  packages/metadata/tsconfig.tests.json
  packages/react-kit/package.json
Due: none

upgrade turbo version
  package-lock.json
  package.json
Due: none

feat: add default tokens to protocol config
  packages/common/src/configs.ts
  packages/common/src/types/configs.ts
Due: common

refactor: default tokens and other mappings
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
Due: common

update protocol to v2.3.0-rc.2 tag
  contracts/hardhat.config.js
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/ProtocolDiamond.json
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
Due: common

feat: add default tokens to protocol config (#548)
  packages/common/src/chains.ts
  packages/common/src/configs.ts
  packages/common/src/mappings.ts
  packages/common/src/types/configs.ts
Due: common

ci: fix build
  packages/common/src/types/configs.ts
Due: common

ci: fix build (#549)
  packages/common/src/types/configs.ts
Due: common

fix e2e tests
  contracts/scripts/deploy.js
  e2e/docker-compose.yml
  e2e/tests/core-sdk.test.ts
  packages/core-sdk/src/exchanges/handler.ts
  packages/core-sdk/src/exchanges/interface.ts
  packages/core-sdk/src/exchanges/mixin.ts
Due: core-sdk

fir core-sdk test
  packages/core-sdk/src/exchanges/handler.ts
Due: core-sdk

add dependency to @types/jest to fix IDE warning
  package-lock.json
  package.json
  packages/core-sdk/package.json
  packages/metadata/package.json
Due: none

fix ipfs-storage test
  package-lock.json
  packages/ipfs-storage/jest.config.js
  packages/ipfs-storage/package.json
  packages/ipfs-storage/tests/ipfs.test.ts
Due: none

fix missing file
  packages/ipfs-storage/tsconfig.tests.json
Due: none

style: remove color
  packages/react-kit/src/components/cta/common/styles.ts
Due: none

fix: build
  packages/subgraph/scripts/render-manifest.ts
Due: none

fix: storybook freeze object prop in stories
  packages/react-kit/src/stories/cta/dispute/AddFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/AddSellerToDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/CreateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/DecideDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/EscalateDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExpireEscalationDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ExtendDisputeTimeoutButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RaiseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RefuseDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveFeesDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RemoveSellerFromDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/ResolveDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/RetractDisputeButton.stories.tsx
  packages/react-kit/src/stories/cta/dispute/UpdateDisputeResolverButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/BatchCompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CancelButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/CompleteButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/ExpireButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RedeemButton.stories.tsx
  packages/react-kit/src/stories/cta/exchange/RevokeButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/DepositFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawAllFunds.stories.tsx
  packages/react-kit/src/stories/cta/funds/WithdrawFundsButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/BatchVoidButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CommitButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/CreateOfferButton.stories.tsx
  packages/react-kit/src/stories/cta/offer/VoidButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/CreateSellerButton.stories.tsx
  packages/react-kit/src/stories/cta/seller/UpdateSellerButton.stories.tsx
Due: none

add method signMetaTxCommitToConditionalOffer()
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  e2e/tests/meta-tx.test.ts
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/meta-tx/mixin.ts
Due: core-sdk

relink to the protocol main branch (now changes have been merged)
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
Due: none

upgrade protocol to tag v2.3.0-rc.3
  contracts/package-lock.json
  contracts/package.json
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonExchangeHandler.json
  packages/ethers-sdk/src/contracts/IBosonExchangeHandler.ts
  packages/ethers-sdk/src/contracts/ProtocolDiamond.ts
  packages/ethers-sdk/src/contracts/factories/IBosonExchangeHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/ProtocolDiamond__factory.ts
Due: common
