Repository bosonprotocol/core-components: changes, and which Codecov flags are due for each by the changed paths.
All: common, core-sdk

codecov.yml:

flags:
  common:
    paths:
      - packages/common/src
  core-sdk:
    paths:
      - packages/core-sdk/src

minor changes
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/MyItems/Exchange.tsx
Due: none

remove ExchangeView
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/ExchangeView.tsx
  packages/react-kit/src/components/modal/components/Redeem/exchangeView/ExchangeView.tsx
Due: none

restore exchange view
  packages/react-kit/src/components/modal/components/Redeem/exchangeView/ExchangeView.tsx
Due: none

types
  package-lock.json
  packages/react-kit/package.json
  packages/react-kit/src/components/config/ConfigContext.ts
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/environment/EnvironmentProvider.tsx
  packages/react-kit/src/components/ipfs/IpfsContext.ts
  packages/react-kit/src/components/ipfs/IpfsProvider.tsx
  packages/react-kit/src/components/modal/components/Transactions/TransactionSubmittedModal/TransactionSubmittedModal.tsx
  packages/react-kit/src/components/widgets/finance/FinanceWidget.tsx
  packages/react-kit/src/components/widgets/finance/convertion-rate/ConvertionRateProvider.tsx
  packages/react-kit/src/components/widgets/redemption/RedemptionWidget.tsx
  packages/react-kit/src/hooks/useCoreSdk.tsx
Due: none

minor things
  packages/react-kit/src/components/config/ConfigProvider.tsx
  packages/react-kit/src/components/modal/components/Redeem/ExchangeView/DetailView/DetailView.tsx
  packages/react-kit/src/components/modal/components/Redeem/exchangeView/DetailView/DetailView.tsx
Due: none

style: prettier
  packages/react-kit/src/hooks/useCurrentSellers.ts
Due: none

wip
  e2e/run-e2e-services.sh
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/boson-voucher.ts
Due: none

wip
  packages/subgraph/src/mappings/boson-voucher.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none

chore: updates discord and bug bounty links
  README.md
Due: none

chore: generate e2e tests coverage results
  e2e/jest.config.js
Due: none

ci: push e2e tests coverage results into codecov
  .github/workflows/ci.yaml
Due: none

fix e2e test issue in jest configuration
  e2e/jest.config.js
Due: none

feat: add minted field in offer.range and update offer.quantityAvailable on reserving a range
  e2e/docker-compose.yml
  e2e/run-e2e-services.sh
  e2e/tests/core-sdk-premint.test.ts
  packages/common/src/abis/IBosonVoucher.json
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/src/mappings/boson-voucher.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

ci: fix e2e test coverage report location
  e2e/jest.config.js
Due: none

fix: tests
  e2e/tests/core-sdk-premint.test.ts
Due: none

chore: improve test coverage (#473)
  .github/workflows/ci.yaml
  e2e/jest.config.js
Due: none

chore: fix e2e tests code coverage config
  e2e/jest.config.js
Due: none

feat: add minted field in offer.range and update offer.quantityAvailable on reserving a range (#474)
  e2e/docker-compose.yml
  e2e/tests/core-sdk-premint.test.ts
  packages/common/src/abis/IBosonVoucher.json
  packages/core-sdk/src/subgraph.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappings/boson-voucher.ts
  packages/subgraph/src/mappings/offer-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: common, core-sdk

chore: fix e2e tests code coverage config (#475)
  e2e/jest.config.js
Due: none

chore: upgrade contracts submodule to tag v2.2.0
  e2e/docker-compose.yml
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
Due: none

chore: upgrade to protocol v2.2.1
  e2e/docker-compose.yml
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonAccountHandlerLegacy.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandlerLegacy.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandlerLegacy__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/metadata/src/product-v1/index.ts
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: common, core-sdk

tests: update tests
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
Due: common, core-sdk

tests: add test to check that contactPreference in productV1Seller is set
  e2e/tests/productV1.test.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
Due: none

tests: fix unit tests
  packages/core-sdk/tests/offers/handler.test.ts
Due: none

tests: fix tests
  e2e/tests/meta-tx.test.ts
Due: none

tests: fix meta-tx.test
  packages/core-sdk/src/meta-tx/handler.ts
Due: core-sdk

chore: upgrade to protocol v2.2.1 (#477)
  e2e/docker-compose.yml
  e2e/tests/accounts.test.ts
  e2e/tests/meta-tx.test.ts
  e2e/tests/productV1.test.ts
  e2e/tests/utils.ts
  packages/common/src/abis/IBosonAccountHandler.json
  packages/common/src/abis/IBosonAccountHandlerLegacy.json
  packages/common/src/abis/IBosonOrchestrationHandler.json
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/interface.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/meta-tx/handler.ts
  packages/core-sdk/src/metadata/product-v1.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/core-sdk/tests/offers/handler.test.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandler.ts
  packages/ethers-sdk/src/contracts/IBosonAccountHandlerLegacy.ts
  packages/ethers-sdk/src/contracts/IBosonOrchestrationHandler.ts
  packages/ethers-sdk/src/contracts/IBosonVoucher.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandlerLegacy__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonAccountHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonOrchestrationHandler__factory.ts
  packages/ethers-sdk/src/contracts/factories/IBosonVoucher__factory.ts
  packages/metadata/src/product-v1/index.ts
  packages/metadata/tests/product-v1/valid/minimalOffer.json
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/product-v1/seller.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/mocks.ts
Due: common, core-sdk

feat: add seller metadata
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/metadata/src/index.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/subgraph/schema.graphql
Due: common, core-sdk

fix some errors
  e2e/tests/utils.ts
Due: none

fix: test
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/common/src/types/accounts.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/core-sdk/tests/mocks.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/handler.ts
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/links.ts
  packages/subgraph/src/entities/metadata/seller/media.ts
  packages/subgraph/src/entities/metadata/utils.ts
  packages/subgraph/src/mappings/account-handler.ts
Due: common, core-sdk

fix: tests
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/metadata/seller.json
  packages/subgraph/tests/mocks.ts
Due: none

fix: test
  packages/subgraph/tests/funds-handler.test.ts
Due: none

feat: add seller metadata (#479)
  e2e/tests/accounts.test.ts
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/index.ts
  packages/core-sdk/src/metadata/mixin.ts
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/index.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/react-kit/src/components/cta/offer/CreateOfferButton.tsx
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/handler.ts
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/src/entities/metadata/seller/links.ts
  packages/subgraph/src/entities/metadata/seller/media.ts
  packages/subgraph/src/entities/metadata/utils.ts
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/tests/account-handler.test.ts
  packages/subgraph/tests/funds-handler.test.ts
  packages/subgraph/tests/metadata/seller.json
  packages/subgraph/tests/mocks.ts
Due: core-sdk

feat: remove seller metadata kind field
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

feat: remove seller metadata kind field (#480)
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

Revert "feat: remove seller metadata kind field (#480)"
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

chore: revert commit that removed kind field
  packages/subgraph/tests/metadata/seller.json
Due: none

chore: revert commit that removed seller metadata kind field (#481)
  e2e/tests/utils.ts
  packages/core-sdk/src/accounts/queries.graphql
  packages/core-sdk/src/subgraph.ts
  packages/metadata/src/seller/index.ts
  packages/metadata/src/seller/schema.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/entities/metadata/seller/index.ts
  packages/subgraph/tests/metadata/seller.json
Due: core-sdk

chore: add missing ibosonvoucher abi to bosonaccounthandlerlegacy
  packages/subgraph/src/mappings/account-handler.ts
  packages/subgraph/subgraph.template.yaml
Due: none
